.link-effect {
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 1px;
    background-position: 0px calc(100% - 1px);
    background-repeat: no-repeat;
    transition: ease all 0.35s;
    &.active,
    &:hover {
        background-size: 100% 1px;
    }
}