<!--
    aside_left.html
    이 컴포넌트는 왼쪽 사이드바를 구성합니다.

    로그인 상자(로그인된 경우, 프로필 상지, 로그아웃 버튼을 포함합니다)
    카테고리 메뉴(catrgories 컨텍스트를 받은 경우)
    북마크된 게시글 상자, 사용자 활동 요약 상자(categoeies 컨텍스트가 없는 경우)

    (로그인된 경우 account)
    account = {
        'account_type': 'user(사용자), dame(여성회원), partner(파트너), subsupervisor(부관리자), supervisor(관리자) 중 하나. String.',
        'id': 'registered id String.',
        'nickname': 'nickname String.',
        'partner_name': 'partner name String.',
        'partner_email': 'partner email String.',
        'partner_tel': 'partner tel String.',
        'exp': 'experience point Integer.',
        'mileage': 'mileage point Integer.',
        'level': {
            'level': 'level Integer.',
            'image': 'level image url String.', # 이미지가 있다면 이미지를 사용하고, 없다면 아래 내용으로 뱃지를 생성.
            'text': 'level text String.', # 이미지가 없는 경우 사용할 뱃지 텍스트.
            'text_color': 'level text color String.', # 이미지가 없는 경우 사용할 뱃지 텍스트 색상.
            'background_color': 'level background color String.', # 이미지가 없는 경우 사용할 뱃지 배경 색상.
        },
        'subsupervisor_permissions': ['user', 'post', 'banner', 'setting', 'coupon', 'message', 'level'] # 부관리자 권한 리스트.'
    }
-->

<aside class="d-none d-lg-block my-2 px-2" style="width: 240px;">

    <!-- 로그인 -->
    {% if account.account_type == 'guest' %}
    <div>
        <h6 class="text-black-60">
            로그인
        </h6>
        <form onkeyup="if(event.keyCode == 13) tryLogin(this);" id="asideLoginForm">
            {% csrf_token %}
            <div class="form-group">
                <label>아이디</label>
                <input class="form-control" placeholder="아이디를 입력해주세요" name="id">
            </div>
            <div class="form-group mt-2">
                <label>비밀번호</label>
                <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요" name="password" autocomplete="on">
            </div>
            <div class="form-group mt-1">
                <input type="checkbox" class="form-check-input" name="remember" disabled>
                <label class="small">로그인 상태 유지</label>
            </div>
            <div class="mt-4">
                <a href="javascript: tryLogin(document.getElementById('asideLoginForm'));"
                    class="btn btn-primary btn-sm small me-1">로그인</a>
                <a href="{{MAIN_URL}}/signup" class="btn btn-secondary btn-sm small">회원가입</a>
            </div>
        </form>
    </div>
    <!-- 프로필 -->
    {% else %}
    {% include 'components/other/side_profile_box.html' %}
    {% endif %}

    <div style="height: 30px;"></div>

    <!-- 즐겨찾기 -->
    <div>
        <div style="border-bottom: 3px solid #b5c7d7;">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <h6 class="text-black-60">
                        즐겨찾기
                    </h6>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="{{MAIN_URL}}/bookmark" class="small text-black-50">더보기</a>
                </div>
            </div>
        </div>
        <div class="py-3" style="min-height: 200px;">
            {% if account.account_type == 'guest' %}
            <p>
                로그인이 필요합니다
            </p>
            {% elif bookmarks|length == 0 %}
            <p>
                즐겨찾기한 게시글이 없습니다
            </p>
            {% endif %}
            {% for bookmark in bookmarks %}
            {% include 'components/main/post_list/post_list_simplified.html' with post=bookmark %}
            {% endfor %}
        </div>
    </div>

    {% if not categories %}

    <!-- 내 쿠폰들. 사용자 계정만 표시 -->
    <div class="pt-4">
        <div style="border-bottom: 3px solid #b5c7d7;">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <h6 class="text-black-60">
                        내 쿠폰
                    </h6>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="{{MAIN_URL}}/coupon" class="small text-black-50">더보기</a>
                </div>
            </div>
        </div>
        <div class="py-3" style="min-height: 200px;">
            {% if account.account_type == 'guest' %}
            <p>
                로그인이 필요합니다
            </p>
            {% elif coupons_preview|length == 0 %}
            <p>
                사용 가능한 쿠폰이 없습니다
            </p>
            {% endif %}
            {% for coupon in coupons_preview %}
            <div class="p-1 mb-2 pb-2 border-bottom">
                <p class="text-black m-0 small">
                    {{coupon.name}} ({{coupon.related_post.title }})
                </p>
                <p class="text-black-50" style="font-size: 12px;">
                    {{coupon.expire_at}} 까지
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- 활동 내역 -->
    <div class="pt-4">
        <div style="border-bottom: 3px solid #b5c7d7;">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <h6 class="text-black-60">
                        활동 내역
                    </h6>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="{{MAIN_URL}}/activity" class="small text-black-50">더보기</a>
                </div>
            </div>
        </div>
        <div class="py-3" style="min-height: 200px;">
            {% if account.account_type == 'guest' %}
            <p>
                로그인이 필요합니다
            </p>
            {% elif activities_preview|length == 0 %}
            <p>
                활동 내역이 없습니다
            </p>
            {% endif %}
            {% for activity in activities_preview %}
            <div class="p-1 mb-2 pb-2 border-bottom">
                <p class="text-black m-0 small">
                    {{activity.message}}
                </p>
                <p class="text-black-50" style="font-size: 12px;">
                    {{activity.created_at}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

    {% else %}

    <!-- 카테고리 선택 박스 -->
    <div>
        <div style="border-bottom: 3px solid #b5c7d7;">
            <h6 class="text-black-60">
                <i class="fi fi-rr-list"></i> 여행 카테고리
            </h6>
        </div>

        <!-- 카테고리 선택 박스 -->
        <div class="py-3">

            <!-- 1차 카테고리 -->
            {% for category in categories %}
            <div class="pt-2 pb-3 mb-2 border-bottom">
                {% if category.children|length > 0 %}
                <a class="nav-link dropdown-toggle" href="javascript: document.querySelectorAll('.category_{{category.id}}').forEach((el) => el.classList.toggle('d-none'));">
                    {{ category.name }} ({{ category.post_count }})
                </a>
                {% elif category.id == request.GET.category %}
                <a class="nav-link" href="#" style="color: rgb(184, 184, 184);">
                    {{ category.name }} ({{ category.post_count }})
                </a>
                {% else %}
                <a class="nav-link"
                    href="{{MAIN_URL}}/post/travel?board_ids={{request.GET.board_ids}}&category={{category.id}}">
                    {{ category.name }} ({{ category.post_count }})
                </a>
                {% endif %}
            </div>

            <!-- 2차 카테고리 -->
            {% if category.children|length > 0 %}
            {% for child in category.children %}
            <div class="ps-2 pt-2 pb-3 mb-2  border-bottom d-none category_{{category.id}}">
                {% if child.children|length > 0 %}
                <a class="nav-link dropdown-toggle" href="javascript: document.querySelectorAll('.category_{{child.id}}').forEach((el) => el.classList.toggle('d-none'));">
                    {{ child.name }} ({{ child.post_count }})
                </a>
                {% elif child.id in request.GET.category %}
                <a class="nav-link" href="#" style="color: rgb(184, 184, 184);">
                    {{ child.name }} ({{ child.post_count }})
                </a>
                {% else %}
                <a class="nav-link"
                    href="{{MAIN_URL}}/post/travel?board_ids={{request.GET.board_ids}}&category={{ child.id }}">
                    {{ child.name }} ({{ child.post_count }})
                </a>
                {% endif %}
            </div>

            <!-- 3차 카테고리 -->
            {% if child.children|length > 0 %}
            {% for child2 in child.children %}
            <div
                class="ps-4 pt-2 pb-3 mb-2 border-bottom d-none category_{{child1.id}}">
                {% if child2.children|length > 0 %}
                <a class="nav-link dropdown-toggle" href="javascript: document.querySelectorAll('.category_{{child2.id}}').forEach((el) => el.classList.toggle('d-none'));">
                    {{ child2.name }} ({{ child2.post_count }})
                </a>
                {% elif child2.id in request.GET.category %}
                <a class="nav-link" href="#" style="color: rgb(184, 184, 184);">
                    {{ child2.name }} ({{ child2.post_count }})
                </a>
                {% else %}
                <a class="nav-link"
                    href="{{MAIN_URL}}/post/travel?board_ids={{request.GET.board_ids}}&category={{ child2.id }}">
                    {{ child2.name }} ({{ child2.post_count }})
                </a>
                {% endif %}
            </div>

            <!-- 4차 카테고리 -->
            {% if child2.children|length > 0 %}
            {% for child3 in child2.children %}
            <div
                class="ps-6 pt-2 pb-3 mb-2 border-bottom d-none category_{{child2.id}}">
                {% if child3.id in request.GET.category %}
                <a class="nav-link" href="#" style="color: rgb(184, 184, 184);">
                    {{ child3.name }} ({{ child3.post_count }})
                </a>
                {% else %}
                <a class="nav-link"
                    href="javascript:location.href=location.origin + location.pathname + '?board_ids={{request.GET.board_ids}}&category={{ child3.id }}'">
                    {{ child3.name }} ({{ child3.post_count }})
                </a>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}

            {% endfor %}
            {% endif %}

            {% endfor %}
            {% endif %}

            {% endfor %}
        </div>
    </div>


    {% endif %}

</aside>