<!--
    post_header.html
    이 컴포넌트는 게시글의 제목, 작성자, 작성 시간, 조회수, 좋아요 수, 댓글 수를 표시하는 컴포넌트 입니다.

    게시글의 요약 정보는 보통 다음과 같은 정보를 포함합니다:
    post = {
        'id': 'post id Integer.',
        'title': 'post title String.',
        'author': { # 게시글 작성자 정보. 만약 여행지 게시글일 경우, partner_name으로 표시해야함.
            'nickname': 'author nickname String.',
            'partner_name': 'author partner name String.',
        },
        'created_at': 'post created time String(YYYY-MM-DD HH:MM).',
        'view_count': 'post view count Integer.',
        'like_count': 'post like count Integer.',
        'comment_count': 'post comment count Integer.',
    }
-->