<!--
    header.html
    이 컴포넌트는 사이트의 헤더와 네비게이션을 구성합니다.

    네비게이션은 사용자, 파트너, 관리자 페이지별로 다르게 구성됩니다.

    로고, 출석체크, 즐겨찾기, 쿠폰함, 프로필, 쪽지, 로그아웃(로그인) 버튼이 포함됩니다.
-->

<!-- header -->
<header class="header-main header-option-01">
    <div class="header-top bg-light">
        <div class="container">

            <!-- 헤더 상단 메뉴 -->
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <a class="text-black-50 small me-3" style="white-space: nowrap;" href="{{main_url}}/post/attendance">
                        <i class="fi fi-rr-calendar-check"></i> 출석체크
                    </a>
                    <a class="text-black-50 small me-3" style="white-space: nowrap;" href="{{main_url}}/bookmark">
                        <i class="fi fi-rr-bookmark"></i> 즐겨찾기
                    </a>
                    <a class="text-black-50 small" style="white-space: nowrap;" href="{{main_url}}/coupon">
                        <i class="fi fi-rr-ticket"></i> 쿠폰함
                    </a>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a class="text-black-50 small me-3" style="white-space: nowrap;" href="{{main_url}}/profile">
                        <i class="fi fi-rr-user"></i> 프로필
                    </a>
                    <div class="h-col h-switch dropdown me-3" style="display: inline-block;">
                        <a class="theme-switch text-black-50 small" type="button" style="white-space: nowrap;"
                            aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
                            <span class="bi my-1">
                                <i class="fi fi-rr-envelope"></i> 쪽지함
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="bd-theme">
                            <li>
                                <div style="width: 240px;" class="pt-3">
                                    {% if unread_messages|length == 0 %}
                                    <p class="p-2">
                                        새로운 쪽지가 없습니다.
                                    </p>
                                    {% else %}
                                    {% for message in unread_messages %}
                                    <a href="{{main_url}}/message">
                                        <div class="p-2 mb-2 border-bottom">
                                            <p class="text-black-60 m-0">
                                                {{message.title}}
                                            </p>
                                            <p class="text-black-50" style="font-size: 12px;">
                                                {% if message.sender.nickname %}
                                                {{message.sender.nickname}}
                                                {% elif message.sender.id == 'supervisor' %}
                                                관리자
                                                {% else %}
                                                {{message.sender.id}}
                                                {% endif %} | {{message.created_at}}
                                            </p>
                                        </div>
                                    </a>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            <li class="text-end p-2 border-top">
                                <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                                    <a class="text-black-50" href="{{main_url}}/message">
                                        <i class="fi fi-rr-envelope"></i> 쪽지함
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% if account.account_type != 'guest' %}
                    <a class="text-black-50 small" href="javascript: logout();" style="white-space: nowrap;">
                        <i class="fi fi-rr-exit"></i> 로그아웃
                    </a>
                    {% endif %}
                </div>
            </div>

            <!-- 헤더 메인 -->
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <div style="width: 80px; height: 80px;">

                        <!-- 로고 -->
                        <a href="{{main_url}}/">
                            <img class="logo-dark" src="/static/travelertalk/img/icon.png">
                            <img class="logo-light" src="/static/travelertalk/img/icon.png">
                        </a>

                        <!-- 메뉴(오프캔버스X) -->
                        <nav class="navbar navbar-expand-lg" style="display: inline-block;">

                            <div class="offcanvas nav-offcanvas offcanvas-start" tabindex="-1" id="offcanvas_Header_01"
                            aria-labelledby="offcanvas_Header_01">

                                <!-- 아래 메뉴는 모바일에서만 보입니다. -->
                                <div class="offcanvas-body">
                                    {% include 'components/header/menu_user.html' %}
                                </div>
                                {% include 'components/header/sub_menu.html' %}

                            </div>
                        </nav>

                    </div>
                </div>
                <div style="display: inline-block; text-align: right;">

                    {% if account.account_type == 'guest' %}
                    <div class="mt-3 me-3">
                        <a class="text-black-50 small d-lg-none" href="javascript: new bootstrap.Modal(document.getElementById('loginModal')).show();"
                        style="white-space: nowrap;">
                            <i class="fi fi-rr-sign-in-alt"></i> 로그인
                        </a>
                    </div>
                    {% include 'components/modal/account/login.html' %}
                    {% endif %}
                    <div class="offcanvas offcanvas-start text-start" tabindex="-1" id="offcanvasMobileMenu" aria-labelledby="offcanvasMobileMenuLabel">
                        <div class="offcanvas-header" style="background-color: #ffafc8;">
                            <div
                            style="display: flex; justify-content: space-between; white-space: nowrap;">
                                <div style="display: inline-block; text-align: left;">
                                    <h6 class="pt-1 m-0 text-white">
                                        {{server_settings.service_name}}
                                    </h6>
                                </div>
                                <div style="display: inline-block; text-align: right;">
                                    <button class="btn-close" data-bs-dismiss="offcanvas"
                                        data-bs-target="#offcanvasMobileMenu" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        <div class="offcanvas-body p-0">

                            <!-- 모바일 로그인 -->
                            <div class="my-5 p-3">
                                {% if account.account_type == 'guest' %}
                                <h5 class="text-black-60">
                                    로그인
                                </h5>
                                <form onkeyup="if(event.keyCode == 13) tryLogin(this);" id="mobileLoginForm">
                                    <div class="form-group">
                                        <label>아이디</label>
                                        <input class="form-control" placeholder="아이디를 입력해주세요" name="id">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label>비밀번호</label>
                                        <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요"
                                            name="password">
                                    </div>
                                    <div class="form-group mt-1">
                                        <input type="checkbox" class="form-check-input" name="remember"
                                            disabled>
                                        <label class="small">로그인 상태 유지</label>
                                    </div>
                                    <div class="mt-4">
                                        <a href="javascript: tryLogin(document.getElementById('mobileLoginForm'));"
                                            class="btn btn-primary btn-sm small me-1">로그인</a>
                                        <a href="{{main_url}}/signup"
                                            class="btn btn-secondary btn-sm small">회원가입</a>
                                    </div>
                                </form>
                                {% else %}
                                {% include 'components/other/side_profile_box.html' %}
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</header>
{% include 'components/header/toggle_theme.html' %}
<!-- 모바일 게시판 타이틀 -->
<div class="w-100 px-3 mb-4 d-lg-none">
    <div class="mb-3" style="border-bottom: 3px solid #ffafc8;">
        <h6 class="text-black-60">
            게시판
        </h6>
    </div>
    <div>
        <!-- 이미지 버튼 -->
        <div style="display: inline-block;">
            <div style="width: 24%; min-height: 60px; display: inline-block;" class="p-1">
                <div class="border rounded p-2 shadow-sm">
                    <a href="/post/travel?board_ids=1&page=1&search=">
                        <img src="/static/travelertalk/img/travel-bag.png" style="width: 100%; height: auto;">
                        <p class="text-black-50 text-center mb-1">
                            여행지
                        </p>
                    </a>
                </div>
            </div>
            <div style="width: 24%; min-height: 60px; display: inline-block;" class="p-1">
                <div class="border rounded p-2 shadow-sm">
                    <a href="/post/?board_ids=16,17">
                        <img src="/static/travelertalk/img/chat.png" style="width: 100%; height: auto;">
                        <p class="text-black-50 text-center mb-1">
                            자유게시판
                        </p>
                    </a>
                </div>
            </div>
            <div style="width: 24%; min-height: 60px; display: inline-block;" class="p-1">
                <div class="border rounded p-2 shadow-sm">
                    <a href="/post/review">
                        <img src="/static/travelertalk/img/positive-vote.png" style="width: 100%; height: auto;">
                        <p class="text-black-50 text-center mb-1">
                            후기 게시판
                        </p>
                    </a>
                </div>
            </div>
            <div style="width: 24%; min-height: 60px; display: inline-block;" class="p-1">
                <div class="border rounded p-2 shadow-sm">
                    <a href="/post/?board_ids=28">
                        <img src="/static/travelertalk/img/giftbox.png" style="width: 100%; height: auto;">
                        <p class="text-black-50 text-center mb-1">
                            이벤트
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 버튼 -->
        <div class="w-100" style="white-space: wrap;">

            {% for board in boards %}
            {% if board.board_type != 'tree' %}
            <a class="btn btn-light text-black-60 pastel-beige-background me-2 mt-2 shadow-sm" href="/post?board_ids={{ board.id }}">
                {{ board.name }}
            </a>
            {% else %}
            {% for sub1_board in board.children %}
            {% if sub1_board.board_type != 'tree' %}
            <a class="btn btn-light text-black-60 pastel-beige-background me-2 mt-2 shadow-sm" href="/post?board_ids={{board.id}},{{sub1_board.id}}">
                {{ sub1_board.name }}
            </a>
            {% else %}
            {% for sub2_board in sub1_board.children %}
            {% if sub2_board.board_type != 'tree' %}
            <a class="btn btn-light text-black-60 pastel-beige-background me-2 mt-2 shadow-sm" href="/post?board_ids={{board.id}},{{sub1_board.id}},{{sub2_board.id}}">
                {{ sub2_board.name }}
            </a>
            {% else %}
            {% for sub3_board in sub2_board.children %}
            <a class="btn btn-light text-black-60 pastel-beige-background me-2 mt-2 shadow-sm" href="/post?board_ids={{board.id}},{{sub1_board.id}},{{sub2_board.id}},{{sub3_board.id}}">
                {{ sub3_board.name }}
            </a>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}

        </div>

    </div>
</div>