<ul class="navbar-nav mx-auto">

    <!-- 관리자 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/supervisor">
            관리자
        </a>
    </li>

    <!-- 사용자 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/account">
            사용자 관리
        </a>
    </li>

    <!-- 게시글 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/post">
            게시글 관리
        </a>
    </li>

    <!-- 여행지 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/travel">
            여행지 관리
        </a>
    </li>

    <!-- 쿠폰 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/coupon">
            쿠폰 관리
        </a>
    </li>

    <!-- 쪽지 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/message">
            쪽지 관리
        </a>
    </li>

    <!-- 배너 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/banner">
            배너 관리
        </a>
    </li>

    <!-- 레벨 정책 관리 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/level">
            레벨 정책 관리
        </a>
    </li>

    <!-- 설정 -->
    <li class="nav-item">
        <a class="nav-link px-3" href="{{supervisor_url}}/supervisor/setting">
            설정
        </a>
    </li>

</ul>