<div class="d-none">
    <button class="theme-switch h-icon dropdown-toggle" id="bd-theme" type="button" aria-expanded="false"
        data-bs-toggle="dropdown" data-bs-display="static">
        <span class="bi my-1 theme-icon-active">
            <i class="bi-circle-half"></i>
        </span>
        <span class="d-none">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
        <li>
            <button type="button" class="dropdown-item" data-bs-theme-value="light">
                <span class="bi me-2 opacity-50 theme-icon">
                    <i class="bi-sun-fill"></i>
                </span>
                Light
                <span class="bi ms-auto d-none">
                    <i class="bi-check2"></i>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                <span class="bi me-2 opacity-50 theme-icon">
                    <i class="bi-moon-stars-fill"></i>
                </span>
                Dark
                <span class="bi ms-auto d-none">
                    <i class="bi-check2"></i>
                </span>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item active" data-bs-theme-value="auto">
                <span class="bi me-2 opacity-50 theme-icon">
                    <i class="bi-circle-half"></i>
                </span>
                Auto
                <span class="bi ms-auto d-none">
                    <i class="bi-check2"></i>
                </span>
            </button>
        </li>
    </ul>
</div>