<!--
    update_password.html
    이 컴포넌트는 비밀번호 변경 모달을 표시하는 컴포넌트 입니다.

    비밀번호 변경 모달은 비밀번호와 비밀번호 확인 입력란이 있습니다.
    비밀번호 변경 버튼을 누르면 비밀번호가 변경됩니다.

    비밀번호 변경 요청 js도 함께 작성되어야 합니다.(에러 시 에러 메세지 표시. 성공 시 페이지 리로드)
-->
<div class="modal fade" id="rewritePasswordModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">비밀번호 변경</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- new password -->
                <div class="form-group mb-3">
                    <label>새 비밀번호</label> <small id="newPasswordConfirmText"></small>
                    <input type="password" class="form-control" placeholder="새 비밀번호를 입력해주세요." id="newPassword">
                </div>

                <!-- confirm password -->
                <div class="form-group">
                    <label>새 비밀번호 확인</label> <small id="newPasswordConfirmText"></small>
                    <input type="password" class="form-control" placeholder="새 비밀번호를 다시 입력해주세요."
                        id="newPasswordConfirm">
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary me-2" onclick="rewritePassword();" data-bs-dismiss="modal">
                    <i class="fi fi-rr-edit"></i> 변경하기
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    // 비밀번호 변경
    var passwordOk = false;
    var passwordConfirmOk = false;
    const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9]).{5,}$/; // 영문, 숫자 포함 5자 이상
    var newPasswordInput = document.getElementById('newPassword');
    var newPasswordConfirmInput = document.getElementById('newPasswordConfirm');
    newPasswordInput.addEventListener('input', () => { // 비밀번호 입력 시, 비밀번호 형식 확인
        var newPassword = newPasswordInput.value;
        if (!passwordRegex.test(newPassword)) {
            document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호는 5글자 이상이어야 합니다.';
            document.getElementById('newPasswordConfirmText').classList.remove('text-success');
            document.getElementById('newPasswordConfirmText').classList.add('text-danger');
            passwordOk = false;
            return
        }
        document.getElementById('newPasswordConfirmText').innerHTML = '사용 가능한 비밀번호입니다.';
        document.getElementById('newPasswordConfirmText').classList.remove('text-danger');
        document.getElementById('newPasswordConfirmText').classList.add('text-success');
        passwordOk = true;
    });
    newPasswordConfirmInput.addEventListener('input', () => { // 비밀번호 확인 입력 시, 비밀번호 일치 확인
        var newPassword = newPasswordInput.value;
        var newPasswordConfirm = newPasswordConfirmInput.value;
        if (newPassword != newPasswordConfirm) {
            document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호가 일치하지 않습니다.';
            document.getElementById('newPasswordConfirmText').classList.remove('text-success');
            document.getElementById('newPasswordConfirmText').classList.add('text-danger');
            passwordConfirmOk = false;
            return
        }
        document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호가 일치합니다.';
        document.getElementById('newPasswordConfirmText').classList.remove('text-danger');
        document.getElementById('newPasswordConfirmText').classList.add('text-success');
        passwordConfirmOk = true;
    });
    rewritePassword = async () => {
        if (!passwordOk || !passwordConfirmOk) {
            return;
        }

        // 비밀번호 변경 요청
        var formData = new FormData();
        formData.append('id', '{{ profile.id }}');
        formData.append('password', newPasswordInput.value);
        var success = await fetch('/api/account', {
            method: 'PATCH',
            body: formData,
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            return data.success;
        });

        // 비밀번호 변경 결과에 따른 처리
        if (success) {
            await showAlert('비밀번호 변경 완료', '비밀번호가 성공적으로 변경되었습니다.', 'success');
            location.reload();
            return
        }
        await showAlert('비밀번호 변경 실패', '비밀번호 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
    }
</script>