<li>
  <div class="mb-4 border-bottom">
    <div class="d-flex w-100 ">

      <!-- 댓글 작성자 이름. 파트너 이름 또는 사용자 닉네임 -->
      {% if board.board_type != 'anonymous' %}
      {% if comment.author.partner_name %}
      <h6 class="mt-0 mb-1 me-2">{{ comment.author.partner_name }}</h6>
      {% else %}
      <h6 class="mt-0 mb-1 me-2">{{ comment.author.nickname }}</h6>
      {% endif %}
      {% else %}
      <h6 class="mt-0 mb-1 me-2">익명 사용자</h6>
      {% endif %}

      {% if account.id == comment.author.id or account.account_type == 'supervisor' or account.account_type == 'subsupervisor' and 'post' in account.subsupervisor_permissions %}
      <a class="small text-black-50" href="javascript: deleteComment('{{ comment.id }}');">
        <i class="fi fi-rr-trash"></i> 댓글 삭제
      </a>
      {% endif %}

    </div>
    <div class="d-flex w-100 flex-row-reverse">
      <small class="mb-2">{{ comment.created_at }}</small>
    </div>
    <p class="text-black-50">
      {{ comment.content }}
    </p>
  </div>
</li>