<!-- footer -->
<div class="py-5 py-md-8 py-lg-10 mt-5 border-top" style="background-color: white; color: rgb(30, 30, 30);">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 me-auto">
        <div class="pb-2 footer-logo">
          <img class="footer-logo-light" height="50" src="{{ server.logo }}" title="" alt="">
          <img class="footer-logo-dark" height="50" src="{{ server.logo }}" title="" alt="">
        </div>
        <div class="pt-2">
          {{ server.company_info|safe }}
        </div>
        <p class="m-0 mt-4 mb-2">
          SNS
        </p>
        <ul class="nav">
          <li class="me-2">
            <a class="icon-md btn btn-border-mode p-0" href="javascript: window.open('{{ server.x_link }}');">
              <i class="fi fi-brands-twitter-alt"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="row gy-4">
          <div class="col-lg-3 col-sm-6">
            <p>메인 페이지</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="/" class="small text-black-50">메인 페이지</a>
              </li>
              <li class="mb-1">
                <a href="/signup" class="small text-black-50">회원가입</a>
              </li>
              <li class="mb-1">
                <a href="/find_account" class="small text-black-50">계정 찾기</a>
              </li>
              <li class="mb-1">
                <a href="/contact" class="small text-black-50">연락처/제휴문의</a>
              </li>
              <li class="mb-1">
                <a href="/terms" class="small text-black-50">이용약관</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6">
            <p>사용자</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="/profile" class="small text-black-50">프로필</a>
              </li>
              <li class="mb-1">
                <a href="/activity" class="small text-black-50">활동</a>
              </li>
              <li class="mb-1">
                <a href="/coupon" class="small text-black-50">쿠폰</a>
              </li>
              <li class="mb-1">
                <a href="/message" class="small text-black-50">메시지</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6">
            <p>게시판 페이지</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="/post" class="small text-black-50">게시판</a>
              </li>
              <li class="mb-1">
                <a href="/post/write_post" class="small text-black-50">게시판 글쓰기</a>
              </li>
              <li class="mb-1">
                <a href="/post/rewrite_post" class="small text-black-50">게시판 글 수정</a>
              </li>
              <li class="mb-1">
                <a href="/post/post_view" class="small text-black-50">게시판 글 보기</a>
              </li>
              <li class="mb-1">
                <a href="/post/notice" class="small text-black-50">공지사항</a>
              </li>
              <li class="mb-1">
                <a href="/post/event" class="small text-black-50">이벤트</a>
              </li>
              <li class="mb-1">
                <a href="/post/write_event" class="small text-black-50">이벤트 글쓰기</a>
              </li>
              <li class="mb-1">
                <a href="/post/rewrite_event" class="small text-black-50">이벤트 글 수정</a>
              </li>
              <li class="mb-1">
                <a href="/post/attendance" class="small text-black-50">출석 게시판</a>
              </li>
              <li class="mb-1">
                <a href="/post/greeting" class="small text-black-50">인사말 게시판</a>
              </li>
              <li class="mb-1">
                <a href="/post/review" class="small text-black-50">리뷰 게시판</a>
              </li>
              <li class="mb-1">
                <a href="/post/write_review" class="small text-black-50">리뷰 글쓰기</a>
              </li>
              <li class="mb-1">
                <a href="/post/rewrite_review" class="small text-black-50">리뷰 글 수정</a>
              </li>
              <li class="mb-1">
                <a href="/post/review_view" class="small text-black-50">리뷰 글 보기</a>
              </li>
              <li class="mb-1">
                <a href="/post/travel" class="small text-black-50">여행 게시판</a>
              </li>
              <li class="mb-1">
                <a href="/post/travel_view" class="small text-black-50">여행 글 보기</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-6">
            <p>관리자</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="/partner" class="small text-black-50">파트너 관리자 페이지</a>
              </li>
              <li class="mb-1">
                <a href="/partner/write_post" class="small text-black-50">파트너 관광지 작성</a>
              </li>
              <li class="mb-1">
                <a href="/partner/rewrite_post" class="small text-black-50">파트너 관광지 수정</a>
              </li>
              <li class="mb-1">
                <a href="/partner/coupon" class="small text-black-50">파트너 쿠폰 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor" class="small text-black-50">사이트 관리자 페이지</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/account" class="small text-black-50">사이트 관리자 계정 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/post" class="small text-black-50">사이트 관리자 게시글 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/ad_post" class="small text-black-50">사이트 관리자 광고 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/coupon" class="small text-black-50">사이트 관리자 쿠폰 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/message" class="small text-black-50">사이트 관리자 메시지 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/write_message" class="small text-black-50">사이트 관리자 메시지 작성</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/read_message" class="small text-black-50">사이트 관리자 메시지 읽기</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/banner" class="small text-black-50">사이트 관리자 배너 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/level" class="small text-black-50">사이트 관리자 레벨 관리</a>
              </li>
              <li class="mb-1">
                <a href="/supervisor/setting" class="small text-black-50">사이트 관리자 설정</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="border-top py-3">
    <div style="display: flex; justify-content: space-between;">
      <div style="display: inline-block; text-align: left;">
        <p>© 2024 {{ service_name }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>