<!-- footer -->
<footer class="footer footer-bg border-top border-gray-300 mt-5">
  <div class="py-5 py-md-8 py-lg-10">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-3 me-auto">
          <div class="pb-2 footer-logo">
            <img class="footer-logo-light" height="50" src="{{ server.logo }}" title="" alt="">
            <img class="footer-logo-dark" height="50" src="{{ server.logo }}" title="" alt="">
          </div>
          <div class="pt-2">
            <p>
              <i class="fi fi-rr-marker"></i> <span>{{ server.address }}</span>
            </p>
            <p>
              <i class="fi fi-rr-headphones"></i> <span>{{ server.tel }}</span>
            </p>
            <p>
              <i class="fi fi-rr-envelope"></i> <span>{{ server.email }}</span>
            </p>
          </div>
          <p class="m-0 mt-4 mb-2">
            SNS
          </p>
          <ul class="nav">
            <li class="me-2">
              <a class="icon-md btn btn-border-mode p-0" href="javascript: window.open('{{ server.x_link }}');">
                <i class="fi fi-brands-twitter-alt"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="row gy-4">
            <div class="col-12">
              <p>관리자</p>
              <ul class="list-unstyled m-0">
                <li class="mb-1">
                  <a href="/partner" class="small">파트너 관리자 페이지</a>
                </li>
                <li class="mb-1">
                  <a href="/partner/write_post" class="small">파트너 관광지 작성</a>
                </li>
                <li class="mb-1">
                  <a href="/partner/rewrite_post" class="small">파트너 관광지 수정</a>
                </li>
                <li class="mb-1">
                  <a href="/partner/coupon" class="small">파트너 쿠폰 관리</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="border-top py-3">
      <div style="display: flex; justify-content: space-between;">
        <div style="display: inline-block; text-align: left;">
          <p>© 2024 {{ service_name }}. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
