<!-- footer -->
<div class="py-5 py-md-8 py-lg-10 mt-5 border-top" style="background-color: white; color: rgb(30, 30, 30);">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 me-auto">
        <div class="pb-2 footer-logo">
          <img class="footer-logo-light" height="50" src="{{ server.logo }}" title="" alt="">
          <img class="footer-logo-dark" height="50" src="{{ server.logo }}" title="" alt="">
        </div>
        <div class="pt-2">
          {{ server.company_info|safe }}
        </div>
        <p class="m-0 mt-4 mb-2">
          SNS
        </p>
        <ul class="nav">
          <li class="me-2">
            <a class="icon-md btn btn-border-mode p-0" href="javascript: window.open('{{ server.social_network }}');">
              <i class="fi fi-brands-twitter-alt"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="row gy-4">
          <div class="col-sm-4">
            <p>메인 페이지</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="{{main_url}}" class="small text-black-50">메인 페이지</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/signup" class="small text-black-50">회원가입</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/find_account" class="small text-black-50">계정 찾기</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/contact" class="small text-black-50">연락처</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/terms" class="small text-black-50">이용약관</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <p>사용자</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="{{main_url}}/profile" class="small text-black-50">프로필</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/activity" class="small text-black-50">활동</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/coupon" class="small text-black-50">쿠폰</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/message" class="small text-black-50">메시지</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <p>게시판 페이지</p>
            <ul class="list-unstyled m-0">
              <li class="mb-1">
                <a href="{{main_url}}/post/attendance" class="small text-black-50">출석 게시판</a>
              </li>
              <li class="mb-1">
                <a href="{{main_url}}/post/greeting" class="small text-black-50">인사말 게시판</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="border-top py-3">
    <div style="display: flex; justify-content: space-between;">
      <div style="display: inline-block; text-align: left;">
        <p>© 2024 {{ server.service_name }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>