<!-- header -->
<header class="header-main header-option-01 header-background" style="background: url('{{ server.header_image }}') no-repeat center center / cover;">
  <div class="header-top">
    <div style="display: flex; align-items: flex-start;">
      <div class="d-none d-lg-block" style="width: 320px;"></div>
      <div style="flex: 1;">
        <!-- mobile -->
        <div class="row align-items-center">

          <!-- search(mobile) -->
          <div class="col-auto col-lg-4 d-block d-lg-none m-2 mt-0">
            <div style="display: inline-block;">
              <a href="{{main_url}}">
                <img src="{{ server.logo }}" alt="" style="width: 80px;">
              </a>
            </div>
          </div>

          <!-- 메뉴 - 좌 -->
          <div class="col-auto col-lg-4 d-none d-lg-block">
            <a class="me-4 text-black-50 small" style="white-space: nowrap;"
              href="{% if not user.is_authenticated %}javascript: needLogin();{% else %}/post/attendance{% endif %}">
              <i class="fi fi-rr-calendar-check"></i> 출석체크
            </a>
            <a class="text-black-50 small me-3" style="white-space: nowrap;"
              href="{% if not user.is_authenticated %}javascript: needLogin();{% else %}/bookmark{% endif %}">
              <i class="fi fi-rr-bookmark"></i> 즐겨찾기
            </a>
            <a class="text-black-50 small" style="white-space: nowrap;"
              href="{% if not user.is_authenticated %}javascript: needLogin();{% else %}/coupon{% endif %}">
              <i class="fi fi-rr-ticket"></i> 쿠폰함
            </a>
          </div>

          <!-- 메뉴 - 우 -->
          <div class="col-auto col-lg-4 ms-auto">
            <div class="header-icons">

              <!-- 사용자 -->
              <div class="h-col h-user dropdown d-none d-lg-block me-3">
                <a class="text-black-50 small" style="white-space: nowrap;"
                  href="{% if not user.is_authenticated %}javascript: needLogin();{% else %}/profile{% endif %}">
                  <i class="fi fi-rr-user"></i> 프로필
                </a>
              </div>

              <!-- 쪽지 메뉴 -->
              {% if not user.is_authenticated %}
              <div class="h-col h-switch dropdown d-none d-lg-block me-3">
                <a class="text-black-50 small" href="/message" style="white-space: nowrap;">
                  <i class="fi fi-rr-envelope"></i> 1:1 문의
                </a>
              </div>
              {% else %}
              <div class="h-col h-switch dropdown d-none d-lg-block me-3">
                <a class="theme-switch dropdown-toggle text-black-50 small" type="button" style="white-space: nowrap;"
                  aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
                  <span class="bi my-1">
                    <i class="fi fi-rr-envelope"></i> 쪽지
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="bd-theme">
                  <li>
                    <div style="width: 240px;" class="pt-3">
                      {% if unread_messages|length == 0 %}
                      <p class="p-2">
                        새로운 쪽지가 없습니다.
                      </p>
                      {% endif %}
                      {% for message in unread_messages %}
                      <div class="mb-2 p-2 border-bottom">
                        <small class="text-black-50">
                          {{ message.created_at }}
                        </small>
                        <p class="text-black mb-1">
                          {{ message.title }}
                        </p>
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                  <li class="text-end p-2 border-top">
                    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                      <a class="text-black-50"href="/message">
                        <i class="fi fi-rr-envelope"></i> 쪽지함
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              {% endif %}

              <!-- 제휴문의 
              <div class="h-col h-switch dropdown d-none d-lg-block me-3">
                <a class="text-black-50 small" href="/contact" style="white-space: nowrap;">
                  연락처
                </a>
              </div>-->

              <!-- 로그아웃 -->
              {% if user.is_authenticated %}
              <div class="h-col h-switch dropdown d-none d-lg-block">
                <a class="text-black-50 small" href="javascript: logout();">
                  로그아웃
                </a>
              </div>
              {% endif %}

              <!-- 테마 변경(사용하지 않음) -->
              <div class="h-col h-switch dropdown d-none">
                <button class="theme-switch h-icon dropdown-toggle" id="bd-theme" type="button" aria-expanded="false"
                  data-bs-toggle="dropdown" data-bs-display="static">
                  <span class="bi my-1 theme-icon-active">
                    <i class="bi-circle-half"></i>
                  </span>
                  <span class="d-none">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="light">
                      <span class="bi me-2 opacity-50 theme-icon">
                        <i class="bi-sun-fill"></i>
                      </span>
                      Light
                      <span class="bi ms-auto d-none">
                        <i class="bi-check2"></i>
                      </span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                      <span class="bi me-2 opacity-50 theme-icon">
                        <i class="bi-moon-stars-fill"></i>
                      </span>
                      Dark
                      <span class="bi ms-auto d-none">
                        <i class="bi-check2"></i>
                      </span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item active" data-bs-theme-value="auto">
                      <span class="bi me-2 opacity-50 theme-icon">
                        <i class="bi-circle-half"></i>
                      </span>
                      Auto
                      <span class="bi ms-auto d-none">
                        <i class="bi-check2"></i>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>

              <!-- 메뉴바 호출 -->
              <div class="h-col h-extra-menu-toggle d-block d-lg-none">
                <a class="h-burgur-icon h-icon text-black-50 border-0" data-bs-toggle="offcanvas"
                  href="#header_extra_menu" role="button" aria-controls="header_extra_menuLabel">
                  <span></span>
                </a>
              </div>

            </div>
          </div>

        </div>
        <!-- pc -->
        <div class="d-none d-lg-block">
          <div style="display: inline-block;">
            <a href="{{main_url}}">
              <img src="{{ server.logo }}" alt="" style="width: 80px;" class="me-2">
            </a>
          </div>
          <div class="header-search" style="display: inline-block;">
            <div class="header-search-form" onkeyup="if(event.keyCode == 13) searchPost('pc');">
              <input id="pcSearchKeyword" placeholder="검색어를 입력해주세요." value="{{ request.GET.search }}" class="form-control">
              <button class="btn search-btn" onclick="searchPost('pc');">
                <i class="fi fi-rr-search"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- 헤더 메뉴 -->
        <div class="header-bottom">
          <div class="align-items-center">
            <nav class="navbar navbar-expand border-0">
              <div class="offcanvas nav-offcanvas offcanvas-start" tabindex="-1" id="offcanvas_Header_01" aria-labelledby="offcanvas_Header_01">
                <div class="offcanvas-header">
                  <div class="offcanvas-title flex-fill pe-3">
                    <div class="header-search-form d-flex">
                      <input type="text" placeholder="Search Here" value="" class="form-control">
                      <button class="btn btn-primary search-btn px-3 ms-1"><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas_Header_01"
                    aria-label="Close"></button>
                </div>

                <!-- 상위 네비게이션 -->
                <div class="offcanvas-body">
                  <div class="navbar-nav" style="width: 100%; display: flex; flex-wrap: wrap;">
                    {% for board in boards %}
                    <div class="nav-item" style="white-space: nowrap;">
                      {% if board.board_type == 'tree' %}
                      <a class="nav-link text-dark" href="javascript: document.querySelectorAll('.sub_board').forEach(function(e){e.classList.add('d-none');}); document.getElementById('sub_board_{{ board.id }}').classList.toggle('d-none');">
                        {{ board.name }}
                      </a>
                      {% else %}
                      <a class="nav-link text-dark" href="/post?board_ids={{board.id}}">
                        {{ board.name }}
                      </a>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </nav>
          </div>
        </div>

        <!-- 하위 네비게이션 -->
        <div class="p-0 mt-2 px-2">
          {% for board in boards %}
            {% if board.children|length > 0 %}

            <!-- 2차 -->
            <div class="mb-3 ps-3 pb-2 d-none sub_board" id="sub_board_{{ board.id }}">
              {% for sub1_board in board.children %}
              {% if sub1_board.board_type == 'tree' %}
              <div class="p-2 text-center" style="white-space: nowrap; display: inline;">
                <a href="javascript: 
                  document.querySelectorAll('.sub_board').forEach(function(e){e.classList.add('d-none');}); 
                  document.getElementById('sub_board_{{ board.id }}').classList.toggle('d-none'); 
                  document.getElementById('sub_board_{{ sub1_board.id }}').classList.toggle('d-none');" 
                  class="text-decoration-none text-black small">
                  {{ sub1_board.name }}
                </a>
              </div>
              {% else %}
              <div class="p-2 text-center" style="white-space: nowrap; display: inline;">
                <a href="/post?board_ids={{board.id}},{{ sub1_board.id }}" class="text-decoration-none text-black small">
                  {{ sub1_board.name }}
                </a>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <!-- 3차 -->
            {% for sub1_board in board.children %}
              {% if sub1_board.children|length > 0 %}
              <div class="mb-3 ps-3 pb-2 d-none sub_board" id="sub_board_{{ sub1_board.id }}">
                {% for sub2_board in sub1_board.children %}
                {% if sub2_board.board_type == 'tree' %}
                <div class="p-2 text-center" style="white-space: nowrap; display: inline;">
                  <a href="javascript: 
                    document.querySelectorAll('.sub_board').forEach(function(e){e.classList.add('d-none');}); 
                    document.getElementById('sub_board_{{ sub1_board.id }}').classList.toggle('d-none');
                    document.getElementById('sub_board_{{ sub2_board.id }}').classList.toggle('d-none');
                    document.getElementById('sub_board_{{ board.id }}').classList.toggle('d-none');"
                    class="text-decoration-none text-black small">
                    {{ sub2_board.name }}
                  </a>
                </div>
                {% else %}
                <div class="p-2 text-center" style="white-space: nowrap; display: inline;">
                  <a href="/post?board_ids={{board.id}},{{ sub1_board.id }},{{ sub2_board.id }}" class="text-decoration-none text-black small">
                    {{ sub2_board.name }}
                  </a>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
  
              <!-- 4차 -->
              {% for sub2_board in sub1_board.children %}
                {% if sub2_board.children|length > 0 %}
                <div class="mb-3 ps-3 pb-2 d-none sub_board" id="sub_board_{{ sub2_board.id }}">
                  {% for sub3_board in sub2_board.children %}
                  {% if sub3_board.board_type == 'tree' %}
                  <div class="p-2 text-center" style="white-space: nowrap; display: inline;">
                    <a href="javascript: 
                    document.querySelectorAll('.sub_board').forEach(function(e){e.classList.add('d-none');}); 
                    document.getElementById('sub_board_{{ sub3_board.id }}').classList.toggle('d-none');
                    document.getElementById('sub_board_{{ sub2_board.id }}').classList.toggle('d-none');
                    document.getElementById('sub_board_{{ sub1_board.id }}').classList.toggle('d-none');
                    document.getElementById('sub_board_{{ board.id }}').classList.toggle('d-none');"
                    class="text-decoration-none text-black small">
                      {{ sub3_board.name }}
                    </a>
                  </div>
                  {% else %}
                  <div class="p-2 text-center" style="white-space: nowrap; display: inline;">
                    <a href="/post?board_ids={{board.id}},{{ sub1_board.id }},{{ sub2_board.id }},{{ sub3_board.id }}" class="text-decoration-none text-black small">
                      {{ sub3_board.name }}
                    </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              {% endfor %}
  
            {% endfor %}
  
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="d-none d-lg-block" style="width: 320px;"></div>
    </div>
  </div>
</header>

<!-- offcanvas menu -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="header_extra_menu" aria-labelledby="header_extra_menuLabel">
  <div class="offcanvas-header">
    <div class="offcanvas-title" id="header_extra_menuLabel">
      <img class="logo-dark" src="{{ server.logo }}" style="width: 100px;">
      <img class="logo-light" src="{{ server.logo }}" style="width: 100px;">
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="py-4">
      {% include 'parts/left_aside_main.html' %}
    </div>
  </div>
</div>