<!-- header -->
<header class="header-main header-option-01 header-background">
  <div class="header-top">
    <div style="display: flex; align-items: flex-start;">
      <div class="d-none d-lg-block" style="width: 320px;"></div>
      <div style="flex: 1;">
        <!-- mobile -->
        <div class="row align-items-center">

          <!-- search(mobile) -->
          <div class="col-auto col-lg-4 d-block d-lg-none">
            <div style="display: inline-block;">
              <a href="{{main_url}}"> <!-- 메인 페이지로 이동 -->
                <img src="{{ server.logo }}" alt="" style="width: 80px;">
              </a>
            </div>
          </div>

          <!-- 메뉴 - 좌 -->
          <div class="col-auto col-lg-4 d-none d-lg-block">
            <a class="me-4 text-black-50 small" style="white-space: nowrap;" href="{{main_url}}"> <!-- 메인 페이지로 이동 -->
              <i class="fi fi-rr-home"></i> 메인 패이지로
            </a>
          </div>

          <!-- 메뉴 - 우 -->
          <div class="col-auto col-lg-4 ms-auto">
            <div class="header-icons">

              <!-- 로그아웃 -->
              <div class="h-col h-switch dropdown d-none d-lg-block">
                <a class="text-black-50 small" href="javascript: logout();">
                  <i class="fi fi-rr-exit"></i> 로그아웃
                </a>
              </div>

              <!-- 테마 변경(사용하지 않음) -->
              <div class="h-col h-switch dropdown d-none">
                <button class="theme-switch h-icon dropdown-toggle" id="bd-theme" type="button" aria-expanded="false"
                  data-bs-toggle="dropdown" data-bs-display="static">
                  <span class="bi my-1 theme-icon-active">
                    <i class="bi-circle-half"></i>
                  </span>
                  <span class="d-none">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="light">
                      <span class="bi me-2 opacity-50 theme-icon">
                        <i class="bi-sun-fill"></i>
                      </span>
                      Light
                      <span class="bi ms-auto d-none">
                        <i class="bi-check2"></i>
                      </span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                      <span class="bi me-2 opacity-50 theme-icon">
                        <i class="bi-moon-stars-fill"></i>
                      </span>
                      Dark
                      <span class="bi ms-auto d-none">
                        <i class="bi-check2"></i>
                      </span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item active" data-bs-theme-value="auto">
                      <span class="bi me-2 opacity-50 theme-icon">
                        <i class="bi-circle-half"></i>
                      </span>
                      Auto
                      <span class="bi ms-auto d-none">
                        <i class="bi-check2"></i>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>

              <!-- 메뉴바 호출 -->
              <div class="h-col h-extra-menu-toggle d-block d-lg-none">
                <a class="h-burgur-icon h-icon text-black-50 border-0" data-bs-toggle="offcanvas"
                  href="#header_extra_menu" role="button" aria-controls="header_extra_menuLabel">
                  <span></span>
                </a>
              </div>

            </div>
          </div>

        </div>
        <!-- pc -->
        <div class="d-none d-lg-block">
          <div style="display: inline-block;">
            <a href="{{main_url}}"> <!-- 메인 페이지로 이동 -->
              <img src="{{ server.logo }}" alt="" style="width: 80px;" class="me-2">
            </a>
          </div>
        </div>

        <!-- 헤더 메뉴 -->
        <div class="header-bottom">
          <div class="align-items-center">
            <nav class="navbar navbar-expand">
              <div class="offcanvas nav-offcanvas offcanvas-start" tabindex="-1" id="offcanvas_Header_01"
                aria-labelledby="offcanvas_Header_01">
                <div class="offcanvas-header border-bottom border-gray-200">
                  <div class="offcanvas-title flex-fill pe-3">
                    <form class="header-search-form d-flex">
                      <input type="text" placeholder="Search Here" value="" class="form-control">
                      <button class="btn btn-primary search-btn px-3 ms-1"><i class="bi bi-search"></i></button>
                    </form>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas_Header_01"
                    aria-label="Close"></button>
                </div>

                <!-- 상위 네비게이션 -->
                <div class="offcanvas-body">
                  <div class="navbar-nav" style="width: 100%; display: flex; flex-wrap: wrap;">

                    <!-- 관리자 메인 -->
                    <div class="nav-item" style="white-space: nowrap;">
                      <a class="nav-link text-dark" href="{{partner_url}}">
                        <i class="fi fi-rr-pulse"></i> 관리자
                      </a>
                    </div>

                    <!-- 광고 게시글 작성 -->
                    <div class="nav-item" style="white-space: nowrap;">
                      <a class="nav-link text-dark" href="{{partner_url}}/write_post">
                        <i class="fi fi-rr-edit"></i> 광고 게시글 관리
                      </a>
                    </div>

                    <!-- 쿠폰 관리 -->
                    <div class="nav-item" style="white-space: nowrap;">
                      <a class="nav-link text-dark" href="{{partner_url}}/coupon">
                        <i class="fi fi-rr-ticket"></i> 쿠폰 관리
                      </a>
                    </div>

                    <!-- 쪽지 -->
                    <div class="nav-item" style="white-space: nowrap;">
                      <a class="nav-link text-dark" href="{{main_url}}/message"> <!-- 메인 쪽지 페이지로 이동 -->
                        <i class="fi fi-rr-envelope"></i> 쪽지
                      </a>
                    </div>

                  </div>
                </div>

              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block" style="width: 320px;"></div>
    </div>
  </div>
</header>