{% if profile.account_type == 'partner' %}
<!-- 파트너 계정의 프로필 카드 -->
<div class="col-12 border rounded p-3 mb-5 pastel-beige-background">
  <a href="/profile" class="text-dark text-decoration-none">
    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
      <div style="display: inline-block; text-align: left;">
        <span class="text-black-50" style="font-size: 14px;">
          <i class="fi fi-rr-user"></i> {{ profile.id }} (파트너 회원)
        </span><br>
        <p>
          <span class="h6 me-2">
            {{ profile.partner_name }}
          </span>
        </p>
        <span class="text-black-50">
          <i class="fi fi-rr-calendar"></i> 가입일: {{ profile.date_joined }} | 최근 접속일: {{ profile.last_login }}
        </span>
      </div>
      <div style="display: inline-block; text-align: right;">
        <p class="m-0 text-end text-black-50" style="font-size: 14px;">
          {% if profile.status == 'active' %}
          <span class="badge bg-success">정상</span>
          {% elif profile.status == 'pending' %}
          <span class="badge bg-warning">승인대기중</span>
          {% elif profile.status == 'deleted' %}
          <span class="badge bg-danger">탈퇴</span>
          {% elif profile.status == 'blocked' %}
          <span class="badge bg-secondary">정지</span>
          {% elif profile.status == 'banned' %}
          <span class="badge bg-dark">영구차단</span>
          {% endif %}
        </p>
      </div>
    </div>
  </a>
</div>
{% elif profile.account_type == 'user' or profile.account_type == 'dame' %}
<!-- 사용자 계정의 프로필 카드 -->
<div class="col-12 border rounded p-3 mb-5 pastel-beige-background">
  <a href="/profile" class="text-dark text-decoration-none">
    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
      <div style="display: inline-block; text-align: left;">
        <span class="text-black-50" style="font-size: 14px;">
          <i class="fi fi-rr-user"></i> {{ profile.id }} {% if profile.account_type == 'user' %} (일반 회원) {% elif profile.account_type == 'dame' %} (여성 회원) {% endif %}
        </span><br>
        <span>
          <span class="h6 me-2">
            {{ profile.nickname }}
          </span>
        </span>
      </div>
      <div style="display: inline-block; text-align: right;">
        <p class="m-0 text-end text-black-50" style="font-size: 14px;">
          {% if profile.status == 'active' %}
          <span class="badge bg-success">정상</span>
          {% elif profile.status == 'pending' %}
          <span class="badge bg-warning">승인대기중</span>
          {% elif profile.status == 'deleted' %}
          <span class="badge bg-danger">탈퇴</span>
          {% elif profile.status == 'blocked' %}
          <span class="badge bg-secondary">정지</span>
          {% elif profile.status == 'banned' %}
          <span class="badge bg-dark">영구차단</span>
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <p class="text-dark m-0">
          레벨 포인트
        </p>
        <p class="text-black-50">
          <i class="fi fi-ss-coins"></i> 
          <span class="numberComma">{{ profile.level_point }}</span> 포인트 

          <!-- 레벨 뱃지 -->
          {% with level=profile.level %}
          {% include 'parts/level_badge.html' %}
          {% endwith %}

        </p>
      </div>
      <div class="col-6">
        <p class="text-dark m-0">
          쿠폰 포인트
        </p>
        <p class="text-black-50">
          <i class="fi fi-ss-coins text-secondary"></i> 
          <span class="numberComma">{{ profile.coupon_point }}</span> 포인트
        </p>
      </div>
    </div>
  </a>
</div>
{% else %}
<!-- 관리자 계정의 프로필 카드 -->
<div class="col-12 border rounded p-3 mb-5">
  <a href="/profile" class="text-dark text-decoration-none">
    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
      <div style="display: inline-block; text-align: left;">
        <span class="text-black-50" style="font-size: 14px;">
          <i class="fi fi-rr-user"></i> {{ profile.id }} {% if profile.account_type == 'supervisor' %} (관리자) {% elif profile.account_type == 'sub_supervisor' %} (하위 관리자) {% endif %}
        </span>
      </div>
    </div>
  </a>
</div>
{% endif %}