<div class="col-6 col-lg-4 col-xl-3 p-2">
  <a href="/post/travel_view?post={{ post.id }}" class="text-dark text-decoration-none">
    <div class="card hover-scale overflow-hidden">
      <div class="hover-scale-in blog-card-ratio ratio ratio-4x3">
        {% if post.ad.status == 'active' %}
        <span
          class="bg-primary px-3 py-1 position-absolute top-0 start-0 w-auto h-auto z-1 mt-2 ms-2 text-white fs-sm text-center"
          style="line-height: 16px;">
          베스트<br>업체
        </span>
        {% endif %}
        <img class="blog-card-ratio-img card-img-top" src="{{ post.image }}" alt="Card image cap">
      </div>
      <div class="card-body">
        <span class="text-black-50" style="font-size: 12px;">
          {{ post.author.partner_categories }}
        </span>
        <h6 class="mb-4">
          {{ post.title }}
        </h6>
        <p class="small text-end">
          <i class="fi fi-rr-heart text-danger"></i> {{ post.like_count }} 
          <i class="fi fi-rr-comment"></i> {{ post.comment_count }} 
          <i class="fi fi-rr-eye"></i> {{ post.view_count }} 
        </p>
      </div>
      <div class="card-footer">
        <small>
          <i class="fi fi-rr-marker"></i> {{ post.author.partner_address }}
        </small>
      </div>
    </div>
  </a>
</div>