<div class="col-6 col-lg-4 col-xl-3 p-2">
  <a href="/post/travel_view?post={{ post.id }}" class="text-dark text-decoration-none">
    <div class="card hover-scale overflow-hidden">
      <div class="hover-scale-in blog-card-ratio ratio ratio-4x3">

        <!-- 여행지 정보 상태가 'ad'인 경우, 베스트 업체로 표시 -->
        {% if post.place_info.status == 'ad' %}
        <span
          class="bg-primary px-3 py-1 position-absolute top-0 start-0 w-auto h-auto z-1 mt-2 ms-2 text-white fs-sm text-center"
          style="line-height: 16px;">
          베스트<br>업체
        </span>
        {% endif %}

        <img class="blog-card-ratio-img card-img-top" src="{{ post.image }}">
      </div>
      <div class="card-body">

        <!-- 카테고리 -->
        <span class="text-black-50" style="font-size: 12px;">
          {% for category_name in post.place_info.categories %}
          {{ category_name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </span>

        <!-- 제목 -->
        <h6 class="mb-4">
          {{ post.title }}
        </h6>

        <!-- 주소 -->
        <p class="small text-black-50">
          <i class="fi fi-rr-marker"></i> {{ post.place_info.address }}
        </p>

        <!-- 오픈 정보 -->
        <p class="small text-black-50">
          <i class="fi fi-rr-time"></i> {{ post.place_info.open_info }}
        </p>

      </div>
      <div class="card-footer">

        <!-- 댓글보기, 후기 검색, 정보 보기 버튼 -->
        <a href="/post/travel_view?post_id={{ post.id }}" class="btn btn-sm btn-outline-dark small p-1 px-2">
          <i class="fi fi-rr-eye"></i> 정보보기
        </a>
        <a href="/post/review?search={{post.title}}" class="btn btn-sm btn-outline-dark small p-1 px-2">
          <i class="fi fi-rr-star"></i> 후기검색
        </a>
        <a href="/post/travel_view?post_id={{ post.id }}" class="btn btn-sm btn-outline-dark small p-1 px-2">
          <i class="fi fi-rr-comment"></i> 댓글보기
        </a>

      </div>
    </div>
  </a>
</div>