<div class="modal fade" id="{{ to_modify_category.id }}CategoryEditModal" tabindex="-1" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ to_modify_category.name }} 수정</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">

        <!-- 게시판 이름 -->
        <div class="form-group mb-2">
          <label>새 이름</label>
          <input class="form-control" id="{{ to_modify_category.id }}CategoryName" value="{{ to_modify_category.name }}">
        </div>

        <!-- 표시 가중치 -->
        <div class="form-group">
          <label>표시 가중치</label>
          <input type="number" class="form-control" id="{{ to_modify_category.id }}CategoryWeight" value="{{ to_modify_category.display_weight }}">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="updateCategory('{{ to_modify_category.id }}');"
          data-bs-dismiss="modal">수정하기</button>
        <button type="button" class="btn btn-danger" onclick="deleteCategory('{{ board.id }}');"
          data-bs-dismiss="modal">삭제하기</button>
      </div>
    </div>
  </div>
</div>