<!--
    menu_partner.html
    이 컴포넌트는 푸터에 들어갈 관리자 페이지의 링크를 구성합니다.

    1. 관리자 페이지로 이동하는 링크가 포함됩니다.
    링크 목록
    - {{supervisor_link}}/supervisir: 관리자 메인 페이지
    - {{supervisor_link}}/supervisor/account: 관리자 계정 페이지
    - {{supervisor_link}}/supervisor/post: 관리자 게시글 페이지
    - {{supervisor_link}}/supervisor/coupon: 관리자 쿠폰 페이지
    - {{supervisor_link}}/supervisor/message: 관리자 메시지 페이지
    - {{supervisor_link}}/supervisor/banner: 관리자 배너 페이지
    - {{supervisor_link}}/supervisor/level: 관리자 레벨 페이지
    - {{supervisor_link}}/supervisor/setting: 관리자 설정 페이지
-->