<!--bootstrap-->
<script src="@@pathassets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- swiper JS -->
<script src="@@pathassets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Headroom JS -->
<!-- <script src="@@pathassets/vendor/headroom/headroom.min.js"></script> -->

<!-- Timezz JS -->
<script src="@@pathassets/vendor/timezz/timezz.js"></script>

<!-- Theme JS -->
<script src="@@pathassets/js/theme.js"></script>
<script src="@@pathassets/js/color-modes.js"></script>