<div class="mb-3">
  <a href="{{main_url}}/post/post_view?post_id={{ post.id }}">

    <!-- 여행지 정보가 있다면, 여행지 정보 표시 -->
    {% if post.place_info %}
    <p class="text-black-50 small m-0">
      {% for name in post.place_info.categories %}
      {{ name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    {% endif %}

    <p class="text-black m-0">
      {{ post.title }}
    </p>
    <p class="text-black-50 small m-0">
      <i class="fi fi-rr-user"></i> {{post.author.nickname}}
    </p>
    <p class="text-black-50 small">
      <i class="fi fi-rr-eye"></i> {{ post.view_count }} 
      <i class="fi fi-rr-heart"></i> {{ post.like_count }}
    </p>

  </a>
</div>