{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}
    <h5 class="mt-5">
      쪽지 보관함
    </h5>
    <p>
      쪽지 수신 및 발신 내역을 확인하고 쪽지를 보낼 수 있습니다.
    </p>
  </div>

  <!-- 선택지 버튼 그룹 -->
  <div class="btn-group w-100 d-flex">
    <div class="w-100 d-flex justify-content-center rounded-2">
      <a class="w-100 btn" href="/message?tab=inbox" id="inboxTab">
        받은 쪽지함
      </a>
    </div>
    <span class="divider"></span>
    <div class="w-100 d-flex justify-content-center rounded-2">
      <a class="w-100 btn" href="/message?tab=outbox" id="outboxTab">
        보낸 쪽지함
      </a>
    </div>
  </div>

  <!--
    받은 쪽지 리스트
    쪽지 쓰기 버튼 포함. 클릭 시 쪽지 작성 모달이 나타남.
  -->
  <div class="my-5" id="inbox">

    <!-- 버튼 -->
    <div class="p-3 mb-5 text-end">
      <a class="btn btn-success" href="javascript: new bootstrap.Modal(document.getElementById('newMessageModal')).show();">
        <i class="fi fi-rr-edit"></i> 쪽지 쓰기
      </a>
    </div>

    <p class="text-black-50 small">
      <i class="fi fi-rr-info"></i> 쿠폰은 쪽지 내용 확인 후 <span class="text-primary">쿠폰 받기</span> 버튼을 클릭하여 받을 수
      있습니다.
    </p>
    <table class="table table-border small border shadow text-center">
      <tbody>
        <tr>
          <th>
            읽음 여부
          </th>
          <th>
            보낸 사람
          </th>
          <th>
            제목
          </th>
          <th>
            수신 날짜
          </th>
        </tr>
        {% if messages|length < 1 %}
        <tr>
          <td colspan="4">
            <p class="text-black">받은 쪽지가 없습니다.</p>
          </td>
        </tr>
        {% else %}
        {% for message in messages %}
        <tr style="cursor: pointer;" 
          onclick="
            new bootstrap.Modal(document.getElementById('messageModal{{message.id}}')).show();
            {% if not message.is_read %}setReadDatetime('{{message.id}}');{% endif %}
          ">
          <td>
            {% if not message.is_read %}
            <i class="fi fi-rr-eye"></i> 읽지 않음
            {% else %}
            <i class="fi fi-rr-eye"></i> 읽음
            {% endif %}
          </td>
          <td>
            <span class="text-dark">
              {% if message.sender.partner_name != '' %}
              {{ message.sender.partner_name }}
              {% else %}
              {{ message.sender.nickname }}
              {% endif %}
            </span>
          </td>
          <td>
            {{ message.title }}
          </td>
          <td>
            {{ message.created_at }}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- 보낸 쪽지 리스트 -->
  <div class="my-5 d-none" id="outbox">
    <p class="text-black-50 small">
      <i class="fi fi-rr-info"></i> 내가 보낸 쪽지 및 읽음 여부를 확인할 수 있습니다.
    </p>
    <table class="table table-border small border shadow text-center">
      <tbody>
        <tr>
          <th>
            받는 사람
          </th>
          <th>
            제목
          </th>
          <th>
            보낸 날짜
          </th>
          <th>
            읽음 여부
          </th>
        </tr>
        {% if messages|length < 1 %}
        <tr>
          <td colspan="4">
            <p class="text-black">보낸 쪽지가 없습니다.</p>
          </td>
        </tr>
        {% else %}
        {% for message in messages %}
        <tr style="cursor: pointer;" onclick="new bootstrap.Modal(document.getElementById('messageModal{{message.id}}')).show();">
          <td>
            <span class="text-dark">
              {% if message.to.partner_name != '' %}
              {{ message.to.partner_name }}
              {% else %}
              {{ message.to.nickname }}
              {% endif %}
            </span>
          </td>
          <td>
            {{ message.title }}
          </td>
          <td>
            {{ message.created_at }}
          </td>
          <td>
            {% if message.read == 'y' %}
            <i class="fi fi-rr-eye"></i> 읽음
            {% else %}
            <i class="fi fi-rr-eye"></i> 읽지 않음
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <div id="pageButton"></div>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!--
  Modals
  - 쪽지 상세보기 모달
  - 받은 쪽지 및 보낸 쪽지 모달.
  - 받은 쪽지는 발신자, 보낸 쪽지는 수신자를 확인할 수 있음. 받은 쪽지는 답장 버튼 및 쿠폰 받기 버튼이 있음.
-->
{% for message in messages %}
{% include 'parts/message_read_modal.html' %}
{% endfor %}
<!-- 쪽지 작성 모달 -->
{% include 'parts/message_write_modal.html' %}

<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Tab
    tab = '{{request.GET.tab}}';
    if(tab == '') {
      location.href='/message?tab=inbox';
    }

    var inboxTab = document.getElementById('inboxTab');
    var outboxTab = document.getElementById('outboxTab');
    var inbox = document.getElementById('inbox');
    var outbox = document.getElementById('outbox');
    if (tab == 'inbox') {
      inboxTab.classList.add('pastel-pink-background');
      inboxTab.classList.add('text-dark');
      inboxTab.style.fontWeight = 'semibold';
      outboxTab.classList.add('pastel-beige-background');
      outboxTab.classList.remove('text-dark');
      inbox.classList.remove('d-none');
      outbox.classList.add('d-none');
    } else if (tab == 'outbox') {
      inboxTab.classList.add('pastel-beige-background');
      inboxTab.classList.remove('text-dark');
      outboxTab.classList.add('pastel-pink-background');
      outboxTab.classList.add('text-dark');
      outboxTab.style.fontWeight = 'semibold';
      inbox.classList.add('d-none');
      outbox.classList.remove('d-none');
    }

    // Page
    var tab = '{{request.GET.tab}}';
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/message?tab=${tab}`);

  }
</script>

{% endblock %}