{% extends 'base/base.html' %}
{% block content %}
<main class="container" style="display: flex; align-items: flex-start;">

  <!-- 왼쪽 사이드바 -->
  {% include 'components/aside/aside_left.html' %}

  <div class="main-section px-5" style="flex: 1;">

    <div style="min-height: 300px;">

      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      {% include 'components/main/title_section.html' with title='즐겨찾기' subtitle='북마크한 여행지 게시글을 확인할 수 있습니다.' %}

      <!-- 여행지 게시글 목록 -->
      <div class="row">
        {% include 'components/main/post_list/post_list_card.html' %}
      </div>

    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

  <!-- 오른쪽 사이드바 -->
  {% include 'components/aside/aside_right.html' %}

</main>
<script>
</script>

{% endblock %}