{% extends 'base/main_base.html' %}
{% block content %} 
<!--
  왼쪽 사이드바
  - left_aside_main.html 파일을 include 하려면, context에서 bookmarks, activities를 전달해줘야함.
-->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/left_aside_main.html' %}
</aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!--
    상단 광고 베너 컨테이너
    클릭 시 새 탭으로, 배너 링크을 열도록 설정
  -->
  {% if banners.top|length > 0 %}
  <div class="row mb-3">
    {% for banner in banners.top %}
    <div class="col-12 col-md-6 p-1">
      <a href="{{ banner.link }}" target="_blank">
          <div class="w-100 shadow-sm" style="height: 200px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- 게시글 컨테이너 -->
  <div class='row mb-5'>

    <p class='text-black'>
      <i class="fi fi-rr-navigation"></i> 여행지
    </p>

    {% if travel_posts|length == 0 %}
    <p>
      여행지가 없습니다.
    </p>
    {% else %}
    {% for post in travel_posts %}
    {% include 'parts/travel_post_card.html' %}
    {% endfor %}
    {% endif %}

  </div>
  <div id="pageButton"></div>

  <!--
    하단 광고 베너 컨테이너
    클릭 시 새 탭으로, 배너 링크을 열도록 설정
    이 배너는 모바일에서만 보여짐
    PC는 right_aside_main.html에 포함되어 있음
  -->
  {% if banner.bottom|length > 0 %}
  <div class="row mb-5 d-lg-none">
    {% for banner in banners.side %}
    <div class="col-12 col-md-6 p-1">
      <a href="{{ banner.link }}" target="_blank">
        <div class="w-100 shadow-sm" style="height: 200px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</section>

<!--
  오른쪽 사이드바
  - right_aside_main.html 파일을 include 하려면, context에서 best_reviews를 전달해줘야함.
  - 메인 페이지의 경우 banners도 전달해줘야함.(메인페이지만 필요)
-->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/right_aside_main.html' %}
</aside>

<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Page
    console.log('{{request.GET.page}} | {{last_page}}');
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/?search=''`);

    // 에러 메세지 관리
    handleRedirectMessage();

  }

  handleRedirectMessage = async () => {
    const redirect_message = '{{request.GET.redirect_message}}';

    if (redirect_message == 'need_login') {
      await showAlert('로그인 필요', '로그인 후 이용해주세요.', 'error');
      location.href = '/';
    }
  }

</script>

{% endblock %}