{% extends 'base/base.html' %}
{% block content %}
<main class="container" style="display: flex; align-items: flex-start;">

  <!-- 왼쪽 사이드바 -->
  {% include 'components/aside/aside_left.html' %}

  <div class="main-section px-5" style="flex: 1;">

    <div style="min-height: 300px;">

      <!-- 상단 배너 영역 -->
      {% include 'components/main/banner.html' with banners=banners.top bannerCaouselName='top' %}

      <!-- 페이지 타이틀 -->
      {% include 'components/main/title_section.html' with title='여행' subtitle='여행 정보를 확인해보세요.' %}

      <!-- 여행지 게시글 목록 -->
      <div class="row">
        {% if posts|length == 0 %}
        <p>
          게시글이 없습니다.
        </p>
        {% endif %}
        {% for post in posts %}
        {% include 'components/main/post_list/post_list_card.html' %}
        {% endfor %}
      </div>

    </div>

    <!-- 검색 영역 -->
    <div class="pt-3 mt-3 border-top">
      {% include 'components/main/search_bar.html' %}
    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>

    <!-- 상단 배너 영역 -->
    <div class="d-lg-none">
      {% include 'components/main/banner.html' with banners=banners.side bannerCaouselName='bottom' %}
    </div>

  </div>

  <!-- 오른쪽 사이드바 -->
  {% include 'components/aside/aside_right.html' %}

</main>

<script>

  window.addEventListener('load', () => {

    // pagination
    // 만약 contexts에서 lastpage를 받았고, pagination 컴포넌트가 있다면, 페이지네이션을 생성합니다.
    if ('{{last_page}}' && document.querySelector('#pageButton')) {
      const search = '{{request.GET.search}}';
      makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/post?search=${search}`);
    }

    // 에러 메세지 처리
    const redirect_message = '{{request.GET.redirect_message}}';
    if (redirect_message) {
      handleRedirectMessage();
    }
  });

  // 에러 메세지 관리
  handleRedirectMessage = async () => {
    const redirect_message = '{{request.GET.redirect_message}}';

    if (redirect_message == 'need_login') {
      await showAlert('로그인 필요', '로그인 후 이용해주세요.', 'error');
      location.href = '/';
    } else if (redirect_message == 'not_allowed_board') {
      await showAlert('권한 없음', '해당 게시판에 대한 권한이 없습니다.', 'error');
      location.href = '/';
    } else if (redirect_message == 'not_allowed') {
      await showAlert('권한 없음', '해당 페이지에 대한 권한이 없습니다.', 'error');
      location.href = '/';
    } else if (redirect_message == 'permission_denied') {
      await showAlert('권한 없음', '해당 페이지에 대한 권한이 없습니다.', 'error');
      location.href = '/';
    } else if (redirect_message == 'partner_status_error') {
      await showAlert('파트너 승인 필요', '파트너 승인 후 이용해주세요.', 'error');
      location.href = '/';
    } else if (redirect_message == 'not_enough_level') {
      await showAlert('레벨 부족', '레벨이 부족합니다.', 'error');
      location.href = '/';
    }
  }

</script>

{% endblock %}