{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}
    <h5 class="mt-5">
      사용자 프로필
    </h5>
    <p>
      사용자 프로필을 확인하거나 수정할 수 있습니다.
    </p>
  </div>

  <!-- 선택지 버튼 그룹 -->
  <div class="btn-group w-100">
    <div class="w-100 d-flex justify-content-center rounded-2 pastel-pink-background">
      <a class="w-100 btn text-dark fw-semibold" href="/profile?profile_id={{ profile.id }}" id="profileTab">
        프로필
      </a>
    </div>
    <span class="divider"></span>
    <div class="w-100 d-flex justify-content-center rounded-2 pastel-beige-background">
      <a class="w-100 btn" href="/activity?profile_id={{ profile.id }}" id="activityTab">
        활동 기록
      </a>
    </div>
  </div>

  <!-- 프로필 상자 -->
  <div class="my-5">
    <p class="text-dark">
      프로필 정보
    </p>

    <!-- 프로필 카드 -->
    {% include 'parts/profile_card.html' %}

    <!--
      레벨 정보 테이블 표시
      - 사용자 계정일 때만 표시, 다른 계정은 표시하지 않음(다른 계정은 레벨이 없음)
    -->
    {% if profile.account_type in 'user, dame' %}
    <p class="text-black-50 small">
      <i class="fi fi-rr-info"></i> 포인트는 게시글 또는 댓글 작성, 출석 체크 등 활동에 따라 적립되며, 사용자 등급 상승 및 쿠폰 구매에 사용됩니다.
    </p>
    <div class="mb-5">
      <p class="text-dark m-0">
        등급 정보
      </p>
      <div>
        <table class="table table-border small border shadow text-center pastel-beige-background">
          {% for rule in level_rules %}
          <tr>
            <td class="pe-5"></td>
            <td class="text-start">
              {{ rule.level }} 레벨

              <!-- 레벨 뱃지 -->
              {% with level=rule.level %}
              {% include 'parts/level_badge.html' %}
              {% endwith %}

            </td>
            <td>
              <i class="fi fi-ss-coins"></i> <span class="numberComma">{{ rule.required_point }}</span> 포인트
            </td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-black-50 small">
          <i class="fi fi-rr-info"></i> 등급 상승은 레벨 포인트를 넘긴 후 자동으로 승급됩니다. (반영되는데 몇분정도 소요될 수 있습니다.)
        </p>
      </div>
    </div>
    {% endif %}

    <div class="mb-5">
      <p class="text-dark m-0">
        상태

        <!--
          관리자 또는 사용자 편집 권한이 있는 부관리자만 보이는 메뉴
          사용자 상태 변경 버튼
        -->
        {% if account.account_type == 'supervisor' or account.account_type == 'subsupervisor' and 'user' in account.subsupervisor_permissions %}
        <a class="text-black-50" href="javascript: new bootstrap.Modal(document.getElementById('changeStatusModal')).show();">
          <i class="fi fi-rr-pen-clip"></i>
        </a>
        {% endif %}

      </p>

      <!-- 사용자 상태 -->
      {% if profile.status == 'pending_dame' %}
      <p class="text-black-50">
        여성회원 가입 대기중..
      </p>
      {% elif profile.status == 'pending_partner' %}
      <p class="text-black-50">
        파트너 가입 대기중..
      </p>
      {% elif profile.status == 'active' %}
      <p class="text-black-50">
        정상
      </p>
      {% elif profile.status == 'deleted' %}
      <p class="text-black-50">
        삭제 대기중..
      </p>
      {% elif profile.status == 'blocked' %}
      <p class="text-black-50">
        정지됨
      </p>
      {% endif %}

    </div>
    <div class="mt-2 mb-5">
      <p class="text-dark m-0">
        아이디
      </p>
      <p class="text-black-50">
        {{ profile.id }}
      </p>
    </div>
    <div class="mb-5">
      <p class="text-dark m-0">
        닉네임
      </p>
      <a class="text-black-50"
        href="javascript: new bootstrap.Modal(document.getElementById('rewriteNickNameModal')).show();">
        {{ profile.nickname }} <i class="fi fi-rr-pen-clip"></i>
      </a>
    </div>
    <div class="mb-5">
      <p class="text-dark m-0">
        비밀번호
      </p>
      <a class="text-black-50"
        href="javascript: new bootstrap.Modal(document.getElementById('rewritePasswordModal')).show();">
        비밀번호 변경 <i class="fi fi-rr-pen-clip"></i>
      </a>
    </div>

    <!--
      부 관리자의 프로필일 때, 관리자만 보이는 메뉴
      부 관리자 권한 편집 버튼
    -->
    {% if account.account_type == 'supervisor' and profile.account_type == 'subsupervisor' %}
    <div class="mb-5">
      <p class="text-dark m-0">
        권한
        <a class="text-black-50"
        href="javascript: new bootstrap.Modal(document.getElementById('rewritePasswordModal')).show();">
        <i class="fi fi-rr-pen-clip"></i>
      </a>
      </p>
      <p class="text-primary m-0">
        {% if 'user' in profile.supervisor_permissions %}
        <span class="badge bg-info">사용자 관리</span>
        {% endif %}
        {% if 'post' in profile.supervisor_permissions %}
        <span class="badge bg-info">게시글 관리</span>
        {% endif %}
        {% if 'coupon' in profile.supervisor_permissions %}
        <span class="badge bg-info">쿠폰 관리</span>
        {% endif %}
        {% if 'message' in profile.supervisor_permissions %}
        <span class="badge bg-info">메시지 관리</span>
        {% endif %}
        {% if 'banner' in profile.supervisor_permissions %}
        <span class="badge bg-info">배너 관리</span>
        {% endif %}
        {% if 'level' in profile.supervisor_permissions %}
        <span class="badge bg-info">레벨 관리</span>
        {% endif %}
        {% if 'setting' in profile.supervisor_permissions %}
        <span class="badge bg-info">시스템 관리</span>
        {% endif %}
      </p>
    </div>
    {% endif %}

    <!-- 관리자 또는 사용자 편집 권한이 있는 부관리자만 보이는 메뉴 -->
    {% if account.account_type == 'supervisor' or account.account_type == 'subsupervisor' and 'user' in account.subsupervisor_permissions %}
    <div class="mb-5">
      <p class="text-dark m-0">
        계정 메모(관리자만 확인할 수 있습니다.)
        {% if account.account_type == 'supervisor' or account.account_type == 'sub_supervisor' and 'user' in account.supervisor_permissions %}
        <a class="text-black-50" href="javascript: new bootstrap.Modal(document.getElementById('changeNoteModal')).show();">
          <i class="fi fi-rr-pen-clip"></i>
        </a>
        {% endif %}
      </p>
      <p class="text-black-50">
        {{ profile.note }}
      </p>
    </div>
    {% endif %}

    <!-- partner -->
    {% if profile.account_type == 'partner' %}
    <div class="mt-5">
      <p class="text-dark">
        파트너 정보
      </p>
      <div class="mb-5">
        <p class="text-dark m-0">
          파트너 연락처
        </p>
        <a class="text-black-50"
          href="javascript: new bootstrap.Modal(document.getElementById('rewritePartnerPhoneModal')).show();">
          {{ profile.partner_tel }} <i class="fi fi-rr-pen-clip"></i>
        </a>
      </div>
      <div class="mb-5">
        <p class="text-dark m-0">
          파트너 이름
        </p>
        <p class="text-black-50">
          {{ profile.partner_name }} 
          <a class="text-black-50"
            href="javascript: new bootstrap.Modal(document.getElementById('rewritePartnerNameModal')).show();">
            <i class="fi fi-rr-pen-clip"></i>
          </a>
        </p>
      </div>
    </div>
    {% endif %}

    {% if account.account_type == 'supervisor' or account.account_type == 'subsupervisor' and 'user' in account.supervisor_permissions %}
    <div class="mb-5">
      <a class="btn btn-danger"
        href="javascript: deleteAccount();">
        회원 삭제
      </a>
    </div>
    {% else %}
    <div class="mb-5">
      <a class="btn btn-danger"
        href="javascript: deleteAccount();">
        회원 탈퇴
      </a>
    </div>
  </div>
  {% endif %}

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!-- Modals -->
<!-- 닉네임 변경 모달 -->
<div class="modal fade" id="rewriteNickNameModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">닉네임 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- name -->
        <div class="form-group">
          <label>새 닉네임</label> <small id="newNickNameConfirmText"></small>
          <input type="text" class="form-control" placeholder="변경할 닉네임을 입력해주세요." id="newNickName">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewriteNickName();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 비밀번호 변경 모달 -->
<div class="modal fade" id="rewritePasswordModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">비밀번호 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- new password -->
        <div class="form-group mb-3">
          <label>새 비밀번호</label> <small id="newPasswordConfirmText"></small>
          <input type="password" class="form-control" placeholder="새 비밀번호를 입력해주세요." id="newPassword">
        </div>

        <!-- confirm password -->
        <div class="form-group">
          <label>새 비밀번호 확인</label> <small id="newPasswordConfirmText"></small>
          <input type="password" class="form-control" placeholder="새 비밀번호를 다시 입력해주세요." id="newPasswordConfirm">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewritePassword();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 파트너 연락처 변경 -->
<div class="modal fade" id="rewritePartnerPhoneModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">파트너 연락처 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- partner tel -->
        <div class="form-group">
          <label>새 연락처</label> <small id="newPartnerTelConfirmText"></small>
          <input type="text" class="form-control" placeholder="변경할 연락처를 입력해주세요." id="newPartnerTel">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewritePartnerTel();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 파트너 이름 변경 모달 -->
<div class="modal fade" id="rewritePartnerNameModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">파트너 이름 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- partner name -->
        <div class="form-group">
          <label>새 이름</label> <small id="newPartnerNameConfirmText"></small>
          <input type="text" class="form-control" placeholder="변경할 이름을 입력해주세요." id="newPartnerName">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewritePartnerName();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 상태 변경 모달 -->
<div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">상태 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- status -->
        <div class="form-group">
          <label>변경할 상태</label>
          <select class="form-select" id="status">
            <option value="active">정상</option>
            <option value="deleted">삭제 대기중</option>
            <option value="blocked">정지됨</option>
          </select>
        </div>
        <small class="text-black-50">
          상태 변경 시, 해당 사용자의 활동이 제한될 수 있습니다. 삭제 대기중 상태는 90일 뒤, 자동으로 삭제됩니다.
        </small>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="changeStatus();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);
  }

  // 닉네임 및 파트너 이름 정보 변경
  var nicknameOk = false;
  var newNicknameInput = document.getElementById('newNickName');
  var newNickNameConfirmText = document.getElementById('newNickNameConfirmText');
  newNicknameInput.addEventListener('input', async () => {
    var newNickName = newNicknameInput.value;
    if (newNickName.length < 2) { // 닉네임은 2글자 이상이어야 함
      newNickNameConfirmText.innerHTML = '닉네임은 2글자 이상이어야 합니다.';
      newNickNameConfirmText.classList.remove('text-success');
      newNickNameConfirmText.classList.add('text-danger');
      nicknameOk = false;
      return
    }

    // 닉네임 중복 확인
    var exist = await fetch('/api/check_nickname?nickname=' + newNickName)
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.result;
    });

    // 닉네임 중복 확인 결과에 따른 처리
    if (exist == 'not_exist') {
      newNickNameConfirmText.innerHTML = '사용 가능한 닉네임입니다.';
      newNickNameConfirmText.classList.remove('text-danger');
      newNickNameConfirmText.classList.add('text-success');
      nicknameOk = true;
      return
    }
    newNickNameConfirmText.innerHTML = '이미 사용 중인 닉네임입니다.';
    newNickNameConfirmText.classList.remove('text-success');
    newNickNameConfirmText.classList.add('text-danger');
    nicknameOk = false;
  });
  rewriteNickName = async () => {
    if(!nicknameOk) {
      return;
    }

    // 닉네임 변경 요청
    var formData = new FormData();
    formData.append('nickname', newNicknameInput.value);
    var result = await fetch('/api/edit_user', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.success;
    });

    // 닉네임 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('닉네임 변경 완료', '닉네임이 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('닉네임 변경 실패', '닉네임 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 비밀번호 변경
  var passwordOk = false;
  var passwordConfirmOk = false;
  const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9]).{8,16}$/; // 영문, 숫자 포함 8~16자
  var newPasswordInput = document.getElementById('newPassword');
  var newPasswordConfirmInput = document.getElementById('newPasswordConfirm');
  newPasswordInput.addEventListener('input', () => { // 비밀번호 입력 시, 비밀번호 형식 확인
    var newPassword = newPasswordInput.value;
    if (!passwordRegex.test(newPassword)) {
      document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호는 8글자 이상이어야 합니다.';
      document.getElementById('newPasswordConfirmText').classList.remove('text-success');
      document.getElementById('newPasswordConfirmText').classList.add('text-danger');
      passwordOk = false;
      return
    }
    document.getElementById('newPasswordConfirmText').innerHTML = '사용 가능한 비밀번호입니다.';
    document.getElementById('newPasswordConfirmText').classList.remove('text-danger');
    document.getElementById('newPasswordConfirmText').classList.add('text-success');
    passwordOk = true;
  });
  newPasswordConfirmInput.addEventListener('input', () => { // 비밀번호 확인 입력 시, 비밀번호 일치 확인
    var newPassword = newPasswordInput.value;
    var newPasswordConfirm = newPasswordConfirmInput.value;
    if (newPassword != newPasswordConfirm) {
      document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호가 일치하지 않습니다.';
      document.getElementById('newPasswordConfirmText').classList.remove('text-success');
      document.getElementById('newPasswordConfirmText').classList.add('text-danger');
      passwordConfirmOk = false;
      return
    }
    document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호가 일치합니다.';
    document.getElementById('newPasswordConfirmText').classList.remove('text-danger');
    document.getElementById('newPasswordConfirmText').classList.add('text-success');
    passwordConfirmOk = true;
  });
  rewritePassword = async () => {
    if (!passwordOk || !passwordConfirmOk) {
      return;
    }

    // 비밀번호 변경 요청
    var formData = new FormData();
    formData.append('password', newPasswordInput.value);
    var result = await fetch('/api/edit_user', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.success;
    });

    // 비밀번호 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('비밀번호 변경 완료', '비밀번호가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('비밀번호 변경 실패', '비밀번호 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 파트너 연락처 변경
  var telOk = false;
  var newPartnerTelInput = document.getElementById('newPartnerTel');
  var newPartnerTelConfirmText = document.getElementById('newPartnerTelConfirmText');
  newPartnerTelInput.addEventListener('input', () => {
    var tel = newPartnerTelInput.value;
    if (tel.length < 6) {
      newPartnerTelConfirmText.innerHTML = '연락처는 6자리 이상이어야 합니다.';
      newPartnerTelConfirmText.classList.remove('text-success');
      newPartnerTelConfirmText.classList.add('text-danger');
      telOk = false;
      return
    }
    newPartnerTelConfirmText.innerHTML = '사용 가능한 연락처입니다.';
    newPartnerTelConfirmText.classList.remove('text-danger');
    newPartnerTelConfirmText.classList.add('text-success');
    telOk = true;
  });
  rewritePartnerTel = async () => {
    if (!telOk) {
      return;
    }

    // 연락처 변경 요청
    var formData = new FormData();
    formData.append('partner_tel', newPartnerTelInput.value);
    var result = await fetch('/api/edit_user', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.success;
    });

    // 연락처 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('연락처 변경 완료', '연락처가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('연락처 변경 실패', '연락처 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 파트너 이름 변경
  var partnerNameOk = false;
  var newPartnerNameInput = document.getElementById('newPartnerName');
  var newPartnerNameConfirmText = document.getElementById('newPartnerNameConfirmText');
  newPartnerNameInput.addEventListener('input', () => {
    var partnerName = newPartnerNameInput.value;
    if (partnerName.length < 2) {
      newPartnerNameConfirmText.innerHTML = '이름은 2글자 이상이어야 합니다.';
      newPartnerNameConfirmText.classList.remove('text-success');
      newPartnerNameConfirmText.classList.add('text-danger');
      partnerNameOk = false;
      return
    }
    newPartnerNameConfirmText.innerHTML = '사용 가능한 이름입니다.';
    newPartnerNameConfirmText.classList.remove('text-danger');
    newPartnerNameConfirmText.classList.add('text-success');
    partnerNameOk = true;
  });
  rewritePartnerName = async () => {
    if (!partnerNameOk) {
      return;
    }

    // 이름 변경 요청
    var formData = new FormData();
    formData.append('partner_name', newPartnerNameInput.value);
    var result = await fetch('/api/edit_user', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.success;
    });

    // 이름 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('이름 변경 완료', '이름이 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('이름 변경 실패', '이름 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 상태 변경
  changeStatus = async () => {
    var status = document.getElementById('status').value;

    // 상태 변경 요청
    var formData = new FormData();
    formData.append('status', status);
    var result = await fetch('/api/edit_user', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.success;
    });

    // 상태 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('상태 변경 완료', '상태가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('상태 변경 실패', '상태 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 회원 탈퇴
  deleteAccount = async () => {

    // 탈퇴 여부 다시 확인
    var isDelete = await Swal.fire({
      html: `
      <div>
        <div class="text-center py-4">
          <h1 class="text-dark">회원 탈퇴</h1>
        </div>
        <diV class="text-start">
          <p class="text-black-50">
            회원 탈퇴 시 모든 정보가 삭제되며, 복구가 불가능합니다. 정말 탈퇴하시겠습니까?
          </p>
        </div>
      </div>`,
      icon: `warning`,
      showConfirmButton: true,
      confirmButtonText: `탈퇴하기`,
      confirmButtonColor: `red`,
      showCancelButton: true,
      cancelButtonText: `취소`
    })
    .then((result) => {
      if(result.isConfirmed) {
        return true;
      }
      return false;
    });
    if (!isDelete) {
      return;
    }

    // 회원 탈퇴 요청
    var result = await fetch('/api/delete_user', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      return data.success;
    });

    // 회원 탈퇴 결과에 따른 처리
    if (result == 'y') {
      await showAlert('회원 탈퇴 완료', '회원 탈퇴가 성공적으로 처리되었습니다. 이용해주셔서 감사합니다.', 'success');
      logout();
      return
    }
    await showAlert('회원 탈퇴 실패', '회원 탈퇴 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

</script>

{% endblock %}