{% extends 'base/base.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: calc(100vh - 160px);">


      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      {% include 'components/main/title_section.html' with title='프로필' subtitle='프로필 정보를 확인하거나 수정할 수 있습니다.' %}

      <!-- 선택지 버튼 그룹 -->
      <div class="btn-group w-100 d-flex">
        {% include 'components/main/page_tab.html' with tab_name='프로필' tab_id='profileTab' tab_link='/profile?tab=profileTab' %}
        <span class="divider"></span>
        {% include 'components/main/page_tab.html' with tab_name='활동 기록' tab_id='activityTab' tab_link='/activity?tab=activityTab' %}
      </div>

      <!-- 프로필 정보 -->
      <div class="mt-4">

        <!-- 프로필 카드 -->
        {% include 'components/main/profile_card.html' %}

        <!-- 등급 정보 -->
        <div class="mb-5">
          <h6 class="text-black-60 mb-3 pb-3 border-bottom">
            등급 정보
          </h6>
          <div class="accordion shadow">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button bg-white text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#levelTableAccordionItem" aria-expanded="true" aria-controls="levelTableAccordionItem">
                  등급 정보 확인
                </button>
              </h2>
              <div id="levelTableAccordionItem" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <table class="table table-border border">
                    <tr>
                      <td class="ps-5">
                        0 레벨
                      </td>
                      <td>
                        {% include 'components/other/level_badge.html' %}
                      </td>
                      <td class="pe-5 text-end">
                        <i class="fi fi-ss-coins"></i> <span class="numberComma">1000</span> Exp
                      </td>
                    </tr>
                  </table>
                  <div class="alert alert-info small">
                    <i class="fi fi-rr-info"></i> 등급 상승은 Exp를 넘긴 후 자동으로 승급됩니다.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 프로필 정보 -->
        <div class="mb-5">
          <h6 class="text-black-60 mb-3 pb-3 border-bottom">
            프로필 수정
          </h6>
          <div class="mt-2 mb-5">
            <p class="text-dark">
              아이디
            </p>
            <p class="text-black-50">
              사용자 아이디
            </p>
          </div>
          <div class="mb-5 row">
            <div class="col-8">
              <p class="text-dark">
                닉네임
                <a class="text-black-50" href="#">
                  <i class="fi fi-rr-edit"></i>
                </a>
              </p>
              <p class="text-black-50">
                사용자 닉네임
              </p>
            </div>
            <div class="col-4">
              <p class="text-dark">
                상태
                <a class="text-black-50" href="#">
                  <i class="fi fi-rr-edit"></i>
                </a>
              </p>
              <p class="text-black-50">
                정상
              </p>
            </div>
          </div>
        </div>

        <!-- 버튼 -->
        <div class="mb-5 text-end">
          <a class="btn btn-success btn-sm small me-2" href="#">
            <i class="fi fi-rr-pen-clip"></i> 비밀번호 변경
          </a>
          <a class="btn btn-danger btn-sm small" href="#">
            <i class="fi fi-rr-trash"></i> 계정 삭제
          </a>
        </div>

      </div>

    </div>

  </div>

</main>

<!-- Modals -->
<!-- 닉네임 변경 모달 -->
<div class="modal fade" id="rewriteNickNameModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">닉네임 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- name -->
        <div class="form-group">
          <label>새 닉네임</label> <small id="newNickNameConfirmText"></small>
          <input type="text" class="form-control" placeholder="변경할 닉네임을 입력해주세요." id="newNickName"
            value="{{ profile.nickname }}">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewriteNickName();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 비밀번호 변경 모달 -->
<div class="modal fade" id="rewritePasswordModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">비밀번호 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- new password -->
        <div class="form-group mb-3">
          <label>새 비밀번호</label> <small id="newPasswordConfirmText"></small>
          <input type="password" class="form-control" placeholder="새 비밀번호를 입력해주세요." id="newPassword">
        </div>

        <!-- confirm password -->
        <div class="form-group">
          <label>새 비밀번호 확인</label> <small id="newPasswordConfirmText"></small>
          <input type="password" class="form-control" placeholder="새 비밀번호를 다시 입력해주세요." id="newPasswordConfirm">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewritePassword();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 파트너 연락처 변경 -->
<div class="modal fade" id="rewritePartnerPhoneModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">파트너 연락처 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- partner tel -->
        <div class="form-group">
          <label>새 연락처</label> <small id="newPartnerTelConfirmText"></small>
          <input type="text" class="form-control" placeholder="변경할 연락처를 입력해주세요." id="newPartnerTel">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewritePartnerTel();"
          data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 파트너 이름 변경 모달 -->
<div class="modal fade" id="rewritePartnerNameModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">파트너 이름 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- partner name -->
        <div class="form-group">
          <label>새 이름</label> <small id="newPartnerNameConfirmText"></small>
          <input type="text" class="form-control" placeholder="변경할 이름을 입력해주세요." id="newPartnerName">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewritePartnerName();"
          data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 상태 변경 모달 -->
<div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">상태 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- status -->
        <div class="form-group">
          <label>변경할 상태</label>
          <select class="form-select" id="status">
            <option value="active">정상</option>
            <option value="deleted">삭제 대기중</option>
            <option value="blocked">정지됨</option>
          </select>
        </div>
        <small class="text-black-50">
          상태 변경 시, 해당 사용자의 활동이 제한될 수 있습니다. 삭제 대기중 상태는 90일 뒤, 자동으로 삭제됩니다.
        </small>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="changeStatus();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 계정 메모 변경 모달 -->
<div class="modal fade" id="changeNoteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">계정 메모 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- note -->
        <div class="form-group">
          <label>변경할 메모</label>
          <textarea class="form-control" id="note" rows="5">{{ profile.note }}</textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="changeNote();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<!-- 하위 관리자 권한 -->
<div class="modal fade" id="rewriteSubSupervisorPermissionsModal" tabindex="-1" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">권한 변경</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- permissions -->
        <div class="form-group">
          <label>변경할 권한</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="user" id="subSupervisorPermissionsUser">
            <label class="form-check-label" for="subSupervisorPermissionsUser">
              사용자 관리
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="post" id="subSupervisorPermissionsPost">
            <label class="form-check-label" for="subSupervisorPermissionsPost">
              게시글 관리
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="coupon" id="subSupervisorPermissionsCoupon">
            <label class="form-check-label" for="subSupervisorPermissionsCoupon">
              쿠폰 관리
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="message" id="subSupervisorPermissionsMessage">
            <label class="form-check-label" for="subSupervisorPermissionsMessage">
              메시지 관리
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="banner" id="subSupervisorPermissionsBanner">
            <label class="form-check-label" for="subSupervisorPermissionsBanner">
              배너 관리
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="level" id="subSupervisorPermissionsLevel">
            <label class="form-check-label" for="subSupervisorPermissionsLevel">
              레벨 관리
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="setting" id="subSupervisorPermissionsSetting">
            <label class="form-check-label" for="subSupervisorPermissionsSetting">
              시스템 관리
            </label>
          </div>
        </div>
        <small class="text-black-50">
          권한 변경 시, 해당 사용자의 권한이 변경됩니다.
        </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="rewriteSubSupervisorPermissions();"
          data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>

<script>

  // 페이지 로드 시 탭 선택 확인
  window.addEventListener('load', () => {
    const tab = '{{request.GET.tab}}';
    if (!tab) {
      location.href = '/profile?tab=profileTab';
    }
  });

  // 닉네임 및 파트너 이름 정보 변경
  var nicknameOk = false;
  var newNicknameInput = document.getElementById('newNickName');
  var newNickNameConfirmText = document.getElementById('newNickNameConfirmText');
  newNicknameInput.addEventListener('input', async () => {
    var newNickName = newNicknameInput.value;
    if (newNickName.length < 2) { // 닉네임은 2글자 이상이어야 함
      newNickNameConfirmText.innerHTML = '닉네임은 2글자 이상이어야 합니다.';
      newNickNameConfirmText.classList.remove('text-success');
      newNickNameConfirmText.classList.add('text-danger');
      nicknameOk = false;
      return
    }

    // 닉네임 중복 확인
    var exist = await fetch('/api/check_nickname?nickname=' + newNickName)
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    // 닉네임 중복 확인 결과에 따른 처리
    if (exist == 'not_exist') {
      newNickNameConfirmText.innerHTML = '사용 가능한 닉네임입니다.';
      newNickNameConfirmText.classList.remove('text-danger');
      newNickNameConfirmText.classList.add('text-success');
      nicknameOk = true;
      return
    }
    newNickNameConfirmText.innerHTML = '이미 사용 중인 닉네임입니다.';
    newNickNameConfirmText.classList.remove('text-success');
    newNickNameConfirmText.classList.add('text-danger');
    nicknameOk = false;
  });
  rewriteNickName = async () => {
    if (!nicknameOk) {
      return;
    }

    // 닉네임 변경 요청
    var formData = new FormData();
    formData.append('nickname', newNicknameInput.value);
    formData.append('edit_account_id', '{{ profile.id }}');
    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 닉네임 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('닉네임 변경 완료', '닉네임이 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('닉네임 변경 실패', '닉네임 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 비밀번호 변경
  var passwordOk = false;
  var passwordConfirmOk = false;
  const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9]).{5,}$/; // 영문, 숫자 포함 5자 이상
  var newPasswordInput = document.getElementById('newPassword');
  var newPasswordConfirmInput = document.getElementById('newPasswordConfirm');
  newPasswordInput.addEventListener('input', () => { // 비밀번호 입력 시, 비밀번호 형식 확인
    var newPassword = newPasswordInput.value;
    if (!passwordRegex.test(newPassword)) {
      document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호는 5글자 이상이어야 합니다.';
      document.getElementById('newPasswordConfirmText').classList.remove('text-success');
      document.getElementById('newPasswordConfirmText').classList.add('text-danger');
      passwordOk = false;
      return
    }
    document.getElementById('newPasswordConfirmText').innerHTML = '사용 가능한 비밀번호입니다.';
    document.getElementById('newPasswordConfirmText').classList.remove('text-danger');
    document.getElementById('newPasswordConfirmText').classList.add('text-success');
    passwordOk = true;
  });
  newPasswordConfirmInput.addEventListener('input', () => { // 비밀번호 확인 입력 시, 비밀번호 일치 확인
    var newPassword = newPasswordInput.value;
    var newPasswordConfirm = newPasswordConfirmInput.value;
    if (newPassword != newPasswordConfirm) {
      document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호가 일치하지 않습니다.';
      document.getElementById('newPasswordConfirmText').classList.remove('text-success');
      document.getElementById('newPasswordConfirmText').classList.add('text-danger');
      passwordConfirmOk = false;
      return
    }
    document.getElementById('newPasswordConfirmText').innerHTML = '비밀번호가 일치합니다.';
    document.getElementById('newPasswordConfirmText').classList.remove('text-danger');
    document.getElementById('newPasswordConfirmText').classList.add('text-success');
    passwordConfirmOk = true;
  });
  rewritePassword = async () => {
    if (!passwordOk || !passwordConfirmOk) {
      return;
    }

    // 비밀번호 변경 요청
    var formData = new FormData();
    formData.append('edit_account_id', '{{ profile.id }}');
    formData.append('password', newPasswordInput.value);
    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 비밀번호 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('비밀번호 변경 완료', '비밀번호가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('비밀번호 변경 실패', '비밀번호 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 파트너 연락처 변경
  var telOk = false;
  var newPartnerTelInput = document.getElementById('newPartnerTel');
  var newPartnerTelConfirmText = document.getElementById('newPartnerTelConfirmText');
  newPartnerTelInput.addEventListener('input', () => {
    var tel = newPartnerTelInput.value;
    if (tel.length < 6) {
      newPartnerTelConfirmText.innerHTML = '연락처는 6자리 이상이어야 합니다.';
      newPartnerTelConfirmText.classList.remove('text-success');
      newPartnerTelConfirmText.classList.add('text-danger');
      telOk = false;
      return
    }
    newPartnerTelConfirmText.innerHTML = '사용 가능한 연락처입니다.';
    newPartnerTelConfirmText.classList.remove('text-danger');
    newPartnerTelConfirmText.classList.add('text-success');
    telOk = true;
  });
  rewritePartnerTel = async () => {
    if (!telOk) {
      return;
    }

    // 연락처 변경 요청
    var formData = new FormData();
    formData.append('partner_tel', newPartnerTelInput.value);
    formData.append('edit_account_id', '{{ profile.id }}');
    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 연락처 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('연락처 변경 완료', '연락처가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('연락처 변경 실패', '연락처 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 파트너 이름 변경
  var partnerNameOk = false;
  var newPartnerNameInput = document.getElementById('newPartnerName');
  var newPartnerNameConfirmText = document.getElementById('newPartnerNameConfirmText');
  newPartnerNameInput.addEventListener('input', () => {
    var partnerName = newPartnerNameInput.value;
    if (partnerName.length < 2) {
      newPartnerNameConfirmText.innerHTML = '이름은 2글자 이상이어야 합니다.';
      newPartnerNameConfirmText.classList.remove('text-success');
      newPartnerNameConfirmText.classList.add('text-danger');
      partnerNameOk = false;
      return
    }
    newPartnerNameConfirmText.innerHTML = '사용 가능한 이름입니다.';
    newPartnerNameConfirmText.classList.remove('text-danger');
    newPartnerNameConfirmText.classList.add('text-success');
    partnerNameOk = true;
  });
  rewritePartnerName = async () => {
    if (!partnerNameOk) {
      return;
    }

    // 이름 변경 요청
    var formData = new FormData();
    formData.append('partner_name', newPartnerNameInput.value);
    formData.append('edit_account_id', '{{ profile.id }}');
    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 이름 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('이름 변경 완료', '이름이 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('이름 변경 실패', '이름 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 상태 변경
  changeStatus = async () => {
    var status = document.getElementById('status').value;

    // 상태 변경 요청
    var formData = new FormData();
    formData.append('status', status);
    formData.append('edit_account_id', '{{ profile.id }}');
    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 상태 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('상태 변경 완료', '상태가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('상태 변경 실패', '상태 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 계정 메모 변경
  changeNote = async () => {
    var note = document.getElementById('note').value;

    // 계정 메모 변경 요청
    var formData = new FormData();
    formData.append('note', note);
    formData.append('edit_account_id', '{{ profile.id }}');
    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 계정 메모 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('계정 메모 변경 완료', '계정 메모가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('계정 메모 변경 실패', '계정 메모 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 회원 탈퇴
  deleteAccount = async () => {

    // 탈퇴 여부 다시 확인
    var isDelete = await Swal.fire({
      html: `
      <div>
        <div class="text-center py-4">
          <h1 class="text-dark">회원 탈퇴</h1>
        </div>
        <diV class="text-start">
          <p class="text-black-50">
            회원 탈퇴 시 모든 정보가 삭제되며, 복구가 불가능합니다. 정말 탈퇴하시겠습니까?
          </p>
        </div>
      </div>`,
      icon: `warning`,
      showConfirmButton: true,
      confirmButtonText: `탈퇴하기`,
      confirmButtonColor: `red`,
      showCancelButton: true,
      cancelButtonText: `취소`
    })
      .then((result) => {
        if (result.isConfirmed) {
          return true;
        }
        return false;
      });
    if (!isDelete) {
      return;
    }

    // 회원 탈퇴 요청
    var result = await fetch('/api/delete_user', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 회원 탈퇴 결과에 따른 처리
    if (result == 'y') {
      await showAlert('회원 탈퇴 완료', '회원 탈퇴가 성공적으로 처리되었습니다. 이용해주셔서 감사합니다.', 'success');
      logout();
      return
    }
    await showAlert('회원 탈퇴 실패', '회원 탈퇴 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // Exp 변경
  updateExp = async () => {
    newExp = document.getElementById('exp').value;

    // Exp 변경 요청
    var formData = new FormData();
    formData.append('exp', newExp);
    formData.append('edit_account_id', '{{ profile.id }}');

    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // Exp 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('Exp 변경 완료', 'Exp가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('Exp 변경 실패', 'Exp 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 마일리지 변경
  updateMileage = async () => {
    newMileage = document.getElementById('mileage').value;

    // 마일리지 변경 요청
    var formData = new FormData();
    formData.append('mileage', newMileage);
    formData.append('edit_account_id', '{{ profile.id }}');

    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 마일리지 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('마일리지 변경 완료', '마일리지가 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('마일리지 변경 실패', '마일리지 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

  // 하위 관리자 권한 변경
  rewriteSubSupervisorPermissions = async () => {
    var permissions = '';
    if (document.getElementById('subSupervisorPermissionsUser').checked) {
      permissions += 'user,';
    }
    if (document.getElementById('subSupervisorPermissionsPost').checked) {
      permissions += 'post,';
    }
    if (document.getElementById('subSupervisorPermissionsCoupon').checked) {
      permissions += 'coupon,';
    }
    if (document.getElementById('subSupervisorPermissionsMessage').checked) {
      permissions += 'message,';
    }
    if (document.getElementById('subSupervisorPermissionsBanner').checked) {
      permissions += 'banner,';
    }
    if (document.getElementById('subSupervisorPermissionsLevel').checked) {
      permissions += 'level,';
    }
    if (document.getElementById('subSupervisorPermissionsSetting').checked) {
      permissions += 'setting,';
    }
    permissions = permissions.slice(0, -1);

    // 권한 변경 요청
    var formData = new FormData();
    formData.append('subsupervisor_permissions', permissions);
    formData.append('edit_account_id', '{{ profile.id }}');

    var result = await fetch('/api/account?update=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.success;
      });

    // 권한 변경 결과에 따른 처리
    if (result == 'y') {
      await showAlert('권한 변경 완료', '권한이 성공적으로 변경되었습니다.', 'success');
      location.reload();
      return
    }
    await showAlert('권한 변경 실패', '권한 변경 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
  }

</script>

{% endblock %}