{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}
    <h5 class="mt-5">
      회원가입
    </h5>
    <p>
      회원가입을 위해 아래 정보를 입력해주세요.
    </p>
  </div>

  <!-- 선택지 버튼 그룹 -->
  <div class="btn-group w-100 d-flex">
    <div class="w-100 d-flex justify-content-center rounded-2">
      <a class="w-100 btn" href="/signup?tab=user" id="userTab">
        일반 회원
      </a>
    </div>
    <span class="divider"></span>
    <div class="w-100 d-flex justify-content-center rounded-2">
      <a class="w-100 btn" id="dameTab" href="/signup?tab=dame">
        여성회원
      </a>
    </div>
    <span class="divider"></span>
    <div class="w-100 d-flex justify-content-center rounded-2">
      <a class="w-100 btn" href="/signup?tab=partner" id="partnerTab">
        파트너 업체
      </a>
    </div>
  </div>

  <!-- 회원 가입 폼 -->
  <div class="mt-5">

    <p class="text-dark">
      회원 가입 정보
    </p>

    <!-- 공통폼 -->
    <div class="mt-2">
      <div class="mb-5">
        <div class="form-group mt-4">
          <label for="accountId">아이디</label> <small id='idConfirmText'></small>
          <input class="form-control" placeholder="아이디를 입력해주세요." id="accountId">
        </div>
      </div>
      <div class="mb-5">
        <div class="form-group mt-5">
          <label for="password">비밀번호</label> <small id='passwordConfirmText'></small>
          <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요." id="password">
          <small>
            비밀번호는 5자 이상, 영문, 숫자 포함해야 합니다.
          </small>
        </div>
        <div class="form-group mt-4">
          <label for="passwordCheck">비밀번호 확인</label> <small id='passwordCheckConfirmText'></small>
          <input type="password" class="form-control" placeholder="비밀번호를 다시 입력해주세요." id="passwordCheck">
        </div>
        <div class="mb-5">
          <div class="form-group mt-5">
            <label for="nickname">닉네임</label> <small id='nicknameConfirmText'></small>
            <input class="form-control" placeholder="닉네임을 입력해주세요." id="nickname">
          </div>
        </div>
      </div>

      <!-- 일반 회원 가입 폼 -->
      <div id="user-form">
      </div>

      <!-- 파트너 업체 가입 폼 -->
      <div id="partner-form" class="d-none">
        <p class="text-dark">
          파트너 업체 가입 정보
        </p>
        <div class="mb-5">
          <div class="form-group mt-5">
            <label for="partnerName">파트너 업체명</label> <small id='partnerNameConfirmText'></small>
            <input class="form-control" placeholder="업체명 또는 사업자명을 입력해주세요." id="partnerName">
          </div>
        </div>
        <div class="mb-5">
          <div class="form-group mt-5">
            <label>지역 카테고리 선택</label><br>
            <div class="mb-3">
              <!-- Level 1 -->
              <select class="form-select mb-1" onchange="
                document.getElementById('selectedBoard').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subBoard').forEach(e => e.classList.add('d-none'));
                document.getElementById('board' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for travel_board in travel_boards %}
                <option value="{{travel_board.id}}">{{travel_board.name}}</option>
                {% endfor %}
              </select>

              {% for travel_board in travel_boards %}
              {% if travel_board.children|length > 0 %}
              <!-- Level 2 -->
              <select class="subBoard form-select d-none mb-1" id="board{{travel_board.id}}" onchange="
                document.getElementById('selectedBoard').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subBoard').forEach(e => e.classList.add('d-none'));
                document.getElementById('board' + '{{travel_board.id}}').classList.toggle('d-none');
                document.getElementById('board' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for child in travel_board.children %}
                <option value="{{child.id}},{{travel_board.id}}">{{travel_board.name}} > {{child.name}}</option>
                {% endfor %}
              </select>
              {% endif %}

              {% for child in travel_board.children %}
              {% if child.children|length > 0 %}
              <!-- Level 3 -->
              <select class="subBoard form-select d-none mb-1" id="board{{child.id}}" onchange="
                document.getElementById('selectedBoard').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subBoard').forEach(e => e.classList.add('d-none'));
                document.getElementById('board' + '{{travel_board.id}}').classList.toggle('d-none');
                document.getElementById('board' + '{{child.id}}').classList.toggle('d-none');
                document.getElementById('board' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for child2 in child.children %}
                <option value="{{child.id}},{{travel_board.id}},{{child2.id}}">{{travel_board.name}} > {{child.name}} > {{child2.name}}</option>
                {% endfor %}
              </select>
              {% endif %}

              {% for child2 in child.children %}
              {% if child2.children|length > 0 %}
              <!-- Level 4 -->
              <select class="subBoard form-select d-none mb-1" id="board{{child2.id}}" onchange="
                document.getElementById('selectedBoard').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subBoard').forEach(e => e.classList.add('d-none'));
                document.getElementById('board' + '{{travel_board.id}}').classList.toggle('d-none');
                document.getElementById('board' + '{{child.id}}').classList.toggle('d-none');
                document.getElementById('board' + '{{child2.id}}').classList.toggle('d-none');
                document.getElementById('board' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for child3 in child2.children %}
                <option value="{{child.id}},{{travel_board.id}},{{child2.id}},{{child3.id}}">{{travel_board.name}} > {{child.name}} > {{child2.name}} > {{child3.name}}</option>
                {% endfor %}
              </select>
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% endfor %}

            </div>
            <input class="d-none" id="selectedBoard">
          </div>
        </div>
        <div class="mb-5">
          <div class="form-group mt-5">
            <label>업종 카테고리 선택</label><br>
            <div class="mb-3">
              <!-- category1 -->
              <select class="form-select mb-1" onchange="
                document.getElementById('serviceCategory').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subCategory').forEach(e => e.classList.add('d-none'));
                document.getElementById('category' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
              </select>
              {% for category in categories %}
              {% if category.children|length > 0 %}
              <!-- category2 -->
              <select class="subCategory form-select d-none mb-1" id="category{{category.id}}" onchange="
                document.getElementById('serviceCategory').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subCategory').forEach(e => e.classList.add('d-none'));
                document.getElementById('category' + '{{category.id}}').classList.toggle('d-none');
                document.getElementById('category' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for child in category.children %}
                <option value="{{category.id}},{{child.id}}">{{category.name}} > {{child.name}}</option>
                {% endfor %}
              </select>
              {% endif %}

              {% for child in category.children %}
              {% if child.children|length > 0 %}
              <!-- category3 -->
              <select class="subCategory form-select d-none mb-1" id="category{{child.id}}" onchange="
                document.getElementById('serviceCategory').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subCategory').forEach(e => e.classList.add('d-none'));
                document.getElementById('category' + '{{category.id}}').classList.toggle('d-none');
                document.getElementById('category' + '{{child.id}}').classList.toggle('d-none');
                document.getElementById('category' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for child2 in child.children %}
                <option value="{{category.id}},{{child.id}},{{child2.id}}">{{category.name}} > {{child.name}} > {{child2.name}}</option>
                {% endfor %}
              </select>
              {% endif %}

              {% for child2 in child.children %}
              {% if child2.children|length > 0 %}
              <!-- category4 -->
              <select class="subCategory form-select d-none mb-1" id="category{{child2.id}}" onchange="
                document.getElementById('serviceCategory').value = this.options[this.selectedIndex].value;
                document.querySelectorAll('.subCategory').forEach(e => e.classList.add('d-none'));
                document.getElementById('category' + '{{category.id}}').classList.toggle('d-none');
                document.getElementById('category' + '{{child.id}}').classList.toggle('d-none');
                document.getElementById('category' + '{{child2.id}}').classList.toggle('d-none');
                document.getElementById('category' + this.value).classList.toggle('d-none');">
                <option>-선택해주세요-</option>
                {% for child3 in child2.children %}
                <option value="{{category.id}},{{child.id}},{{child2.id}},{{child3.id}}">{{category.name}} > {{child.name}} > {{child2.name}} > {{child3.name}}</option>
                {% endfor %}
              </select>
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% endfor %}

            </div>
            <input class="d-none" id="serviceCategory">
          </div>
        </div>
        <div class="mb-5">
          <div class="form-group mt-5">
            <label for="tel">연락처</label>
            <input class="form-control" placeholder="연락처를 입력해주세요." id="tel">
          </div>
          <div class="form-group mt-5">
            <label for="email">이메일</label>
            <input class="form-control" placeholder="이메일을 입력해주세요." id="email">
          </div>
          <div class="form-group mb-4">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
              <div style="display: inline-block; text-align: left;">
                <label class="mt-5">주소</label>
              </div>
              <div style="display: inline-block; text-align: right;">
                <a class="btn btn-success mt-3" href="javascript: sample3_execDaumPostcode();">주소검색</a>
              </div>
            </div>
            <div class="content">
              <div id="wrap"
                style="display:none;border:1px solid;width:100%;height:300px;margin:5px 0;position:relative">
                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                  style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                  onclick="foldDaumPostcode()" alt="접기 버튼">
              </div>
              <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
              <script>
                // 우편번호 찾기 찾기 화면을 넣을 element
                var element_wrap = document.getElementById('wrap');

                function foldDaumPostcode() {
                  // iframe을 넣은 element를 안보이게 한다.
                  element_wrap.style.display = 'none';
                }

                function sample3_execDaumPostcode() {
                  // 현재 scroll 위치를 저장해놓는다.
                  var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                  new daum.Postcode({
                    oncomplete: function (data) {
                      // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                      // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                      // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                      var addr = ''; // 주소 변수
                      var extraAddr = ''; // 참고항목 변수

                      //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                      if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                      } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                      }

                      // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                      if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                          extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                          extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                          extraAddr = ' (' + extraAddr + ')';
                        }
                      }

                      // 우편번호와 주소 정보를 해당 필드에 넣는다.
                      document.getElementById("address").value = addr;

                      // iframe을 넣은 element를 안보이게 한다.
                      // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                      element_wrap.style.display = 'none';

                      // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                      document.body.scrollTop = currentScroll;
                    },
                    // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                    onresize: function (size) {
                      element_wrap.style.height = size.height + 'px';
                    },
                    width: '100%',
                    height: '100%'
                  }).embed(element_wrap);

                  // iframe을 넣은 element를 보이게 한다.
                  element_wrap.style.display = 'block';
                }
              </script>
            </div>
            <input id="address" class="form-control mt-2 mb-1" placeholder="소재지가 해외인경우 직접 입력해주세요.">
            <input id="addressDetail" class="form-control mt-2" placeholder="상세 주소를 입력해주세요.">
          </div>
          <p class="text-black-50 small mt-3">
            <i class="fi fi-rr-info"></i> 파트너 회원의 경우, 관리자 승인 후 서비스 이용이 가능합니다.
          </p>
        </div>
      </div>

      <!-- 여성회원 가입 폼 -->
      <div id="dame-form" class="d-none">
        <small>
          여성회원의 경우 가입 후 인증이 필요합니다.
        </small>
      </div>

    </div>
  </div>

  <!-- 약관 동의 및 회원가입 버튼 -->
  <div class="mt-5">
    <div class="mb-5">
      <div class="form-group mt-4">
        <input type="checkbox" class="form-check-input" id="termsAgree">
        <label for="termsAgree" class="form-check-label">
          서비스 이용약관 및 개인정보 처리방침에 동의합니다. 
          <a href="javascript: window.open('/terms');" class="text-black-50 small">약관확인</a>
        </label>
      </div>
    </div>
    <button type="submit" class="btn mb-5 btn-primary" onclick="tryRegister();">회원가입</button>
  </div>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<script>
  var idOk = false;
  var passwordOk = false;
  var passwordCheckOk = false;
  var nicknameOk = false;
  var partnerNameOk = false;
  var locationCategoryOk = false;
  var serviceCategoryOk = false;
  var telOk = false;
  var addressOk = false;
  var emailOk = false;
  var nowRegisterType = '{{request.GET.tab}}';

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '/signup?tab=user';
    }
    var userTab = document.getElementById('userTab');
    var dameTab = document.getElementById('dameTab');
    var partnerTab = document.getElementById('partnerTab');
    if (tab == 'user') {
      userTab.classList.add('pastel-pink-background');
      userTab.classList.add('text-dark');
      userTab.style.fontWeight = 'semibold';
      partnerTab.classList.add('pastel-beige-background');
      partnerTab.classList.remove('text-dark');
      dameTab.classList.add('pastel-beige-background');
      dameTab.classList.remove('text-dark');
      document.getElementById('user-form').classList.remove('d-none');
      document.getElementById('partner-form').classList.add('d-none');
      document.getElementById('dame-form').classList.add('d-none');
    } else if (tab == 'dame') {
      userTab.classList.add('pastel-beige-background');
      userTab.classList.remove('text-dark');
      partnerTab.classList.add('pastel-beige-background');
      partnerTab.classList.remove('text-dark');
      dameTab.classList.add('pastel-pink-background');
      dameTab.classList.add('text-dark');
      dameTab.style.fontWeight = 'semibold';
      document.getElementById('user-form').classList.add('d-none');
      document.getElementById('partner-form').classList.add('d-none');
      document.getElementById('dame-form').classList.remove('d-none');
    } else if (tab == 'partner') {
      userTab.classList.add('pastel-beige-background');
      userTab.classList.remove('text-dark');
      partnerTab.classList.add('pastel-pink-background');
      partnerTab.classList.add('text-dark');
      partnerTab.style.fontWeight = 'semibold';
      dameTab.classList.add('pastel-beige-background');
      dameTab.classList.remove('text-dark');
      document.getElementById('user-form').classList.add('d-none');
      document.getElementById('partner-form').classList.remove('d-none');
      document.getElementById('dame-form').classList.add('d-none');
    }

  }

  // 아이디 중복 검사
  document.querySelector('#accountId').addEventListener('input', async () => {
    var accountId = document.getElementById('accountId').value;
    if (accountId.length < 4) { // 아이디가 4자 미만인 경우는 중복검사를 하지 않음
      document.getElementById('idConfirmText').innerText = '아이디는 4자 이상이어야 합니다.';
      return
    }

    // 중복검사
    var exist = await fetch(`/api/check_id?id=${accountId}`)
    .then(res => res.json())
    .then(data => {
      console.log(data);
      return data.result;
    });

    // 중복검사 결과에 따른 메시지 출력
    var idConfirmText = document.getElementById('idConfirmText');
    if (exist === 'not_exist') {
      idConfirmText.innerText = '사용 가능한 아이디입니다.';
      idConfirmText.classList.add('text-success');
      idConfirmText.classList.remove('text-danger');
      idOk = true; // 아이디 중복검사 통과. 사용 가능
      return
    }
    idConfirmText.innerText = '이미 사용중인 아이디입니다.';
    idConfirmText.classList.remove('text-success');
    idConfirmText.classList.add('text-danger');
    idOk = false; // 아이디 중복검사 실패. 사용 불가
  });

  // 비밀번호, 비밀번호 확인 일치 여부 확인
  const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9]).{5,}$/; // 영문, 숫자 포함 5자 이상
  document.querySelector('#password').addEventListener('input', () => {

    // 비밀번호 형식 확인에 따른 메시지 출력
    var passwordConfirmText = document.getElementById('passwordConfirmText');
    if (!passwordRegex.test(document.getElementById('password').value)) {
      passwordConfirmText.innerText = '비밀번호는 5자 이상, 영문, 숫자 포함해야 합니다.';
      passwordConfirmText.classList.remove('text-success');
      passwordConfirmText.classList.add('text-danger');
      passwordOk = false; // 비밀번호 형식 불일치. 사용 불가
      return
    }
    passwordConfirmText.innerText = '사용 가능한 비밀번호입니다.';
    passwordConfirmText.classList.add('text-success');
    passwordConfirmText.classList.remove('text-danger');
    passwordOk = true; // 비밀번호 형식 일치. 사용 가능
  });
  document.querySelector('#passwordCheck').addEventListener('input', () => {

    // 비밀번호 확인 일치 여부 확인에 따른 메시지 출력
    var passwordCheckConfirmText = document.getElementById('passwordCheckConfirmText');
    if (document.getElementById('password').value !== document.getElementById('passwordCheck').value) {
      passwordCheckConfirmText.innerText = '비밀번호가 일치하지 않습니다.';
      passwordCheckConfirmText.classList.remove('text-success');
      passwordCheckConfirmText.classList.add('text-danger');
      passwordCheckOk = false;
      return;
    }
    passwordCheckConfirmText.innerText = '비밀번호가 일치합니다.';
    passwordCheckConfirmText.classList.add('text-success');
    passwordCheckConfirmText.classList.remove('text-danger');
    passwordCheckOk = true;
  });

  // 닉네임 중복 검사
  checkNickname = async (nickname) => {
    return await fetch(`/api/check_nickname?nickname=${nickname}`)
    .then(res => res.json())
    .then(data => {
      console.log(data);
      return data.result;
    });
  }

  document.querySelector('#nickname').addEventListener('input', async () => {
    var name = document.getElementById('nickname').value;
    var nameConfirmText = document.getElementById('nicknameConfirmText');

    // 닉네임 길이 확인
    if (name.length < 2) {
      nameConfirmText.innerText = '닉네임은 2자 이상이어야 합니다.';
      nameConfirmText.classList.remove('text-success');
      nameConfirmText.classList.add('text-danger');
      nicknameOk = false;
      return
    }

    // 닉네임 중복 검사
    var exist = await checkNickname(name);

    // 닉네임 중복 검사 결과에 따른 메시지 출력
    if (exist === 'not_exist') {
      nameConfirmText.innerText = '사용 가능한 닉네임입니다.';
      nameConfirmText.classList.add('text-success');
      nameConfirmText.classList.remove('text-danger');
      nicknameOk = true; // 닉네임 중복검사 통과. 사용 가능
      return
    }
    nameConfirmText.innerText = '이미 사용중인 닉네임입니다.';
    nameConfirmText.classList.remove('text-success');
    nameConfirmText.classList.add('text-danger');
    nicknameOk = false; // 닉네임 중복검사 실패. 사용 불가
  });

  // 업체명 중복 검사(닉네임과 동일하게 처리)
  document.querySelector('#partnerName').addEventListener('input', async () => {
    var partnerName = document.getElementById('partnerName').value;
    var partnerNameConfirmText = document.getElementById('partnerNameConfirmText');

    // 업체명 길이 확인
    if (document.getElementById('partnerName').value.length < 2) {
      document.getElementById('partnerNameConfirmText').innerText = '업체명은 2자 이상이어야 합니다.';
      document.getElementById('partnerNameConfirmText').classList.remove('text-success');
      document.getElementById('partnerNameConfirmText').classList.add('text-danger');
      partnerNameOk = false;
      return
    }
    partnerNameConfirmText.innerText = '사용 가능한 업체명입니다.';
    partnerNameConfirmText.classList.add('text-success');
    partnerNameConfirmText.classList.remove('text-danger');
    partnerNameOk = true; // 업체명 중복검사 통과. 사용 가능
  });

  // 위치 카테고리 선택 확인. 카테고리를 선택했는지만 확인
  document.querySelector('#selectedBoard').addEventListener('input', () => {
    if (document.getElementById('selectedBoard').value === '') {
      locationCategoryOk = false;
      return;
    }
    locationCategoryOk = true;
  });

  // 서비스 카테고리 선택 확인. 카테고리를 선택했는지만 확인
  document.querySelector('#serviceCategory').addEventListener('input', () => {
    if (document.getElementById('serviceCategory').value === '') {
      serviceCategoryOk = false;
      return;
    }
    serviceCategoryOk = true;
  });

  // 전화번호 확인. 7자리 이상 입력되었는지 확인
  document.querySelector('#tel').addEventListener('input', () => {
    if (document.getElementById('tel').value.length < 7) {
      telOk = false;
      return;
    }
    telOk = true;
  });

  // 이메일 확인. 이메일 형식인지 확인
  document.querySelector('#email').addEventListener('input', () => {
    var email = document.getElementById('email').value;
    if (email.length < 5) {
      emailOk = false;
      return;
    }
    if (email.indexOf('@') == -1 || email.indexOf('.') == -1) {
      emailOk = false;
      return;
    }
    emailOk = true;
  });

  // 주소 확인. 10자리 이상 입력되었는지 확인
  document.querySelector('#address').addEventListener('input', () => {
    if (document.getElementById('address').value.length < 10) {
      addressOk = false;
    }
    addressOk = true;
  });

  // 회원가입 시도
  tryRegister = async () => {

    // 위치 카테고리와 서비스 카테고리에 input 이벤트 발생시키기
    document.getElementById('selectedBoard').dispatchEvent(new Event('input'));
    document.getElementById('serviceCategory').dispatchEvent(new Event('input'));

    // 약관 동의 확인
    if (!document.getElementById('termsAgree').checked) {
      await showAlert('약관 동의', '서비스 이용약관 및 개인정보 처리방침에 동의해주세요.', 'error');
      return;
    }

    // 회원가입 정보 확인
    // 일반회원, 여성회원의 경우
    if (nowRegisterType === 'user' || nowRegisterType === 'dame') {
      if (!idOk || !passwordOk || !passwordCheckOk || !nicknameOk) { // 필수 정보 확인
        await showAlert('회원가입 정보 확인', '회원가입 정보를 확인해주세요.', 'error');
        return;
      }
    } else { // 파트너 업체의 경우
      if (!idOk || !passwordOk || !passwordCheckOk || !partnerNameOk || !locationCategoryOk || !serviceCategoryOk || !telOk || !addressOk) {
        await showAlert('회원가입 정보 확인', '회원가입 정보를 확인해주세요.', 'error');
        return;
      }
    }

    // 회원가입 요청
    var formData = new FormData();
    formData.append('account_type', nowRegisterType);
    formData.append('id', document.getElementById('accountId').value);
    formData.append('password', document.getElementById('password').value);
    formData.append('nickname', document.getElementById('nickname').value);
    formData.append('partner_name', document.getElementById('partnerName').value);
    formData.append('email', document.getElementById('email').value);
    formData.append('location_category', document.getElementById('selectedBoard').value);
    formData.append('service_category', document.getElementById('serviceCategory').value);
    formData.append('tel', document.getElementById('tel').value);
    formData.append('address', document.getElementById('address').value + ' ' + document.getElementById('addressDetail').value);
    var result = await fetch('/api/account?create=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(res => res.json())
    .then(data => {
      console.log(data);
      return data.result;
    });

    // 회원가입 결과에 따른 메시지 출력
    if (result === 'active') {
      await showAlert('회원가입 성공', '회원가입이 성공적으로 완료되었습니다.', 'success');
      location.href = '/';
      return;
    } else if (result.indexOf('pending') != -1) {
      await showAlert('회원가입 대기', '관리자 승인 후 모든 서비스를 이용할 수 있습니다.<br>승인 전까지는 일부 서비스만 이용 가능합니다.', 'success');
      location.href = '/';
      return;
    } else if (result === 'exist') {
      await showAlert('중복 요청', '이미 가입된 아이디입니다. 중복 가입할 수 없습니다.', 'error');
      location.href = '/';
    }
    await showAlert('회원가입 실패', '회원가입에 실패했습니다. 다시 시도해주세요.', 'error');
  }

</script>

{% endblock %}