{% extends 'base/base.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: calc(100vh - 160px);">


      <!-- 페이지 타이틀 -->
      {% include 'components/main/title_section.html' with title='Terms of Service' subtitle='개인정보 처리 방침 및 이용약관 (2024-10-26) Original' %}

      <!-- 이용 약관 -->
      <div class="mt-4">
        <textarea class="form-control w-100" style="height: 500px;" readonly>
          {{ terms }}
        </textarea>
      </div>

    </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>
{% endblock %}