{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <!-- 페이지 타이틀 -->
    {% with title='사용자 관리' subtitle='사용자 및 관리자 정보 관리' %}
    {% include 'components/main/title_section.html' %}
    {% endwith %}

    <!-- 탭 -->
    <div class="btn-group w-100 d-flex">
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/account?tab=userTab" id="userTab">
          사용자 계정
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'userTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('userTab').classList.add('pastel-pink-background');
                  document.getElementById('userTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('userTab').classList.add('pastel-beige-background');
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/account?tab=dameTab" id="dameTab">
          여성 계정
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'dameTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('dameTab').classList.add('pastel-pink-background');
                  document.getElementById('dameTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('dameTab').classList.add('pastel-beige-background');
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/account?tab=partnerTab" id="partnerTab">
          파트너 계정
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'partnerTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('partnerTab').classList.add('pastel-pink-background');
                  document.getElementById('partnerTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('partnerTab').classList.add('pastel-beige-background');
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/account?tab=supervisorTab" id="supervisorTab">
          관리자 계정
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'supervisorTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('supervisorTab').classList.add('pastel-pink-background');
                  document.getElementById('supervisorTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('supervisorTab').classList.add('pastel-beige-background');
              }
          });
      </script>
    </div>

    <!-- 차단 IP 목록 -->
    {% if request.GET.tab in 'userTab,dameTab' %}
    <div class="rounded border p-2 my-3 shadow">
      <p>
        <i class="fi fi-rr-lock"></i> 차단 IP 목록
      </p>
      <div class="accordion shadow">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button bg-white text-black-50 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#levelTableAccordionItem" aria-expanded="false"
              aria-controls="levelTableAccordionItem">
              차단 IP 목록 확인
            </button>
          </h2>
          <div id="levelTableAccordionItem" class="accordion-collapse collapse">
            <div class="accordion-body">
              <table class="table table-bordered">
                <thead>
                  <tr class="bg-body-secondary">
                    <th>차단 IP</th>
                    <th style="width: 100px;" class="text-center">
                      <a class="text-success"
                        href="javascript: new bootstrap.Modal(document.getElementById('blockIpModal')).show()">
                        <i class="fi fi-rr-plus"></i> IP 차단
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for blocked_ip in blocked_ips %}
                  <tr>
                    <td>{{blocked_ip.ip}}</td>
                    <td class="text-center">
                      <a href="javascript: unblockIp('{{blocked_ip.ip}}')" class="text-danger">
                        <i class="fi fi-rr-unlock"></i> 해제
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- 통계 -->
    {% if request.GET.tab in 'userTab,dameTab,partnerTab' %}
    <div class="rounded border p-2 my-3 shadow">
      <p>
        <i class="fi fi-rr-stats"></i> 통계
      </p>
      <table class="table table-bordered">
        <thead>
          <tr class="bg-body-secondary">
            <th>구분</th>
            <th>정상</th>
            <th>승인 대기중</th>
            <th>탈퇴</th>
            <th>정지</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% if request.GET.tab == 'userTab' %}
              일반 회원
              {% elif request.GET.tab == 'dameTab' %}
              여성 회원
              {% else %}
              파트너 회원
              {% endif %}
            </td>
            <td>{{status.active}}</td>
            <td>{{status.pending}}</td>
            <td>{{status.deleted}}</td>
            <td>{{status.blocked}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}

    <!-- 검색 -->
    <div class="rounded border p-2 my-3 shadow">
      <p>
        <i class="fi fi-rr-search"></i> 검색
      </p>
      <form id="userSearchForm" method="get" action="{{SUPERVISOR_URL}}/supervisor/account">
        <div class="row">
          <input type="hidden" name="tab" value="{{request.GET.tab}}">
          <div class="form-group col-4">
            <label>아이디</label>
            <input class="form-control" name="username" placeholder="사용자 아이디" value="{{request.GET.username}}">
          </div>
          <div class="form-group col-3">
            <label>닉네임</label>
            <input class="form-control" name="nickname" placeholder="사용자 닉네임" value="{{request.GET.nickname}}">
          </div>
          <div class="form-group col-3">
            <label>상태</label>
            <select class="form-select" name="status">
              <option value=''>전체</option>
              <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>정상</option>
              <option value="pending" {% if request.GET.status == 'pending' %}selected{% endif %}>승인 대기중</option>
              <option value="deleted" {% if request.GET.status == 'deleted' %}selected{% endif %}>탈퇴</option>
              <option value="blocked" {% if request.GET.status == 'blocked' %}selected{% endif %}>정지</option>
            </select>
          </div>
          <div class="form-group col-2">
            <label>검색</label>
            <select class="form-select" name="page_items">
              <option value="30" {% if request.GET.page_items == '30' %}selected{% endif %}>30개씩</option>
              <option value="50" {% if request.GET.page_items == '50' %}selected{% endif %}>50개씩</option>
              <option value="100" {% if request.GET.page_items == '100' %}selected{% endif %}>100개씩</option>
            </select>
          </div>
        </div>
      </form>
      <p class="text-end mt-3 mb-2">
        <a class="btn btn-primary" href="javascript: document.getElementById('userSearchForm').submit()">
          <i class="fi fi-rr-search"></i> 검색
        </a>
      </p>
    </div>

    <!-- 버튼 그룹 -->
    <div class="text-end my-3">
      <a class="btn btn-danger btn-sm me-2"
        href="javascript: deleteSelectedAccounts()">
        <i class="fi fi-rr-trash"></i> 선택 삭제
      </a>
      <a class="btn btn-primary btn-sm me-2"
        href="javascript: new bootstrap.Modal(document.getElementById('addAccount')).show()">
        <i class="fi fi-rr-user-add"></i> 사용자 생성
      </a>
      {% if request.GET.tab == 'supervisorTab' and account.account_type == 'supervisor' %}
      <a class="btn btn-primary btn-sm me-2"
        href="javascript: new bootstrap.Modal(document.getElementById('addSubsupervisor')).show()">
        <i class="fi fi-rr-user-add"></i> 하위 관리자 추가
      </a>
      {% endif %}
      <a href="javascript: openExportDataPage();" class="btn btn-sm btn-success">
        <i class="fi fi-rr-file-excel"></i> 다운로드
      </a>
    </div>

    <!-- 검색 결과 -->
    <div class="row p-2 my-3">
      <!-- 검색 결과 -->
      {% if accounts|length < 1 %}
      <p>
        검색 결과가 없습니다.
      </p>
      {% endif %}
      <table class="table table-bordered">
        <thead>
          <tr class="bg-body-secondary">
            <th>아이디</th>
            <th>닉네임</th>
            <th>회원구분</th>
            <th>상태</th>
            <th>가입일</th>
            <th>최근 접속일</th>
            <th>최근 접속 아이피</th>
            <th>메세지</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          {% for search_account in accounts %}
          <tr>
            <td>{{ search_account.username }}</td>
            <td>
              <a href="{{SUPERVISOR_URL}}/supervisor/account/profile?account_id={{ search_account.id }}&tab=profileTab">
                <span class="me-2">
                  {{ search_account.nickname }}
                </span>
                {% if search_account.account_type in 'user,dame' %}
                {% with level=search_account.level %}
                {% include 'components/other/level_badge.html' %}
                {% endwith %}
                {% elif search_account.account_type == 'partner' %}
                ({{ search_account.partner_name }})
                {% endif %}
              </a>
            </td>
            <td>
              {% if 'supervisor' in search_account.account_type %}
              관리자
              {% elif 'subsupervisor' in search_account.account_type %}
              하위 관리자
              {% elif 'partner' in search_account.account_type %}
              파트너
              {% elif 'dame' in search_account.account_type %}
              여성회원
              {% else %}
              일반회원
              {% endif %}
            </td>
            <td>
              {% if search_account.status == 'active' %}
              <span class="badge bg-success">정상</span>
              {% elif 'pending' in search_account.status %}
              <span class="badge bg-warning">승인대기중</span>
              {% elif search_account.status == 'deleted' %}
              <span class="badge bg-danger">탈퇴</span>
              {% elif search_account.status == 'blocked' %}
              <span class="badge bg-secondary">정지</span>
              {% endif %}
            </td>
            <td>{{ search_account.date_joined }}</td>
            <td>{{ search_account.last_login }}</td>
            <td>{{ search_account.ip }}</td>
            <td>
              {% if search_account.account_type in 'user,dame,partner' %}
              <a href="{{SUPERVISOR_URL}}/supervisor/message?tab=inboxTab&to={{ search_account.id }}&message_type={% if search_account.account_type in 'user,dame' %}user{% else %}partner{% endif %}_question">
                <i class="fi fi-rr-envelope"></i>
              </a>
              {% endif %}
            </td>
            <td>
              <input type="checkbox" class="form-check-input" name="selectedAccounts" value="{{ search_account.id }}">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!--
      <div class="col-12 p-1 mb-1 border-bottom">
        <a href="{{SUPERVISOR_URL}}/supervisor/account/profile?account_id={{ search_account.id }}&tab=profileTab">
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
              <span class="text-black-50" style="font-size: 14px;">
                {{ search_account.username }} (
                {% if 'supervisor' in search_account.account_type %}
                관리자
                {% elif 'subsupervisor' in search_account.account_type %}
                하위 관리자
                {% elif 'partner' in search_account.account_type %}
                파트너
                {% elif 'dame' in search_account.account_type %}
                여성회원
                {% else %}
                일반회원
                {% endif %})
              </span><br>
              <p class="mb-2">
                <span class="h6 text-black-60">
                  {{ search_account.nickname }}
                </span>
                {% if search_account.account_type in 'user,dame' %}
                {% with level=search_account.level %}
                {% include 'components/other/level_badge.html' %}
                {% endwith %}
                {% endif %}

              </p>
              <span class="text-black-50">
                <i class="fi fi-rr-calendar"></i> 가입일: {{ search_account.date_joined }} / 최근 접속일: {{ search_account.last_login }}
              </span>
            </div>
            <div style="display: inline-block; text-align: right;">
              <input type="checkbox" class="form-check-input" name="selectedAccounts" value="{{ search_account.id }}">
              <p class="m-0 text-end text-black-50 mt-2" style="font-size: 14px;">
                {% if search_account.status == 'active' %}
                <span class="badge bg-success">정상</span>
                {% elif 'pending' in search_account.status %}
                <span class="badge bg-warning">승인대기중</span>
                {% elif search_account.status == 'deleted' %}
                <span class="badge bg-danger">탈퇴</span>
                {% elif search_account.status == 'blocked' %}
                <span class="badge bg-secondary">정지</span>
                {% endif %}
              </p>
            </div>
          </div>
          {% if search_account.account_type in 'user,dame' %}
          <div class="row mt-2">
            <div class="col-6">
              <p class="text-dark m-0">
                Exp: <span class="text-black-50"><i class="fi fi-ss-coins"></i> <span class="numberComma">{{ search_account.exp }}</span> Exp</span>
              </p>
            </div>
            <div class="col-6">
              <p class="text-dark m-0">
                마일리지: <span class="text-black-50"><i class="fi fi-ss-coins text-secondary"></i> <span class="numberComma">{{ search_account.mileage }}</span> 마일리지</span>
              </p>
            </div>
          </div>
          {% endif %}
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
              <p class="text-black-50 small">
                최근 접속 IP: {{ search_account.ip }}
              </p>
            </div>
            <div style="display: inline-block; text-align: right;">
              {% if search_account.account_type in 'user,dame,partner' %}
              <a class="btn btn-primary small p-1 px-2"
                href="{{SUPERVISOR_URL}}/supervisor/message?tab=inboxTab&to={{ search_account.id }}&message_type={% if search_account.account_type in 'user,dame' %}user{% else %}partner{% endif %}_question">
                <i class="fi fi-rr-envelope"></i> 메시지 보내기
              </a>
              {% endif %}
            </div>
          </div>
        </a>
      </div>-->
    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>

<!-- Modals -->
<!-- 부 관리자 추가 -->
{% include 'components/modal/supervisor/create_subsupervisor.html' %}
{% include 'components/modal/supervisor/create_account.html' %}
<!-- 아이피 차단 -->
{% include 'components/modal/supervisor/create_blocked_ip.html' %}


<script>

  window.addEventListener('load', () => {

    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{SUPERVISOR_URL}}/supervisor/account?tab=userTab';
    }

    // pagination
    if ('{{last_page}}' && document.querySelector('#pageButton')) {
      var tab = '{{request.GET.tab}}';
      var searchAccountId = '{{request.GET.accountId}}';
      var searchAccountNickname = '{{request.GET.accountNickname}}';
      var searchAccountStatus = '{{request.GET.accountStatus}}';
      makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{SUPERVISOR_URL}}/supervisor/account?tab=${tab}&accountId=${searchAccountId}&accountNickname=${searchAccountNickname}&accountStatus=${searchAccountStatus}`);
    }
  });

  // 사용자 선택 삭제
  deleteSelectedAccounts = async () => {

    var isDelete = await Swal.fire({
      html: `
      <div>
        <div class="text-center py-4">
          <h1 class="text-dark">회원 삭제</h1>
        </div>
        <diV class="text-center">
          <p class="text-black-50">
            선택된 회원을 삭제하시겠습니까?
          </p>
        </div>
      </div>`,
      icon: `warning`,
      showConfirmButton: true,
      confirmButtonText: `삭제하기`,
      confirmButtonColor: `#f25767`,
      showCancelButton: true,
      cancelButtonText: `취소`,
      cancelButtonColor: `#929ea8`
    })
      .then((result) => {
        if (result.isConfirmed) {
          return true;
        }
        return false;
      });
    if (!isDelete) {
      return;
    }

    showAlert('일괄 삭제', '선택된 회원을 삭제합니다. 잠시만 기다려주세요', 'info');

    var selectedAccounts = document.getElementsByName('selectedAccounts');
    var selectedAccountIds = [];
    for (var i = 0; i < selectedAccounts.length; i++) {
      if (selectedAccounts[i].checked) {
        await fetch('/api/account?id=' + selectedAccounts[i].value, {
          method: 'DELETE',
          headers: {
            'X-CSRFToken': csrftoken
          }
        });
      }
    }
    await showAlert('회원 삭제 완료', '회원 삭제가 성공적으로 처리되었습니다.', 'success');
    location.reload();
  }


</script>

{% endblock %}