{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

      <!-- 페이지 타이틀 -->
      {% with title='배너 관리' subtitle='광고 배너 관리' %}
      {% include 'components/main/title_section.html' %}
      {% endwith %}

    <!-- 선택지 버튼 그룹 -->
    <div class="btn-group w-100 d-flex">
      {% include 'components/main/page_tab.html' with tab_name='상단 배너' tab_id='topTab' tab_link='/supervisor/banner?tab=topTab' %}
      <span class="divider"></span>
      {% include 'components/main/page_tab.html' with tab_name='측/하단 배너' tab_id='sideTab' tab_link='/supervisor/banner?tab=sideTab' %}
    </div>

      <div class="my-5">

        <!-- 버튼 -->
        <div class="p-3 mb-4 text-end">

          <a class="btn btn-success btn-sm"
            href="javascript: new bootstrap.Modal(document.getElementById('addBannerModal')).show();">
            <i class="fi fi-rr-plus"></i> 배너 생성
          </a>

        </div>

        <!-- 검색 결과 -->
        {% if banners|length == 0 %}
        <p>
          배너가 없습니다.
        </p>
        {% endif %}
        <div class="row">
          {% for banner in banners %}
          <div class="p-1 {% if banner.size == 'full' %}col-12{% else %}col-6{% endif %}">
            <a href="javascript: new bootstrap.Modal(document.getElementById('editBannerModal{{ banner.id }}')).show();">
              <div class="w-100 shadow-sm" style="height: 200px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
            </a>
          </div>
          {% include 'components/modal/supervisor/update_banner.html' with banner=banner %}
          {% endfor %}
        </div>

      </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>
  </div>

</main>

<!-- Modals -->
<!-- 배너 생성 모달 -->
{% include 'components/modal/supervisor/create_banner.html' %}

<script>

  window.addEventListener('load', async () => {
    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{supervisor_url}}/supervisor/banner?tab=topTab';
    }

  });


  // 배너 수정
  editBanner = async (id) => {
    var image = document.getElementById('imageInput' + id).files[0];
    var location = document.getElementById('bannerLocation' + id).value;
    var link = document.getElementById('bannerLink' + id).value;
    var displayWeight = document.getElementById('bannerDisplayWeight' + id).value;
    var size = document.getElementById('bannerSize' + id).value;

    if (location == '' | link == '' | displayWeight == '') {
      await showAlert('필수 입력값 누락', '필수 입력값을 모두 입력해주세요.', 'error');
      return;
    }

    var formData = new FormData();
    if (image != undefined) {
      formData.append('image', image);
    }
    formData.append('location', location);
    formData.append('link', link);
    formData.append('display_weight', displayWeight);
    formData.append('size', size);

    var response = await fetch('{{supervisor_url}}/supervisor/banner?id=' + id, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    if (response == 'success') {
      await showAlert('배너 수정', '배너가 수정되었습니다.', 'success');
      window.location.reload();
    } else {
      await showAlert('배너 수정 실패', '배너 수정에 실패했습니다.', 'error');
    }
  }

</script>

{% endblock %}