{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

      <!-- 페이지 타이틀 -->
      {% with title='배너 관리' subtitle='광고 배너 관리' %}
      {% include 'components/main/title_section.html' %}
      {% endwith %}

    <!-- 선택지 버튼 그룹 -->
    <div class="btn-group w-100 d-flex">
      {% include 'components/main/page_tab.html' with tab_name='상단 배너' tab_id='topTab' tab_link='/supervisor/banner?tab=topTab' %}
      <span class="divider"></span>
      {% include 'components/main/page_tab.html' with tab_name='측/하단 배너' tab_id='sideTab' tab_link='/supervisor/banner?tab=sideTab' %}
    </div>

      <div class="my-5">

        <!-- 버튼 -->
        <div class="p-3 mb-5 text-end">

          <a class="btn btn-success btn-sm"
            href="javascript: new bootstrap.Modal(document.getElementById('addBannerModal')).show();">
            <i class="fi fi-rr-plus"></i> 배너 생성
          </a>

        </div>

        <!-- 검색 결과 -->
        {% if banners|length < 1 %} <p>
          배너가 없습니다.
          </p>
          {% endif %}
          <div class="row">
            {% if request.GET.tab == 'top' %}
            {% for banner in banners.top %}
            <div class="col-12 col-md-6 p-1">
              <span>
                BANNER {{ banner.location }} {{forloop.counter}}
                <a
                  href="javascript: new bootstrap.Modal(document.getElementById('editBannerModal{{ banner.id }}')).show();">
                  <i class="fi fi-rr-edit"></i>
                </a>
              </span>
              <div class="w-100 shadow-sm"
                style="height: 200px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
            </div>
            {% endfor %}
            {% else %}
            {% for banner in banners.side %}
            <div class="col-12 col-md-6 p-1">
              <span>
                BANNER {{ banner.location }} {{forloop.counter}}
                <a
                  href="javascript: new bootstrap.Modal(document.getElementById('editBannerModal{{ banner.id }}')).show();">
                  <i class="fi fi-rr-edit"></i>
                </a>
              </span>
              <div class="w-100 shadow-sm"
                style="height: 200px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
            </div>
            {% endfor %}
            {% endif %}
          </div>

      </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>
  </div>

</main>

<!-- Modals -->
<!-- 배너 생성 모달 -->
<div class="modal fade" id="addBannerModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          배너 생성하기
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- image -->
        <p>
          이미지 등록
        </p>
        <input type="file" id="imageInput">

        <!-- name -->
        <div class="form-group mt-4 mb-2">
          <label>위치</label>
          <select class="form-select" id="bannerLocation">
            <option value="top">상단</option>
            <option value="side">측/하단</option>
          </select>
        </div>

        <!-- link -->
        <div class="form-group mb-2">
          <label>링크</label>
          <input class="form-control" placeholder="링크를 입력하세요." id="bannerLink">
        </div>

        <!-- display weight -->
        <div class="form-group mb-2">
          <label>노출 가중치</label>
          <input class="form-control" placeholder="노출 우선순위를 입력하세요." id="bannerDisplayWeight">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="addBanner();">
          생성
        </button>
      </div>
    </div>
  </div>
</div>
{% for banner in banners.side %}
<!-- 배너 수정 모달 -->
<div class="modal fade" id="editBannerModal{{ banner.id }}" tabindex="-1" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          배너 수정하기
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- image -->
        <p>
          이미지 등록
        </p>
        <input type="file" id="imageInput{{ banner.id }}">

        <!-- name -->
        <div class="form-group mt-4 mb-2">
          <label>위치</label>
          <select class="form-select" id="bannerLocation{{ banner.id }}">
            <option value="top">상단</option>
            <option value="side">측/하단</option>
          </select>
        </div>

        <!-- link -->
        <div class="form-group mb-2">
          <label>링크</label>
          <input class="form-control" placeholder="링크를 입력하세요." id="bannerLink{{ banner.id }}">
        </div>

        <!-- display weight -->
        <div class="form-group mb-2">
          <label>노출 가중치</label>
          <input class="form-control" placeholder="노출 우선순위를 입력하세요." id="bannerDisplayWeight{{ banner.id }}">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="editBanner('{{ banner.id }}');">
          수정
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% for banner in banners.top %}
<!-- 배너 수정 모달 -->
<div class="modal fade" id="editBannerModal{{ banner.id }}" tabindex="-1" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          배너 수정하기
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- image -->
        <p>
          이미지 등록
        </p>
        <input type="file" id="imageInput{{ banner.id }}">

        <!-- name -->
        <div class="form-group mt-4 mb-2">
          <label>위치</label>
          <select class="form-select" id="bannerLocation{{ banner.id }}">
            <option value="top" {% if banner.location == 'top' %}selected{% endif %}>상단</option>
            <option value="side" {% if banner.location == 'side' %}selected{% endif %}>측/하단</option>
          </select>
        </div>

        <!-- link -->
        <div class="form-group mb-2">
          <label>링크</label>
          <input class="form-control" placeholder="링크를 입력하세요." id="bannerLink{{ banner.id }}" value="{{ banner.link }}">
        </div>

        <!-- display weight -->
        <div class="form-group mb-2">
          <label>노출 가중치</label>
          <input class="form-control" placeholder="노출 우선순위를 입력하세요." id="bannerDisplayWeight{{ banner.id }}"
            value="{{ banner.display_weight }}">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="editBanner('{{ banner.id }}');">
          수정
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{supervisor_url}}/supervisor/banner?tab=topTab';
    }

    var topTab = document.getElementById('topTab');
    var sideTab = document.getElementById('sideTab');
    var topBox = document.getElementById('topBox');
    var sideBox = document.getElementById('sideBox');
    if (tab == 'top') {
      topTab.classList.add('pastel-pink-background');
      topTab.classList.add('text-dark');
      topTab.style.fontWeight = 'semibold';
      sideTab.classList.add('pastel-beige-background');
      sideTab.classList.remove('text-dark');
    } else if (tab == 'side') {
      topTab.classList.add('pastel-beige-background');
      topTab.classList.remove('text-dark');
      sideTab.classList.add('pastel-pink-background');
      sideTab.classList.add('text-dark');
      sideTab.style.fontWeight = 'semibold';
    }
  }

  // 배너 생성
  addBanner = async () => {
    var image = document.getElementById('imageInput').files[0];
    var location = document.getElementById('bannerLocation').value;
    var link = document.getElementById('bannerLink').value;
    var displayWeight = document.getElementById('bannerDisplayWeight').value;

    if (image == undefined | location == '' | link == '' | displayWeight == '') {
      await showAlert('필수 입력값 누락', '필수 입력값을 모두 입력해주세요.', 'error');
      return;
    }

    var formData = new FormData();
    formData.append('image', image);
    formData.append('location', location);
    formData.append('link', link);
    formData.append('display_weight', displayWeight);

    var response = await fetch('{{supervisor_url}}/supervisor/banner', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });


    if (response == 'success') {
      await showAlert('배너 생성', '배너가 생성되었습니다.', 'success');
      window.location.reload();
    } else {
      await showAlert('배너 생성 실패', '배너 생성에 실패했습니다.', 'error');
    }
  }

  // 배너 수정
  editBanner = async (id) => {
    var image = document.getElementById('imageInput' + id).files[0];
    var location = document.getElementById('bannerLocation' + id).value;
    var link = document.getElementById('bannerLink' + id).value;
    var displayWeight = document.getElementById('bannerDisplayWeight' + id).value;

    if (location == '' | link == '' | displayWeight == '') {
      await showAlert('필수 입력값 누락', '필수 입력값을 모두 입력해주세요.', 'error');
      return;
    }

    var formData = new FormData();
    if (image != undefined) {
      formData.append('image', image);
    }
    formData.append('location', location);
    formData.append('link', link);
    formData.append('display_weight', displayWeight);

    var response = await fetch('{{supervisor_url}}/supervisor/banner?id=' + id, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    if (response == 'success') {
      await showAlert('배너 수정', '배너가 수정되었습니다.', 'success');
      window.location.reload();
    } else {
      await showAlert('배너 수정 실패', '배너 수정에 실패했습니다.', 'error');
    }
  }

</script>

{% endblock %}