{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

      <!-- 페이지 타이틀 -->
      {% with title='배너 관리' subtitle='광고 배너 관리' %}
      {% include 'components/main/title_section.html' %}
      {% endwith %}

    <!-- 선택지 버튼 그룹 -->
    <div class="btn-group w-100 d-flex">
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/banner?tab=topTab" id="topTab">
          상단 배너
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'topTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('topTab').classList.add('pastel-pink-background');
                  document.getElementById('topTab').classList.add('text-white');
                  // 탭 박스가 있다면 표시
                  if (document.getElementById('topTabBox')) {
                      document.getElementById('topTabBox').classList.remove('d-none');
                  }
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('topTab').classList.add('pastel-beige-background');
                  // 탭 박스가 있다면 숨김
                  if (document.getElementById('topTabBox')) {
                      document.getElementById('topTabBox').classList.add('d-none');
                  }
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/banner?tab=sideTab" id="sideTab">
          측/하단 배너
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'sideTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('sideTab').classList.add('pastel-pink-background');
                  document.getElementById('sideTab').classList.add('text-white');
                  // 탭 박스가 있다면 표시
                  if (document.getElementById('sideTabBox')) {
                      document.getElementById('sideTabBox').classList.remove('d-none');
                  }
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('sideTab').classList.add('pastel-beige-background');
                  // 탭 박스가 있다면 숨김
                  if (document.getElementById('sideTabBox')) {
                      document.getElementById('sideTabBox').classList.add('d-none');
                  }
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/banner?tab=postTab" id="postTab">
          게시글 배너
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'postTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('postTab').classList.add('pastel-pink-background');
                  document.getElementById('postTab').classList.add('text-white');
                  // 탭 박스가 있다면 표시
                  if (document.getElementById('postTabBox')) {
                      document.getElementById('postTabBox').classList.remove('d-none');
                  }
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('postTab').classList.add('pastel-beige-background');
                  // 탭 박스가 있다면 숨김
                  if (document.getElementById('postTabBox')) {
                      document.getElementById('postTabBox').classList.add('d-none');
                  }
              }
          });
      </script>
    </div>

      <div class="my-5">

        <!-- 버튼 -->
        <div class="p-3 mb-4 text-end">

          <a class="btn btn-success btn-sm"
            href="javascript: new bootstrap.Modal(document.getElementById('addBannerModal')).show();">
            <i class="fi fi-rr-plus"></i> 배너 생성
          </a>

        </div>

        <!-- 검색 결과 -->
        {% if banners|length == 0 %}
        <p>
          배너가 없습니다.
        </p>
        {% endif %}
        <div class="row mb-2">
          {% for banner in banners %}
          <div class="p-1 {% if banner.size == 'full' %}col-12{% else %}col-6{% endif %}">
            <a href="javascript: new bootstrap.Modal(document.getElementById('editBannerModal{{ banner.id }}')).show();">
              <img class="w-100 shadow-sm" src="{{ banner.image }}">
            </a>
          </div>
          {% include 'components/modal/supervisor/update_banner.html' %}
          {% endfor %}
        </div>
        <div class="alert alert-info small">
          <i class="fi fi-rr-info"></i> 전체 배너의 경우 1000px * 250px 크기를 권장합니다.(절반 크기의 경우 500px * 250px)
        </div>

      </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>
  </div>

</main>

<!-- Modals -->
<!-- 배너 생성 모달 -->
{% include 'components/modal/supervisor/create_banner.html' %}

<script>

  window.addEventListener('load', async () => {
    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{SUPERVISOR_URL}}/supervisor/banner?tab=topTab';
    }

  });


  // 배너 수정
  editBanner = async (id) => {
    var image = document.getElementById('imageInput' + id).files[0];
    var location = document.getElementById('bannerLocation' + id).value;
    var link = document.getElementById('bannerLink' + id).value;
    var displayWeight = document.getElementById('bannerDisplayWeight' + id).value;
    var size = document.getElementById('bannerSize' + id).value;

    if (location == '' | link == '' | displayWeight == '') {
      await showAlert('필수 입력값 누락', '필수 입력값을 모두 입력해주세요.', 'error');
      return;
    }

    var formData = new FormData();
    if (image != undefined) {
      formData.append('image', image);
    }
    formData.append('location', location);
    formData.append('link', link);
    formData.append('display_weight', displayWeight);
    formData.append('size', size);

    var response = await fetch('{{SUPERVISOR_URL}}/supervisor/banner?id=' + id, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    if (response == 'success') {
      await showAlert('배너 수정', '배너가 수정되었습니다.', 'success');
      window.location.reload();
    } else {
      await showAlert('배너 수정 실패', '배너 수정에 실패했습니다.', 'error');
    }
  }

  deleteBanner = async (id) => {
    var response = await fetch('{{SUPERVISOR_URL}}/supervisor/banner?id=' + id, {
      method: 'DELETE',
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    if (response == 'success') {
      await showAlert('배너 삭제', '배너가 삭제되었습니다.', 'success');
      window.location.reload();
    } else {
      await showAlert('배너 삭제 실패', '배너 삭제에 실패했습니다.', 'error');
    }
  }

</script>

{% endblock %}