{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

      <!-- 페이지 타이틀 -->
      {% with title='메세지 관리' subtitle='관리자 문의 메세지 관리' %}
      {% include 'components/main/title_section.html' %}
      {% endwith %}


      <!-- 선택지 버튼 그룹 -->
      <div class="btn-group w-100 d-flex">
        <div class="w-100 d-flex justify-content-center">
          <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/message?tab=inboxTab" id="inboxTab">
            받은 쪽지함
          </a>
        </div>
        <script>
            window.addEventListener('load', () => {
                if ('{{request.GET.tab}}' == 'inboxTab') { // 해당 탭이 선택 되었을 경우,
                    document.getElementById('inboxTab').classList.add('pastel-pink-background');
                    document.getElementById('inboxTab').classList.add('text-white');
                    // 탭 박스가 있다면 표시
                    if (document.getElementById('inboxTabBox')) {
                        document.getElementById('inboxTabBox').classList.remove('d-none');
                    }
                } else { // 해당 탭이 선택 되지 않았을 경우,
                    document.getElementById('inboxTab').classList.add('pastel-beige-background');
                    // 탭 박스가 있다면 숨김
                    if (document.getElementById('inboxTabBox')) {
                        document.getElementById('inboxTabBox').classList.add('d-none');
                    }
                }
            });
        </script>
        <span class="divider"></span>
        <div class="w-100 d-flex justify-content-center">
          <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/message?tab=outboxTab" id="outboxTab">
            보낸 쪽지함
          </a>
        </div>
        <script>
            window.addEventListener('load', () => {
                if ('{{request.GET.tab}}' == 'outboxTab') { // 해당 탭이 선택 되었을 경우,
                    document.getElementById('outboxTab').classList.add('pastel-pink-background');
                    document.getElementById('outboxTab').classList.add('text-white');
                    // 탭 박스가 있다면 표시
                    if (document.getElementById('outboxTabBox')) {
                        document.getElementById('outboxTabBox').classList.remove('d-none');
                    }
                } else { // 해당 탭이 선택 되지 않았을 경우,
                    document.getElementById('outboxTab').classList.add('pastel-beige-background');
                    // 탭 박스가 있다면 숨김
                    if (document.getElementById('outboxTabBox')) {
                        document.getElementById('outboxTabBox').classList.add('d-none');
                    }
                }
            });
        </script>
      </div>

      <!-- 받은 쪽지 리스트 -->
      <div class="my-5" id="inbox">

        <!-- 통계 -->
        <div class="rounded border p-3 mb-5 shadow">
          <p>
            <i class="fi fi-rr-stats"></i> 통계
          </p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>구분</th>
                <th>읽은 쪽지 수</th>
                <th>읽지 않은 쪽지 수</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  전체
                </td>
                <td>
                  {{status.read}}
                </td>
                <td>
                  {{status.unread}}
                </td>
            </tbody>
          </table>
        </div>

        <!-- 검색 -->
        <div class="rounded border p-3 mb-5 shadow">
          <p>
            <i class="fi fi-rr-search"></i> 검색
          </p>
          <form id="inboxSearchForm" method="get" action="{{SUPERVISOR_URL}}/supervisor/message">
            <input type="hidden" name="tab" value="inbox">
            <div class="row">
              <div class="form-group mt-4 col-12">
                <label>제목</label>
                <input class="form-control" name="messageTitle" placeholder="쪽지 제목">
              </div>
              <div class="form-group mt-4 col-12">
                <label>받는 사람</label>
                <input class="form-control" name="messageReceiverId" placeholder="받는 사람 아이디">
              </div>
            </div>
          </form>

          <p class="text-end mt-4">
            <a class="btn btn-success" href="javascript: document.getElementById('inboxSearchForm').submit()">
              <i class="fi fi-rr-search"></i> 검색
            </a>
          </p>
        </div>

        <!-- 버튼 -->
        <div class="p-3 mb-5 text-end">

          <a class="btn btn-primary btn-sm me-2"
            href="javascript: new bootstrap.Modal(document.getElementById('newMessageModal')).show();">
            <i class="fi fi-rr-envelope"></i> 쪽지 보내기
          </a>

          <a href="javascript: openExportDataPage();" class="btn btn-sm btn-success">
            <i class="fi fi-rr-file-excel"></i> 다운로드
          </a>

        </div>

        <!-- 쪽지 목록 -->
        <div class="mb-5" style="min-height: 300px;">
          <h6 class="text-black-60 mb-3 pb-3 border-bottom">
            쪽지
          </h6>
          {% if messages|length == 0 %}
          <p>
            쪽지가 없습니다.
          </p>
          {% endif %}
          {% for message in messages %}
          {% include 'components/main/message_list.html' %}
          {% include 'components/modal/message/view_message.html' %}
          {% endfor %}
        </div>

        <!-- 안내 메세지 -->
        <div class="alert alert-info small">
          <i class="fi fi-rr-info"></i> 쿠폰은 상세보기를 통해 쿠폰 코드를 확인하고 사용할 수 있습니다. 사용 기간이 있는 경우, 기간 내에 사용해주세요.
        </div>

      </div>

      <!-- 보낸 쪽지 리스트 -->
      <div class="my-5 d-none" id="outbox">

        <!-- 통계 -->
        <div class="rounded border p-3 mb-5">
          <p>
            <i class="fi fi-rr-stats"></i> 통계
          </p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>구분</th>
                <th>받은 쪽지 수</th>
                <th>읽지 않은 쪽지 수</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  전체
                </td>
                <td>
                  {{status.outbox.count}}
                </td>
                <td>
                  {{status.outbox.unread}}
                </td>
            </tbody>
          </table>
        </div>

        <!-- 검색 -->
        <div class="rounded border p-3 mb-5">
          <p>
            <i class="fi fi-rr-search"></i> 검색
          </p>

          <form id="outboxSearchForm" method="get" action="{{SUPERVISOR_URL}}/supervisor/message">
            <input type="hidden" name="tab" value="outbox">
            <div class="row">
              <div class="form-group mt-4 col-12">
                <label>제목</label>
                <input class="form-control" name="messageTitle" placeholder="쪽지 제목">
              </div>
              <div class="form-group mt-4 col-12">
                <label>받는 사람</label>
                <input class="form-control" name="messageReceiverId" placeholder="받는 사람 아이디">
              </div>
            </div>
          </form>

          <p class="text-end mt-4">
            <a class="btn btn-success" href="javascript: document.getElementById('outboxSearchForm').submit()">
              <i class="fi fi-rr-search"></i> 검색
            </a>
          </p>
        </div>

        <!-- 버튼 -->
        <div class="text-end">
          <a href="javascript: openExportDataPage();" class="btn btn-sm btn-success">
            <i class="fi fi-rr-file-excel"></i> 다운로드
          </a>
        </div>

        <!-- 검색 결과 -->
        <p class="text-black-50 small">
          <i class="fi fi-rr-info"></i> 내가 보낸 쪽지 및 읽음 여부를 확인할 수 있습니다.
        </p>
        <table class="table table-border small border shadow text-center">
          <tbody>
            <tr>
              <th>
                받는 사람
              </th>
              <th>
                제목
              </th>
              <th>
                보낸 날짜
              </th>
              <th>
                읽음 여부
              </th>
            </tr>
            {% if messages|length < 1 %} <tr>
              <td colspan="4">
                <p class="text-black">보낸 쪽지가 없습니다.</p>
              </td>
              </tr>
              {% else %}
              {% for message in messages %}
              <tr style="cursor: pointer;"
                onclick="new bootstrap.Modal(document.getElementById('messageModal{{message.id}}')).show();
                {% if message.sender_account and not message.is_read %}fetch('/api/message?message_id={{message.id}}');{% endif %}">
                <td>
                  <span class="text-dark">
                    {% if message.to.partner_name%}
                    {{ message.to.partner_name }}
                    {% elif message.to.nickname %}
                    {{ message.to.nickname }}
                    {% else %}
                    비회원 {{message.to.id}}
                    {% endif %}
                  </span>
                </td>
                <td>
                  {{ message.title }}
                </td>
                <td>
                  {{ message.created_at }}
                </td>
                <td>
                  {% if message.read == 'y' %}
                  <i class="fi fi-rr-eye"></i> 읽음
                  {% else %}
                  <i class="fi fi-rr-eye"></i> 읽지 않음
                  {% endif %}
                  {% include 'components/modal/message/view_message.html' %}
                </td>
              </tr>
              {% endfor %}
              {% endif %}
          </tbody>
        </table>
      </div>

      <!-- 페이지네이션 영역 -->
      {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>
  </div>

</main>

<!-- 쪽지 작성 및 답변 모달 -->
{% include 'components/modal/message/create_message.html' %}

<script>

  window.addEventListener('load', () => {

    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{SUPERVISOR_URL}}/supervisor/message?tab=inboxTab';
    }

    // Page
    var tab = '{{request.GET.tab}}';
    var searchMessageTitle = '{{request.GET.messageTitle}}';
    var searchMessageReceiverId = '{{request.GET.messageReceiverId}}';
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{SUPERVISOR_URL}}/supervisor/message?tab=${tab}&messageTitle=${searchMessageTitle}&messageReceiverId=${searchMessageReceiverId}`);

    // to
    var to = '{{request.GET.to}}';
    if (to != '') {
      new bootstrap.Modal(document.getElementById('newMessageModal')).show();
      var html = `
            <div style="display: flex; justify-content: space-between; white-space: nowrap;" id="${nowAccountId}">
                <div style="display: inline-block; text-align: left;">
                    <p class="text-black-60 mb-1">
                        ${to}
                    </p>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="javascript: deleteUser('${to}');" class="small text-danger">
                        삭제
                    </a>
                </div>
            </div>
        `;
        receiverList.innerHTML += html;
        receiverConfirmMessage.innerHTML = '사용자를 추가했습니다.';
        receiverConfirmMessage.classList.add('text-success');
        receiverConfirmMessage.classList.remove('text-danger');
        receiverId.value = nowAccountId + ',';
    }
  })

  // 쪽지 답장
  replyMessage = (receiverId, messageTitle) => {
    document.getElementById('messageTitle').value = '답장: ' + document.getElementById('messageTitle').value;
    document.getElementById('messageContent').value = `[${messageTitle}]\n답장: `;
    new bootstrap.Modal(document.getElementById('newMessageModal')).show();

    var html = `
            <div style="display: flex; justify-content: space-between; white-space: nowrap;" id="${receiverId}">
                <div style="display: inline-block; text-align: left;">
                    <p class="text-black-60 mb-1">
                        ${receiverId}
                    </p>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="javascript: deleteUser('${receiverId}');" class="small text-danger">
                        삭제
                    </a>
                </div>
            </div>
        `;
    receiverList.innerHTML += html;
    receiverConfirmMessage.innerHTML = '사용자를 추가했습니다.';
    receiverConfirmMessage.classList.add('text-success');
    receiverConfirmMessage.classList.remove('text-danger');
    receiverId.value = receiverId + ',';
  }

</script>

{% endblock %}