{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <!-- 페이지 타이틀 -->
    {% with title='게시글 관리' subtitle='게시판 및 게시글 관리' %}
    {% include 'components/main/title_section.html' %}
    {% endwith %}

    <!-- 버튼 -->
    <div class="my-3 text-end">
      <a class="btn btn-success btn-sm" href="javascript: new bootstrap.Modal(document.getElementById('addnewBoardModal')).show()">
        <i class="fi fi-rr-plus"></i> 최상위 게시판 추가
      </a>
    </div>

    <!-- 게시판 편집 및 통계 -->
    <div class="rounded border p-2 my-3 shadow">
      <p>
        <i class="fi fi-rr-stats"></i> 게시판 편집
      </p>
      <div class="accordion shadow mb-5">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button bg-white text-black-50 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#levelTableAccordionItem" aria-expanded="false"
              aria-controls="levelTableAccordionItem">
              게시판 통계
            </button>
          </h2>
          <div id="levelTableAccordionItem" class="accordion-collapse collapse">
            <div class="accordion-body">
              <table class="table table-bordered">
                <thead>
                  <tr class="tbg1">
                    <th>구분</th>
                    <th>조회수</th>
                    <th>게시글 수</th>
                    <th style="width: 100px;"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for board in status %}
                  <tr>
                    <td>
                      <p>
                        <a href="{{SUPERVISOR_URL}}/supervisor/post?board_id={{ board.id }}">
                          {{ board.name }}
                        </a>
                        <a href="javascript: document.getElementById('subBoardParent').value = '{{ board.id }}'; new bootstrap.Modal(document.getElementById('addnewBoardModal')).show()"
                        class="btn btn-success p-1 px-2 small ms-2">
                          <i class="fi fi-rr-plus"></i> 하위 게시판 추가
                        </a>
                      </p>
                    </td>
                    <td>{{ board.total_views }}</td>
                    <td>{{ board.total_posts }}</td>
                    <td class="text-center">
                      <!-- 게시판 수정 -->
                      <a href="javascript: new bootstrap.Modal(document.getElementById('{{ board.id }}EditModal')).show()">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                      {% with to_modify_board=board %}
                      {% include 'components/modal/supervisor/update_board.html' %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% if board.children|length > 0 %}
                  {% for child in board.children %}
                  <tr>
                    <td>
                      <p class="ms-2">
                        <a href="{{SUPERVISOR_URL}}/supervisor/post?board_id={{ child.id }}">
                          {{ child.name }}
                        </a>
                        <a href="javascript: document.getElementById('subBoardParent').value = '{{ board.id }}'; new bootstrap.Modal(document.getElementById('addnewBoardModal')).show()"
                        class="btn btn-success p-1 px-2 small ms-2">
                          <i class="fi fi-rr-plus"></i> 하위 게시판 추가
                        </a>
                      </p>
                    </td>
                    <td>{{ child.total_views }}</td>
                    <td>{{ child.total_posts }}</td>
                    <td class="text-center">
                      <!-- 게시판 수정 -->
                      <a href="javascript: new bootstrap.Modal(document.getElementById('{{ child.id }}EditModal')).show()">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                      {% with to_modify_board=child %}
                      {% include 'components/modal/supervisor/update_board.html' %}
                      {% endwith %}
                    </td>
                    {% if child.children|length > 0 %}
                    {% for grandchild in child.children %}
                    <tr>
                      <td>
                        <p class="ms-4">
                          <a href="{{SUPERVISOR_URL}}/supervisor/post?board_id={{ grandchild.id }}">
                            {{ grandchild.name }}
                          </a>
                          <a href="javascript: document.getElementById('subBoardParent').value = '{{ board.id }}'; new bootstrap.Modal(document.getElementById('addnewBoardModal')).show()"
                          class="btn btn-success p-1 px-2 small ms-2">
                            <i class="fi fi-rr-plus"></i> 하위 게시판 추가
                          </a>
                        </p>
                      </td>
                      <td>{{ grandchild.total_views }}</td>
                      <td>{{ grandchild.total_posts }}</td>
                      <td class="text-center">
                        <!-- 게시판 수정 -->
                        <a href="javascript: new bootstrap.Modal(document.getElementById('{{ grandchild.id }}EditModal')).show()">
                          <i class="fi fi-rr-edit"></i>
                        </a>
                        {% with to_modify_board=grandchild %}
                        {% include 'components/modal/supervisor/update_board.html' %}
                        {% endwith %}
                      </td>
                    </tr>
                      {% if grandchild.children|length > 0 %}
                      {% for grandgrandchild in grandchild.children %}
                      <tr>
                        <td>
                          <p class="ms-6">
                            <a href="{{SUPERVISOR_URL}}/supervisor/post?board_id={{ grandgrandchild.id }}">
                              {{ grandgrandchild.name }}
                            </a>
                          </p>
                        </td>
                        <td>{{ grandgrandchild.total_views }}</td>
                        <td>{{ grandgrandchild.total_posts }}</td>
                        <td class="text-center">
                          <!-- 게시판 수정 -->
                          <a href="javascript: new bootstrap.Modal(document.getElementById('{{ grandgrandchild.id }}EditModal')).show()">
                            <i class="fi fi-rr-edit"></i>
                          </a>
                          {% with to_modify_board=grandgrandchild %}
                          {% include 'components/modal/supervisor/update_board.html' %}
                          {% endwith %}
                        </td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    {% endfor %}
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 검색 -->
    <div class="rounded border p-2 my-3 shadow">
      <p>
        <i class="fi fi-rr-search"></i> 검색
      </p>
      <form id="postSearchForm" method="get" action="{{SUPERVISOR_URL}}/supervisor/post">
        <div class="row">
          <div class="form-group mb-4 col-12">
            <label>제목</label>
            <input class="form-control" name="post_title" placeholder="게시글 제목" value="{{request.GET.post_title}}">
          </div>
          <div class="row mb-4">
            <div class="form-group col-8">
              <label>작성자 아이디 또는 닉네임</label>
              <input class="form-control" name="author" placeholder="작성자 아이디 또는 닉네임"
                value="{{request.GET.author}}">
            </div>
            <div class="form-group col-4">
              <label>게시판</label>
              <select class="form-select" name="board_id">
                <option value="">전체</option>
                {% for board in status %}
                <option value="{{ board.id }}" {% if board.id == request.GET.board_id %}selected{% endif %}>{{ board.name }}</option>
                {% if board.children|length > 0 %}
                {% for child in board.children %}
                <option value="{{ child.id }}" {% if child.id == request.GET.board_id %}selected{% endif %}>- {{ child.name }}</option>
                {% if child.children|length > 0 %}
                {% for grandchild in child.children %}
                <option value="{{ grandchild.id }}" {% if grandchild.id == request.GET.board_id %}selected{% endif %}>
                  -- {{ grandchild.name }}</option>
                {% if grandchild.children|length > 0 %}
                {% for grandgrandchild in grandchild.children %}
                <option value="{{ grandgrandchild.id }}" {% if grandgrandchild.id == request.GET.board_id %}selected{% endif %}>--- {{ grandgrandchild.name }}</option>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </form>

      <p class="text-end mt-3 mb-2">
        <a class="btn btn-primary" href="javascript: document.getElementById('postSearchForm').submit()">
          <i class="fi fi-rr-search"></i> 검색
        </a>
      </p>
    </div>

    <!-- 버튼 -->
    <div class="my-3 text-end">
      <a href="javascript: openExportDataPage();" class="btn btn-sm btn-success">
        <i class="fi fi-rr-file-excel"></i> 다운로드
      </a>
    </div>

    <!-- 게시글 목록 -->
    <div class="row p-2 my-3">

      {% if posts|length == 0 %}
      <p>
        게시글이 없습니다.
      </p>
      {% endif %}

      {% for post in posts %}
      <a class="text-dark text-decoration-none" href="{{MAIN_URL}}/post/post_view?post_id={{post.id}}&board_ids={{post.board_ids}}" target="_blank">
        <div style="display: flex; white-space: nowrap;" class="mb-3 pb-3 border-bottom">
          <div style="display: inline-block; text-align: left;">
            {% if post.image %}
            <img src="{{post.image}}" class="img-fluid rounded img-web shadow m-1" style="width: 6vw; min-width: 80px; max-width: 100px;">
            {% endif %}
          </div>
          <div style="display: inline-block; text-align: left; flex: 1;">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
              <div style="display: inline-block; text-align: left;">
                <div class="ps-3">
                  <p class="text-black-50 mb-1 x-small">
                    {% for board in post.boards %}
                    {{ board.name }} {% if not forloop.last %} > {% endif %}
                    {% endfor %}
                  </p>
                  <p class="text-black-50 small mb-0">
                    <span class="me-1">
                      {{post.author.nickname}}
                    </span>
                    {% if post.author.account_type in 'user,dame' %}
                    {% include 'components/other/level_badge.html' with level=post.author.level %}
                    {% endif %}
                  </p>
                  <p class="mb-2">
                    {{post.title}} <span style="cursor: pointer;" onclick="window.location.href='{{SUPERVISOR_URL}}/supervisor/post/edit?post_id={{post.id}}';"><i class="fi fi-rr-edit text-primary"></i></span>
                  </p>
                  <p class="text-black-50 m-0 x-small">
                    {{post.created_at}}
                  </p>
                </div>
              </div>
              <div style="display: inline-block; text-align: right;">
                <p class="text-end text-black-50 x-small">
                  <span class="me-1" style="white-space: nowrap;">
                    <i class="fi fi-rr-eye"></i> {{post.view_count}}
                  </span>
                  <span class="me-1" style="white-space: nowrap;">
                    <i class="fi fi-rr-social-network"></i> {{post.like_count}}
                  </span>
                  <span style="white-space: nowrap;">
                    <i class="fi fi-rr-comment-dots"></i> {{post.comment_count}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>

<!-- Modal -->
<!-- 게시판 추가 모달 -->
{% include 'components/modal/supervisor/create_board.html' %}

<script>

  window.addEventListener('DOMContentLoaded', (event) => {

    // Page
    var searchPostTItle = '{{request.GET.postTitle}}';
    var searchPostBoard = '{{request.GET.postBoard}}';
    console.log('{{request.GET.page}} | {{last_page}}');
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{SUPERVISOR_URL}}/supervisor/post?post_title=${searchPostTItle}&board_id=${searchPostBoard}`);

  });

  // 토글
  toggleAll = (name, checked) => {
    var checkboxes = document.querySelectorAll(`input[id^='${name}']`);
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = checked;
    }
  }


  // 게시판 정보 수정
  updateBoard = async (board_id) => {
    var boardName = document.getElementById(board_id + 'Name').value;
    var boardType = document.getElementById(board_id + 'Type').value;
    var boardLevel = document.getElementById(board_id + 'Level').value;
    var boardWeight = document.getElementById(board_id + 'Weight').value;
    var boardDisplayGuest = document.getElementById(board_id + 'DisplayGuest').checked;
    var boardDisplayUser = document.getElementById(board_id + 'DisplayUser').checked;
    var boardDisplayDame = document.getElementById(board_id + 'DisplayDame').checked;
    var boardDisplayPartner = document.getElementById(board_id + 'DisplayPartner').checked;
    var boardDisplaySubsupervisor = document.getElementById(board_id + 'DisplaySubsupervisor').checked;
    var boardDisplaySupervisor = document.getElementById(board_id + 'DisplaySupervisor').checked;
    var boardEnterGuest = document.getElementById(board_id + 'EnterGuest').checked;
    var boardEnterUser = document.getElementById(board_id + 'EnterUser').checked;
    var boardEnterDame = document.getElementById(board_id + 'EnterDame').checked;
    var boardEnterPartner = document.getElementById(board_id + 'EnterPartner').checked;
    var boardEnterSubsupervisor = document.getElementById(board_id + 'EnterSubsupervisor').checked;
    var boardEnterSupervisor = document.getElementById(board_id + 'EnterSupervisor').checked;
    var boardWriteUser = document.getElementById(board_id + 'WriteUser').checked;
    var boardWriteDame = document.getElementById(board_id + 'WriteDame').checked;
    var boardWritePartner = document.getElementById(board_id + 'WritePartner').checked;
    var boardWriteSubsupervisor = document.getElementById(board_id + 'WriteSubsupervisor').checked;
    var boardWriteSupervisor = document.getElementById(board_id + 'WriteSupervisor').checked;
    var boardCommentUser = document.getElementById(board_id + 'CommentUser').checked;
    var boardCommentDame = document.getElementById(board_id + 'CommentDame').checked;
    var boardCommentPartner = document.getElementById(board_id + 'CommentPartner').checked;
    var boardCommentSubsupervisor = document.getElementById(board_id + 'CommentSubsupervisor').checked;
    var boardCommentSupervisor = document.getElementById(board_id + 'CommentSupervisor').checked;

    var displayGroups = `${boardDisplayGuest ? 'guest' : ''},${boardDisplayUser ? 'user' : ''},${boardDisplayDame ? 'dame' : ''},${boardDisplayPartner ? 'partner' : ''},${boardDisplaySubsupervisor ? 'subsupervisor' : ''},${boardDisplaySupervisor ? 'supervisor' : ''}`;
    var enterGroups = `${boardEnterGuest ? 'guest' : ''},${boardEnterUser ? 'user' : ''},${boardEnterDame ? 'dame' : ''},${boardEnterPartner ? 'partner' : ''},${boardEnterSubsupervisor ? 'subsupervisor' : ''},${boardEnterSupervisor ? 'supervisor' : ''}`;
    var writeGroups = `${boardWriteUser ? 'user' : ''},${boardWriteDame ? 'dame' : ''},${boardWritePartner ? 'partner' : ''},${boardWriteSubsupervisor ? 'subsupervisor' : ''},${boardWriteSupervisor ? 'supervisor' : ''}`;
    var commentGroups = `${boardCommentUser ? 'user' : ''},${boardCommentDame ? 'dame' : ''},${boardCommentPartner ? 'partner' : ''},${boardCommentSubsupervisor ? 'subsupervisor' : ''},${boardCommentSupervisor ? 'supervisor' : ''}`;

    var formData = new FormData();
    formData.append('board_id', board_id);
    formData.append('board_name', boardName);
    formData.append('board_type', boardType);
    formData.append('level_cut', boardLevel);
    formData.append('display_weight', boardWeight);
    formData.append('display_groups', displayGroups);
    formData.append('enter_groups', enterGroups);
    formData.append('write_groups', writeGroups);
    formData.append('comment_groups', commentGroups);

    // 수정 요청
    await fetch('{{SUPERVISOR_URL}}/supervisor/post?board=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken,
      },
    })
      .then(response => response.json())
      .then(async data => {
        console.log(data);
        if (data.result == 'success') {
          await showAlert('수정 성공', '게시판이 수정되었습니다.', 'success');
          location.reload();
        } else {
          await showAlert('수정 실패', '게시판 수정에 실패했습니다.', 'danger');
        }
      });
  }


</script>

{% endblock %}