{% extends 'base/supervisor_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/left_aside_supervisor.html' %}
</aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    <h5 class="mt-5">
      게시글 관리
    </h5>
    <p class="small">
      일반 게시글 관리
    </p>
  </div>

  <!-- 게시글 -->
  <div class="my-5" id="user">

    <!-- 버튼 -->
    <div class="p-3 mb-5 text-end">

      <a class="btn btn-success" href="javascript: new bootstrap.Modal(document.getElementById('addTopBoardModal')).show()">
        <i class="fi fi-rr-plus"></i> 최상위 게시판 추가
      </a>

    </div>

    <!-- 통계 -->
    <div class="rounded border p-3 mb-5">
      <p>
        <i class="fi fi-rr-stats"></i> 통계
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>구분</th>
            <th>조회수</th>
            <th>게시글 수</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for board in status %}
          <tr>
            <td>
              <p>
                {{ board.name }}<br>

                <!-- 하위 게시판 추가. 트리 타입만 가능 -->
                {% if board.board_type == 'tree' %}
                <a href="javascript: document.getElementById('subBoardParent').value = '{{ board.id }}'; new bootstrap.Modal(document.getElementById('addSubBoardModal')).show()"
                class="btn btn-success p-1 px-2 small">
                  <i class="fi fi-rr-plus"></i> 하위 게시판 추가
                </a>
                {% endif %}

              </p>
            </td>
            <td>{{ board.total_views }}</td>
            <td>{{ board.total_posts }}</td>
            <td class="text-center">

              <!-- 게시판 수정 -->
              <a href="javascript: new bootstrap.Modal(document.getElementById('{{ board.id }}Edit')).show()">
                <i class="fi fi-rr-edit"></i>
              </a>
              <div class="modal fade" id="{{ board.id }}Edit" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{ board.name }} 수정</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" onclick="" data-bs-dismiss="modal">submit</button>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
          {% if board.children|length > 0 %}
          {% for child in board.children %}
          <tr>
            <td>
              <p class="ms-2">
                {{ child.name }}<br>

                <!-- 하위 게시판 추가. 트리 타입만 가능 -->
                {% if child.board_type == 'tree' %}
                <a href="javascript: document.getElementById('subBoardParent').value = '{{ board.id }}'; new bootstrap.Modal(document.getElementById('addSubBoardModal')).show()"
                class="btn btn-success p-1 px-2 small">
                  <i class="fi fi-rr-plus"></i> 하위 게시판 추가
                </a>
                {% endif %}

              </p>
            </td>
            <td>{{ child.total_views }}</td>
            <td>{{ child.total_posts }}</td>
            <td class="text-center">

              <!-- 게시판 수정 -->
              <a href="javascript: new bootstrap.Modal(document.getElementById('{{ child.id }}Detail')).show()">
                <i class="fi fi-rr-edit"></i>
              </a>
              <div class="modal fade" id="{{ child.id }}Detail" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{ child.name }} 수정</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" onclick="" data-bs-dismiss="modal">submit</button>
                    </div>
                  </div>
                </div>
              </div>

            </td>
            {% if child.children|length > 0 %}
            {% for grandchild in child.children %}
            <tr>
              <td>
                <p class="ms-4">
                  {{ grandchild.name }}<br>

                  <!-- 하위 게시판 추가. 트리 타입만 가능 -->
                  {% if grandchild.board_type == 'tree' %}
                  <a href="javascript: document.getElementById('subBoardParent').value = '{{ board.id }}'; new bootstrap.Modal(document.getElementById('addSubBoardModal')).show()"
                  class="btn btn-success p-1 px-2 small">
                    <i class="fi fi-rr-plus"></i> 하위 게시판 추가
                  </a>
                  {% endif %}

                </p>
              </td>
              <td>{{ grandchild.total_views }}</td>
              <td>{{ grandchild.total_posts }}</td>
              <td class="text-center">

                <!-- 게시판 수정 -->
                <a href="javascript: new bootstrap.Modal(document.getElementById('{{ grandchild.id }}Detail')).show()">
                  <i class="fi fi-rr-edit"></i>
                </a>
                <div class="modal fade" id="{{ grandchild.id }}Detail" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{ grandchild.name }} 수정</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="" data-bs-dismiss="modal">submit</button>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
            </tr>
              {% if grandchild.children|length > 0 %}
              {% for grandgrandchild in grandchild.children %}
              <tr>
                <td>
                  <span class="ms-6">{{ grandgrandchild.name }}</span>
                </td>
                <td>{{ grandgrandchild.total_views }}</td>
                <td>{{ grandgrandchild.total_posts }}</td>
                <td class="text-center">

                  <!-- 게시판 수정 -->
                  <a href="javascript: new bootstrap.Modal(document.getElementById('{{ grandgrandchild.id }}Detail')).show()">
                    <i class="fi fi-rr-edit"></i>
                  </a>
                  <div class="modal fade" id="{{ grandgrandchild.id }}Detail" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">{{ grandgrandchild.name }} 수정</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onclick="" data-bs-dismiss="modal">submit</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
              </tr>
              {% endfor %}
              {% endif %}
            {% endfor %}
            {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- 검색 -->
    <div class="rounded border p-3 mb-5">
      <p>
        <i class="fi fi-rr-search"></i> 검색
      </p>
      <form id="postSearchForm" method="get" action="/supervisor/post">
        <div class="row">
          <div class="form-group mt-4 col-12">
            <label>제목</label>
            <input class="form-control" name="postTitle" placeholder="게시글 제목">
          </div>
          <div class="form-group mt-4 col-12">
            <label>게시판</label>
            <select class="form-control" name="postBoard">
              <option value="">전체</option>
              {% for board in status %}
              <option value="{{ board.id }}">{{ board.name }}</option>
              {% if board.children|length > 0 %}
              {% for child in board.children %}
              <option value="{{ child.id }}">- {{ child.name }}</option>
              {% if child.children|length > 0 %}
              {% for grandchild in child.children %}
              <option value="{{ grandchild.id }}">-- {{ grandchild.name }}</option>
              {% if grandchild.children|length > 0 %}
              {% for grandgrandchild in grandchild.children %}
              <option value="{{ grandgrandchild.id }}">--- {{ grandgrandchild.name }}</option>
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </form>

      <p class="text-end mt-4">
        <a class="btn btn-primary" href="javascript: document.getElementById('postSearchForm').submit()">
          <i class="fi fi-rr-search"></i> 검색
        </a>
      </p>
    </div>

    <!-- 검색 결과 -->
    {% if search_posts|length < 1 %}
    <p>
      검색 결과가 없습니다.
    </p>
    {% endif %}
    {% for post in posts %}
    <div>
      <div class="col-12 p-2 mb-2 pb-3 border-bottom">
        <a href="/post/post_view?post={{ post.id }}" target="_blank"
        class="text-dark text-decoration-none">
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
              <span class="text-black-50" style="font-size: 12px;">
                {% for board in post.boards %}
                {{ board.name }} {% if forloop.counter < post.boards|length  %} &gt; {% endif %}
                {% endfor %}
              </span>
              <h6 class="mb-2">
                {{ post.title }}
              </h6>
              <span class="text-black-50">
                <i class="fi fi-rr-user"></i> {{ post.author.nickname }} 
                {% if account.account_type == 'user' %}
                <span class="badge user-level-badge" style="color: {{account.level.text_color}}; background-color: {{account.level.background_color}};">{{ account.level.name }}</span>
                {% endif %}
              </span>
            </div>
            <div style="display: inline-block; text-align: right;">
              <p class="m-0 text-end text-black-50" style="font-size: 12px;">
                <span class="me-1" style="white-space: nowrap;">
                  <i class="fi fi-rr-eye"></i> {{ post.view_count }}
                </span>
                <span class="me-1" style="white-space: nowrap;">
                  <i class="fi fi-rr-comment-alt-dots"></i> {{ post.comment_count }}
                </span>
                <span class="me-1" style="white-space: nowrap;">
                  <i class="fi fi-rr-social-network"></i> {{ post.bookmark_count }}
                </span>
              </p>
            </div>
          </div>
          <small class="text-black-50 mt-1">
            <i class="fi fi-rr-calendar"></i> {{ post.created_dt }}
          </small>
        </a>
      </div>
    </div>
    {% endfor %}

    <div id="pageButton"></div>

  </div>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!-- Modal -->
<!-- 최상위 게시판 추가 모달 -->
<div class="modal fade" id="addTopBoardModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">최상위 게시판 추가</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- 게시판 이름 -->
        <div class="form-group">
          <label>새 이름</label>
          <input class="form-control" placeholder="게시판 이름" id="topBoardName">
        </div>

        <!-- 게시판 타입 -->
        <div class="form-group">
          <label>게시판 타입</label>
          <select class="form-control" id="topBoardType">
            <option value="board">게시판</option>
            <option value="travel">여행</option>
            <option value="tree">폴더</option>
          </select>
        </div>

        <!-- 레벨 제한 -->
        <div class="form-group">
          <label>레벨 제한</label>
          <input type="number" class="form-control" id="topBoardLevel" value="1">
        </div>

        <!-- 표시 그룹 -->
        <div class="form-group top-board-groups">
          <label>게시판 표시 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardDisplayUser">
            <label class="form-check-label" for="topBoardDisplayUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardDisplayDame">
            <label class="form-check-label" for="topBoardDisplayDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardDisplayPartner">
            <label class="form-check-label" for="topBoardDisplayPartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardDisplaySubsupervisor">
            <label class="form-check-label" for="topBoardDisplaySubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardDisplaySupervisor">
            <label class="form-check-label" for="topBoardDisplaySupervisor">관리자</label>
          </p>
        </div>

        <!-- 입장 그룹 -->
        <div class="form-group top-board-groups">
          <label>게시판 입장 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardEnterUser">
            <label class="form-check-label" for="topBoardEnterUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardEnterDame">
            <label class="form-check-label" for="topBoardEnterDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardEnterPartner">
            <label class="form-check-label" for="topBoardEnterPartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardEnterSubsupervisor">
            <label class="form-check-label" for="topBoardEnterSubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardEnterSupervisor">
            <label class="form-check-label" for="topBoardEnterSupervisor">관리자</label>
          </p>
        </div>

        <!-- 작성 그룹 -->
        <div class="form-group top-board-groups">
          <label>게시글 작성 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardWriteUser">
            <label class="form-check-label" for="topBoardWriteUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardWriteDame">
            <label class="form-check-label" for="topBoardWriteDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardWritePartner">
            <label class="form-check-label" for="topBoardWritePartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardWriteSubsupervisor">
            <label class="form-check-label" for="topBoardWriteSubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardWriteSupervisor">
            <label class="form-check-label" for="topBoardWriteSupervisor">관리자</label>
          </p>
        </div>

        <!-- 댓글 그룹 -->
        <div class="form-group top-board-groups">
          <label>댓글 작성 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardCommentUser">
            <label class="form-check-label" for="topBoardCommentUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardCommentDame">
            <label class="form-check-label" for="topBoardCommentDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardCommentPartner">
            <label class="form-check-label" for="topBoardCommentPartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardCommentSubsupervisor">
            <label class="form-check-label" for="topBoardCommentSubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="topBoardCommentSupervisor">
            <label class="form-check-label" for="topBoardCommentSupervisor">관리자</label>
          </p>
        </div>

        <!-- 표시 가중치 -->
        <div class="form-group">
          <label>표시 가중치</label>
          <input type="number" class="form-control" id="topBoardWeight" value="0">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="addTopBoard();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addSubBoardModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">하위 게시판 추가</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <input type="hidden" id="subBoardParent" value="{{ board.id }}">

        <!-- 게시판 이름 -->
        <div class="form-group">
          <label>새 이름</label>
          <input class="form-control" placeholder="게시판 이름" id="subBoardName">
        </div>

        <!-- 게시판 타입 -->
        <div class="form-group">
          <label>게시판 타입</label>
          <select class="form-control" id="subBoardType">
            <option value="board">게시판</option>
            <option value="travel">여행</option>
            <option value="tree">폴더</option>
          </select>
        </div>

        <!-- 레벨 제한 -->
        <div class="form-group">
          <label>레벨 제한</label>
          <input type="number" class="form-control" id="subBoardLevel" value="1">
        </div>

        <!-- 표시 그룹 -->
        <div class="form-group sub-board-groups">
          <label>게시판 표시 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardDisplayUser">
            <label class="form-check-label" for="subBoardDisplayUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardDisplayDame">
            <label class="form-check-label" for="subBoardDisplayDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardDisplayPartner">
            <label class="form-check-label" for="subBoardDisplayPartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardDisplaySubsupervisor">
            <label class="form-check-label" for="subBoardDisplaySubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardDisplaySupervisor">
            <label class="form-check-label" for="subBoardDisplaySupervisor">관리자</label>
          </p>
        </div>

        <!-- 입장 그룹 -->
        <div class="form-group sub-board-groups">
          <label>게시판 입장 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardEnterUser">
            <label class="form-check-label" for="subBoardEnterUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardEnterDame">
            <label class="form-check-label" for="subBoardEnterDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardEnterPartner">
            <label class="form-check-label" for="subBoardEnterPartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardEnterSubsupervisor">
            <label class="form-check-label" for="subBoardEnterSubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardEnterSupervisor">
            <label class="form-check-label" for="subBoardEnterSupervisor">관리자</label>
          </p>
        </div>

        <!-- 작성 그룹 -->
        <div class="form-group sub-board-groups">
          <label>게시글 작성 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardWriteUser">
            <label class="form-check-label" for="subBoardWriteUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardWriteDame">
            <label class="form-check-label" for="subBoardWriteDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardWritePartner">
            <label class="form-check-label" for="subBoardWritePartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardWriteSubsupervisor">
            <label class="form-check-label" for="subBoardWriteSubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardWriteSupervisor">
            <label class="form-check-label" for="subBoardWriteSupervisor">관리자</label>
          </p>
        </div>

        <!-- 댓글 그룹 -->
        <div class="form-group sub-board-groups">
          <label>댓글 작성 그룹</label>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardCommentUser">
            <label class="form-check-label" for="subBoardCommentUser">사용자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardCommentDame">
            <label class="form-check-label" for="subBoardCommentDame">여성회원</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardCommentPartner">
            <label class="form-check-label" for="subBoardCommentPartner">파트너</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardCommentSubsupervisor">
            <label class="form-check-label" for="subBoardCommentSubsupervisor">부관리자</label>
          </p>
          <p>
            <input type="checkbox" class="form-check-input" id="subBoardCommentSupervisor">
            <label class="form-check-label" for="subBoardCommentSupervisor">관리자</label>
          </p>
        </div>

        <!-- 표시 가중치 -->
        <div class="form-group">
          <label>표시 가중치</label>
          <input type="number" class="form-control" id="subBoardWeight" value="0">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="addsubBoard();" data-bs-dismiss="modal">변경하기</button>
      </div>
    </div>
  </div>
</div>

<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Page
    var searchPostTItle = '{{request.GET.postTitle}}';
    var searchPostBoard = '{{request.GET.postBoard}}';
    console.log('{{request.GET.page}} | {{last_page}}');
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/supervisor/post?postTitle=${searchPostTItle}&postBoard=${searchPostBoard}`);
  }

</script>

{% endblock %}