{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: calc(100vh - 160px);">


      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}

      <!-- 여행지 정보 -->
      {% with subtitle=post.title %}
      {% include 'components/main/title_section.html' with title='여행지 정보 수정' subtitle=post.title %}
      {% endwith %}

      <!-- 여행지 정보 수정 폼 -->
      <!-- 게시글 작성 폼 -->
      <div class="mt-4">

        <!-- 게시판 및 카테고리 선택 -->
        <div class="my-4 row">
          <div class="form-group col-6">
            <label>게시판</label>
            <select class="form-select" id="board_id">
              {% for b in boards %}
              {% if b.children|length > 0 %}
              {% for child in b.children %}
              <option value="{{ b.id }},{{ child.id }}" {% if child.id == board.id %}selected{% endif %}>{{ b.name }} > {{ child.name }}</option>
              {% endfor %}
              {% else %}
              <option value="{{ b.id }}" {% if b.id == board.id %}selected{% endif %}>{{ b.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-6">
            <label>카테고리</label>
            <select class="form-select" id="category_id">

              {% for c in categories %}
              {% if c.children|length == 0 %}
              <option value="{{ c.id }}" {% if c.id == category.id %}selected{% endif %}>
                {{ c.name }}
              </option>
              {% else  %}
              {% for child in c.children %}
              <option value="{{ c.id }},{{ child.id }}" {% if child.id == category.id %}selected{% endif %}>
                {{ c.name }} > {{ child.name }}
              </option>
              {% endfor %}
              {% endif %}
              {% endfor %}

            </select>
          </div>
        </div>

        <!-- 위치정보 및 영업정보 -->
        <div class="row my-4">
          <div class="form-group col-6">
            <label>위치정보</label>
            <input type="text" class="form-control" id="location_info" value="{{ post.place_info.location_info }}">
          </div>
          <div class="form-group col-6">
            <label>영업정보</label>
            <input type="text" class="form-control" id="open_info" value="{{ post.place_info.open_info }}">
          </div>
        </div>

        <!-- 주소 address, addressDetail -->
        <div class="my-4">
          <div class="form-group">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <label class="mt-5">주소</label>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a class="btn btn-success mt-3" href="javascript: sample3_execDaumPostcode();">주소검색</a>
                </div>
            </div>
            <!--=
            <div class="content">
                <div id="wrap" style="display:none;border:1px solid;width:100%;height:300px;margin:5px 0;position:relative">
                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                        style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()"
                        alt="접기 버튼">
                </div>
                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    // 우편번호 찾기 찾기 화면을 넣을 element
                    var element_wrap = document.getElementById('wrap');
        
                    function foldDaumPostcode() {
                        // iframe을 넣은 element를 안보이게 한다.
                        element_wrap.style.display = 'none';
                    }
        
                    function sample3_execDaumPostcode() {
                        // 현재 scroll 위치를 저장해놓는다.
                        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                        new daum.Postcode({
                            oncomplete: function (data) {
                                // 검색결과 항목을 클릭했을때 실행할 코드를 수정하는 부분.
        
                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var addr = ''; // 주소 변수
                                var extraAddr = ''; // 참고항목 변수
        
                                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                    addr = data.roadAddress;
                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                    addr = data.jibunAddress;
                                }
        
                                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                if (data.userSelectedType === 'R') {
                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                        extraAddr += data.bname;
                                    }
                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                    if (data.buildingName !== '' && data.apartment === 'Y') {
                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                    if (extraAddr !== '') {
                                        extraAddr = ' (' + extraAddr + ')';
                                    }
                                }
        
                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById("address").value = addr;
        
                                // iframe을 넣은 element를 안보이게 한다.
                                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                                element_wrap.style.display = 'none';
        
                                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                                document.body.scrollTop = currentScroll;
                            },
                            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 수정하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                            onresize: function (size) {
                                element_wrap.style.height = size.height + 'px';
                            },
                            width: '100%',
                            height: '100%'
                        }).embed(element_wrap);
        
                        // iframe을 넣은 element를 보이게 한다.
                        element_wrap.style.display = 'block';
                    }
                </script>
            </div>
            <div class="form-group position-relative col-12 mt-3" style="display: inline-block;">
                <input class="form-control pe-6" placeholder="소재지가 해외인경우 직접 입력해주세요." id="address" name="address" value="{{ post.place_info.address }}">
                <div class="position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%);">
                    <i class="fi fi-rr-marker text-success"></i>
                </div>
            </div>
            <div class="form-group position-relative col-12 mt-2" style="display: inline-block;">
                <input class="form-control pe-6" placeholder="상세 주소를 입력해주세요.(선택)" id="addressDetail" name="addressDetail">
                <div class="position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%);">
                    <i class="fi fi-rr-check text-success"></i>
                </div>
            </div> -->
        </div>
        </div>

      </div>

      <!-- 게시글 정보 -->
      {% with subtitle=post.title %}
      {% include 'components/main/title_section.html' with title='게시글 정보 수정' %}
      {% endwith %}

      <!-- 게시글 정보 수정 폼 -->
      <div class="mt-4">

        <!-- 대표 이미지 -->
        <div class="my-4">
          <div>
            <label>
                썸네일 이미지
            </label>
            <div id="imageInputPreview" class="mb-3">
              <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('{{ post.image }}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw;"></div>
            </div>
            <a href="javascript: document.getElementById('imageInput').click();" class="btn btn-success btn-sm small">
                <i class="fi fi-rr-picture"></i> 이미지 등록
            </a>
            <input type="file" class="d-none" id="imageInput" multiple>
        </div>
        <script>
            // 대표 이미지 추가
            document.getElementById('imageInput').addEventListener('change', async (e) => {
                const files = e.target.files;

                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const imagePath = e.target.result;
                        document.getElementById('imageInputPreview').innerHTML = `
                <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('${imagePath}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw; cursor: pointer;" onclick="deleteImage(this)"></div>
                `;
                    }
                    reader.readAsDataURL(file);
                }
            });

            // 이미지 삭제
            deleteImage = (element) => {
                element.remove();
                document.getElementById('imageInput').value = '';
            }
        </script>
        </div>

        <!-- 제목 -->
        <div class="my-4">
          <div class="form-group">
            <label>제목</label>
            <input class="form-control" id="title" placeholder="제목을 입력해 주세요." value="{{ post.title }}">
          </div>
        </div>

        <!-- wysiwig 에디터 -->
        <div class="my-4">
          <div class="form-group">
            <label>내용 편집기</label>
            <textarea id="content">
              {{ post.content|safe }}
            </textarea>
            <script>
              $(document).ready(function () {
                  $('#content').summernote({
                      tabsize: 2,
                      height: 500,
                      toolbar: [
                          ['fontsize', ['fontsize']],
                          ['font', ['bold', 'italic', 'underline', 'clear']],
                          ['para', ['paragraph']],
                          ['table', ['table']],
                          ['insert', ['hr', 'picture']],
                      ],
                      callbacks: {
                          onImageUpload: function(files) {
                              let index = 0;
          
                              function uploadNext() {
                                  if (index < files.length) {
                                      let file = files[index];
                                      let reader = new FileReader();
          
                                      reader.onload = function(e) {
                                          let imgNode = $('<img>').attr('src', e.target.result).css({
                                              'display': 'block',
                                          });
          
                                          $('#content').summernote('insertNode', imgNode[0]);
          
                                          index++;
                                          uploadNext(); // 순차적으로 이미지 삽입
                                      };
          
                                      reader.readAsDataURL(file);
                                  }
                              }
          
                              uploadNext(); // 첫 번째 이미지 업로드 시작
                          }
                      }
                  });
              });
          </script>
          
          </div>
        </div>

        <!-- 게시글 정보 -->
        <div class="my-4 row">
          <div class="form-group col-4">
            <label>검색 가중치</label>
            <input class="form-control" value="{{ post.search_weight }}" id="search_weight">
          </div>
          <div class="form-group col-4">
            <label>조회수</label>
            <input class="form-control" value="{{ post.view_count }}" id="view_count">
          </div>
          <div class="form-group col-4">
            <label>좋아요 수</label>
            <input class="form-control" value="{{ post.like_count }}" id="like_count">
          </div>
          <div class="col-12 mt-2">
            <div class="alert alert-info small">
              <i class="fi fi-rr-info"></i> 검색 가중치는 리뷰 및 여행지 게시글의 검색 결제 우선 순위를 결정합니다.
            </div>
          </div>
        </div>

        <!-- 작성하기 -->
        <div class="my-5 text-end">
          <a class="btn btn-primary me-2" href="javascript: rewritePost()">
            <i class="fi fi-rr-edit"></i> 글 수정
          </a>
        </div>

      </div>

    </div>

  </div>

</main>
<script>

  // 대표 이미지 추가
  document.getElementById('imageInput').addEventListener('change', async (e) => {
    const files = e.target.files;

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();
      reader.onload = (e) => {
        const imagePath = e.target.result;
        document.getElementById('imagePreview').innerHTML = `
        <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('${imagePath}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw;"></div>
        `;
      }
      reader.readAsDataURL(file);
    }
  });

  // 게시글 수정
  rewritePost = async () => {
    const title = document.querySelector('#title').value;
    const content = $('#content').summernote('code');

    if (title.length < 2) {
      showAlert('제목 오류', '제목이 너무 짧습니다. 2자 이상 작성해주세요.', 'error');
      return;
    }
    if (content.length < 10) {
      showAlert('내용 오류', '내용이 너무 짧습니다. 10자 이상 입력해주세요.', 'error');
      return;
    }

    var formData = new FormData();
    formData.append('title', title);
    formData.append('content', content);
    formData.append('board_ids', document.getElementById('board_id').value);
    formData.append('category_id', document.getElementById('category_id').value);
    formData.append('location_info', document.getElementById('location_info').value);
    formData.append('open_info', document.getElementById('open_info').value);
    formData.append('search_weight', document.getElementById('search_weight').value);
    formData.append('view_count', document.getElementById('view_count').value);
    formData.append('like_count', document.getElementById('like_count').value);
    //formData.append('address', document.getElementById('address').value + ' ' + document.getElementById('addressDetail').value);
    formData.append('address', '');
    if (document.getElementById('imageInput')) {
      formData.append('image', document.getElementById('imageInput').files[0]); // 대표 이미지
    }

    showAlert('게시글 수정', '게시글을 수정중입니다. 완료될 때까지 기다려주세요.', 'info');
    await fetch('{{SUPERVISOR_URL}}/supervisor/travel/edit?post_id={{ request.GET.post_id }}', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      },
      body: formData,
    })
      .then(response => response.json())
      .then(async (data) => {
        if (data.result == 'success') {
          await showAlert('게시글 수정 완료', '게시글이 성공적으로 수정되었습니다.', 'success');
          window.location.href = '{{SUPERVISOR_URL}}/supervisor/travel';
        } else {
          showAlert('게시글 수정 실패', '게시글 수정 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
        }
      });
  }

</script>

{% endblock %}