{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: 300px;">

      <!-- 페이지 타이틀 -->
      {% with title='여행지 관리' subtitle='여행지 게시글과 광고 관리' %}
      {% include 'components/main/title_section.html' %}
      {% endwith %}

    <!-- 탭 -->
    <div class="btn-group w-100 d-flex">

      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/travel?tab=noAdTab" id="noAdTab">
          일반 여행지
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'noAdTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('noAdTab').classList.add('pastel-pink-background');
                  document.getElementById('noAdTab').classList.add('text-white');
                  // 탭 박스가 있다면 표시
                  if (document.getElementById('noAdTabBox')) {
                      document.getElementById('noAdTabBox').classList.remove('d-none');
                  }
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('noAdTab').classList.add('pastel-beige-background');
                  // 탭 박스가 있다면 숨김
                  if (document.getElementById('noAdTabBox')) {
                      document.getElementById('noAdTabBox').classList.add('d-none');
                  }
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/travel?tab=weightAdTab" id="weightAdTab">
          가중치 광고 여행지
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'weightAdTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('weightAdTab').classList.add('pastel-pink-background');
                  document.getElementById('weightAdTab').classList.add('text-white');
                  // 탭 박스가 있다면 표시
                  if (document.getElementById('weightAdTabBox')) {
                      document.getElementById('weightAdTabBox').classList.remove('d-none');
                  }
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('weightAdTab').classList.add('pastel-beige-background');
                  // 탭 박스가 있다면 숨김
                  if (document.getElementById('weightAdTabBox')) {
                      document.getElementById('weightAdTabBox').classList.add('d-none');
                  }
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/travel?tab=statusAdTab" id="statusAdTab">
          베스트 광고 여행지
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'statusAdTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('statusAdTab').classList.add('pastel-pink-background');
                  document.getElementById('statusAdTab').classList.add('text-white');
                  // 탭 박스가 있다면 표시
                  if (document.getElementById('statusAdTabBox')) {
                      document.getElementById('statusAdTabBox').classList.remove('d-none');
                  }
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('statusAdTab').classList.add('pastel-beige-background');
                  // 탭 박스가 있다면 숨김
                  if (document.getElementById('statusAdTabBox')) {
                      document.getElementById('statusAdTabBox').classList.add('d-none');
                  }
              }
          });
      </script>
    </div>

      <!-- 게시글 -->
      <div class="my-5" id="user">

        <!-- 버튼 -->
        <div class="p-3 mb-5 text-end">

          <a class="btn btn-success btn-sm me-2"
            href="javascript: new bootstrap.Modal(document.getElementById('addCategoryModal')).show()">
            <i class="fi fi-rr-plus"></i> 최상위 카테고리 추가
          </a>

        </div>

        <!-- 통계 -->
        <div class="rounded border p-3 mb-5 shadow">
          <p class="mt-4">
            <i class="fi fi-rr-list"></i> 카테고리 편집
          </p>
          <table class="table table-bordered">
            <tbody>
              {% for category in categories %}
              <tr>
                <td>
                  <p>
                    {{ category.name }}<br>

                    <a href="javascript: document.getElementById('subCategoryParent').value = '{{ category.id }}'; new bootstrap.Modal(document.getElementById('addCategoryModal')).show()"
                      class="btn btn-success p-1 px-2 small">
                      <i class="fi fi-rr-plus"></i> 하위 카테고리 추가
                    </a>

                  </p>
                </td>
                <td class="text-center" style="width: 100px;">

                  <!-- 게시판 수정 -->
                  <a
                    href="javascript: new bootstrap.Modal(document.getElementById('{{ category.id }}CategoryEditModal')).show()">
                    <i class="fi fi-rr-edit"></i>
                  </a>
                  {% with to_modify_category=category %}
                  {% include 'components/modal/supervisor/update_category.html' %}
                  {% endwith %}

                </td>
              </tr>
              {% if category.children|length > 0 %}
              {% for child in category.children %}
              <tr>
                <td>
                  <p class="ms-2">
                    {{ child.name }}<br>

                    <a href="javascript: document.getElementById('subCategoryParent').value = '{{ child.id }}'; new bootstrap.Modal(document.getElementById('addCategoryModal')).show()"
                      class="btn btn-success p-1 px-2 small">
                      <i class="fi fi-rr-plus"></i> 하위 카테고리 추가
                    </a>

                  </p>
                </td>
                <td class="text-center">

                  <!-- 게시판 수정 -->
                  <a
                    href="javascript: new bootstrap.Modal(document.getElementById('{{ child.id }}CategoryEditModal')).show()">
                    <i class="fi fi-rr-edit"></i>
                  </a>
                  {% with to_modify_category=child %}
                  {% include 'components/modal/supervisor/update_category.html' %}
                  {% endwith %}

                </td>
                {% if child.children|length > 0 %}
                {% for grandchild in child.children %}
              <tr>
                <td>
                  <p class="ms-4">
                    {{ grandchild.name }}<br>

                    <a href="javascript: document.getElementById('subCategoryParent').value = '{{ grandchild.id }}'; new bootstrap.Modal(document.getElementById('addCategoryModal')).show()"
                      class="btn btn-success p-1 px-2 small">
                      <i class="fi fi-rr-plus"></i> 하위 카테고리 추가
                    </a>

                  </p>
                </td>
                <td class="text-center">

                  <!-- 게시판 수정 -->
                  <a
                    href="javascript: new bootstrap.Modal(document.getElementById('{{ grandchild.id }}CategoryEditModal')).show()">
                    <i class="fi fi-rr-edit"></i>
                  </a>
                  {% with to_modify_category=grandchild %}
                  {% include 'components/modal/supervisor/update_category.html' %}
                  {% endwith %}

                </td>
              </tr>
              {% if grandchild.children|length > 0 %}
              {% for grandgrandchild in grandchild.children %}
              <tr>
                <td>
                  <span class="ms-6">{{ grandgrandchild.name }}</span>
                </td>
                <td class="text-center">

                  <!-- 게시판 수정 -->
                  <a
                    href="javascript: new bootstrap.Modal(document.getElementById('{{ grandgrandchild.id }}CategoryEditModal')).show()">
                    <i class="fi fi-rr-edit"></i>
                  </a>
                  {% with to_modify_category=grandgrandchild %}
                  {% include 'components/modal/supervisor/update_category.html' %}
                  {% endwith %}

                </td>
              </tr>
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- 검색 -->
        <div class="rounded border p-3 mb-5 shadow">
          <p>
            <i class="fi fi-rr-search"></i> 검색
          </p>
          <form id="postSearchForm" method="get" action="{{supervisor_url}}/supervisor/travel">
            <div class="row">
              <div class="form-group mt-4 col-12">
                <label>제목</label>
                <input class="form-control" name="post_title" placeholder="게시글 제목" value="{{request.GET.post_title}}">
              </div>
              <div class="row my-4">
                <div class="form-group col-6">
                  <label>게시판</label>
                  <select class="form-select" name="board_id">
                    <option value="">전체</option>
                    {% for board in status %}
                    <option value="{{ board.id }}" {% if board.id == request.GET.board_id %}selected{% endif %}>{{ board.name }}</option>
                    {% if board.children|length > 0 %}
                    {% for child in board.children %}
                    <option value="{{ child.id }}" {% if child.id == request.GET.board_id %}selected{% endif %}>- {{ child.name }}</option>
                    {% if child.children|length > 0 %}
                    {% for grandchild in child.children %}
                    <option value="{{ grandchild.id }}" {% if grandchild.id == request.GET.board_id %}selected{% endif %}>
                      -- {{ grandchild.name }}</option>
                    {% if grandchild.children|length > 0 %}
                    {% for grandgrandchild in grandchild.children %}
                    <option value="{{ grandgrandchild.id }}" {% if grandgrandchild.id == request.GET.board_id %}selected{% endif %}>--- {{ grandgrandchild.name }}</option>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-6">
                  <label>작성자 아이디 또는 닉네임</label>
                  <input class="form-control" name="author_id" placeholder="작성자 아이디 또는 닉네임"
                    value="{{request.GET.author_id}}">
                </div>
              </div>
              <div class="form-group mt-2 mb-4">
                <label>작성자 아이디</label>
                <input class="form-control" name="author_id" placeholder="작성자">
              </div>
              <div class="row mt-2">
                <div class="form-group col-6">
                  <label>여행지 카테고리</label>
                  <select class="form-select" name="category_id">
                    <option value="">전체</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-6">
                  <label>여행지 게시글 상태</label>
                  <select class="form-select" name="place_status">
                    <option value="">전체</option>
                    <option value="writing">작성중</option>
                    <option value="normal">일반</option>
                    <option value="pending">승인대기</option>
                    <option value="ad">광고</option>
                    <option value="blocked">차단됨</option>
                  </select>
                </div>
              </div>
              <div class="form-group my-4 col-12">
                <label>여행지 주소</label>
                <input class="form-control" name="address" placeholder="여행지 주소">
              </div>
            </div>
          </form>

          <p class="text-end pt-5">
            <a class="btn btn-primary" href="javascript: document.getElementById('postSearchForm').submit()">
              <i class="fi fi-rr-search"></i> 검색
            </a>
          </p>
        </div>

        <!-- 버튼 -->
        <div class="p-3 mb-5 text-end">

          <a href="javascript: openExportDataPage();" class="btn btn-sm btn-success">
            <i class="fi fi-rr-file-excel"></i> 다운로드
          </a>

        </div>

        <!-- 검색 결과 -->
        {% if posts|length  ==  0 %}
        <p>
          게시글이 없습니다.
        </p>
        {% else %}

        {% for post in posts %}

        <!-- 여행지 게시글 형태 -->
        <div style="display: flex; justify-content: space-between; white-space: nowrap;">
          <div class="col-6 col-lg-4 p-2">
            <a class="text-dark text-decoration-none" href="{{supervisor_url}}/supervisor/travel/edit?post_id={{ post.id }}">
                <div class="card hover-scale overflow-hidden shadow-sm">
                    <div class="hover-scale-in blog-card-ratio ratio ratio-4x3">

                        <!-- 여행지 정보 상태가 'ad'인 경우, 베스트 업체로 표시 -->
                        {% if post.place_info.status == 'ad' %}
                        <span
                            class="bg-primary px-3 py-1 position-absolute top-0 start-0 w-auto h-auto z-1 mt-2 ms-2 text-white fs-sm text-center"
                            style="line-height: 16px;">
                            베스트<br>업체
                        </span>
                        {% endif %}

                        <img class="blog-card-ratio-img card-img-top" src="{{post.image}}">
                    </div>
                    <div class="card-body">

                        <!-- 카테고리 -->
                        <span class="text-black-50" style="font-size: 12px;">
                            {% for category in post.place_info.categories %}
                            {{ category.name }} {% if not forloop.last %} > {% endif %}
                            {% endfor %}
                        </span>

                        <!-- 제목 -->
                        <h6 class="mb-4">
                            {{ post.title }}
                        </h6>

                        <!-- 주소 -->
                        <p class="small text-black-50 mb-1">
                            <i class="fi fi-rr-marker"></i> {{ post.place_info.location_info }}
                        </p>

                        <!-- 오픈 정보 -->
                        <p class="small text-black-50 mb-1">
                            <i class="fi fi-rr-info"></i> {{ post.place_info.open_info }}
                        </p>

                    </div>
                    <div class="card-footer">

                        <!-- 댓글보기, 후기 검색, 정보 보기 버튼 -->
                        <span
                            class="btn btn-sm btn-outline-secondary small p-1 px-2">
                            <i class="fi fi-rr-eye"></i> 상세
                        </span>
                        <span
                            class="btn btn-sm btn-outline-secondary small p-1 px-2">
                            <i class="fi fi-rr-star"></i> 후기
                        </span>
                        <span
                            class="btn btn-sm btn-outline-secondary small p-1 px-2">
                            <i class="fi fi-rr-comment"></i> 댓글
                        </span>
        
                    </div>
                </div>
            </a>
        </div>
          <div style="flex: 1; padding-left: 10px;">
            <div class="border rounded p-3 mt-2">
              <p>
                <span class="h5 text-black-60 me-2">
                  광고 설정
                </span>
                <a href="javascript: new bootstrap.Modal(document.getElementById('{{post.id}}Modal')).show()"
                  class="text-black-50">
                  <i class="fi fi-rr-edit"></i>
                </a>
              </p>
              <p>
                광고 상태:
                {% if post.place_info.status == 'ad' %}
                <span class="badge bg-primary">광고중</span>
                {% elif post.place_info.status == 'active' %}
                <span class="badge bg-secondary">광고 없음</span>
                {% elif post.place_info.status == 'blocked' %}
                <span class="badge bg-danger">숨김</span>
                {% elif post.place_info.status == 'writing' %}
                <span class="badge bg-warning">작성중</span>
                {% elif post.place_info.status == 'pending' %}
                <span class="badge bg-info">광고 승인대기</span>
                {% endif %}
              </p>
              <p class="text-black">
                가중치: {{post.search_weight}}
              </p>
              <p class="small text-black-50">
                광고 시작 일시: {{post.place_info.ad_start_at}}<br>
                광고 종료 일시: {{post.place_info.ad_end_at}}<br>
              </p>
              <p>
                게시글 아이디: {{post.id}}
              </p>
              <p class="mt-3">
                메모: {{post.place_info.note}}
              </p>
            </div>
          </div>
        </div>
        {% include 'components/modal/supervisor/update_place_info.html' %}
        {% endfor %}

        {% endif %}

      <!-- 페이지네이션 영역 -->
      {% include 'components/main/pagination.html' %}

      </div>

    </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>
  </div>

</main>

<!-- Modal -->
<!-- 카테고리 추가 모달 -->
{% include 'components/modal/supervisor/create_category.html' %}

<script>

  window.addEventListener('load', (event) => {

    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{SUPERVISOR_URL}}/supervisor/travel?tab=noAdTab';
    }

    // Page
    var searchPostTItle = '{{request.GET.postTitle}}';
    var searchPostBoard = '{{request.GET.postBoard}}';
    console.log('{{request.GET.page}} | {{last_page}}');
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{supervisor_url}}/supervisor/travel?post_title=${searchPostTItle}&board_id=${searchPostBoard}`);

  });

  // 토글
  toggleAll = (name, checked) => {
    var checkboxes = document.querySelectorAll(`input[id^='${name}']`);
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = checked;
    }
  }

  // 카테고리 정보 수정
  updateCategory = async (category_id) => {
    var categoryName = document.getElementById(category_id + 'CategoryName').value;
    var categoryWeight = document.getElementById(category_id + 'CategoryWeight').value;
    console.log(category_id, categoryName, categoryWeight);
    var formData = new FormData();
    formData.append('category_id', category_id);
    formData.append('name', categoryName);
    formData.append('display_weight', categoryWeight);

    // 수정 요청
    await fetch('{{supervisor_url}}/supervisor/travel?category=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken,
      },
    })
      .then(response => response.json())
      .then(async data => {
        console.log(data);
        if (data.result  ==  'success') {
          await showAlert('수정 성공', '카테고리가 수정되었습니다.', 'success');
          location.reload();
        } else {
          await showAlert('수정 실패', '카테고리 수정에 실패했습니다.', 'danger');
        }
      });
  }

  // 여행지 게시글 광고 설정
  updateAd = async (post_id) => {
    var adStatus = document.getElementById(post_id + 'adStatus').value;
    var adWeight = document.getElementById(post_id + 'adWeight').value;
    var adStartAt = document.getElementById(post_id + 'adStart').value;
    var adEndAt = document.getElementById(post_id + 'adEnd').value;
    var adNote = document.getElementById(post_id + 'adNote').value;

    var formData = new FormData();
    formData.append('place_status', adStatus);
    formData.append('search_weight', adWeight);
    formData.append('ad_start_at', adStartAt);
    formData.append('ad_end_at', adEndAt);
    formData.append('note', adNote);

    // 수정 요청
    await fetch('{{supervisor_url}}/supervisor/travel?modify_travel_info=true&post_id=' + post_id, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken,
      },
    })
      .then(response => response.json())
      .then(async data => {
        console.log(data);
        if (data.result  ==  'success') {
          await showAlert('수정 성공', '광고 설정이 수정되었습니다.', 'success');
          location.reload();
        } else {
          await showAlert('수정 실패', '광고 설정 수정에 실패했습니다.', 'danger');
        }
      });
  }

</script>

{% endblock %}