{% extends 'base/base_supervisor.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <!-- 페이지 타이틀 -->
    {% with title='여행지 관리' subtitle='여행지 게시글과 광고 관리' %}
    {% include 'components/main/title_section.html' %}
    {% endwith %}

    <!-- 탭 -->
    <div class="btn-group w-100 d-flex">
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/travel?tab=noAdTab" id="noAdTab">
          일반 여행지
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'noAdTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('noAdTab').classList.add('pastel-pink-background');
                  document.getElementById('noAdTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('noAdTab').classList.add('pastel-beige-background');
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/travel?tab=weightAdTab" id="weightAdTab">
          가중치 광고 여행지
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'weightAdTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('weightAdTab').classList.add('pastel-pink-background');
                  document.getElementById('weightAdTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('weightAdTab').classList.add('pastel-beige-background');
              }
          });
      </script>
      <span class="divider"></span>
      <div class="w-100 d-flex justify-content-center">
        <a class="w-100 btn" href="{{SUPERVISOR_URL}}/supervisor/travel?tab=statusAdTab" id="statusAdTab">
          베스트 광고 여행지
        </a>
      </div>
      <script>
          window.addEventListener('load', () => {
              if ('{{request.GET.tab}}' == 'statusAdTab') { // 해당 탭이 선택 되었을 경우,
                  document.getElementById('statusAdTab').classList.add('pastel-pink-background');
                  document.getElementById('statusAdTab').classList.add('text-white');
              } else { // 해당 탭이 선택 되지 않았을 경우,
                  document.getElementById('statusAdTab').classList.add('pastel-beige-background');
              }
          });
      </script>
    </div>

    <!-- 버튼 -->
    <div class="my-4 text-end">
      <a class="btn btn-success btn-sm"
        href="javascript: new bootstrap.Modal(document.getElementById('addCategoryModal')).show()">
        <i class="fi fi-rr-plus"></i> 최상위 카테고리 추가
      </a>
    </div>

    <!-- 통계 -->
    <div class="rounded border p-3 my-4 shadow">
      <p>
        <i class="fi fi-rr-list"></i> 카테고리 편집
      </p>
      <div class="accordion shadow mb-5">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button bg-white text-black-50 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#levelTableAccordionItem" aria-expanded="false"
              aria-controls="levelTableAccordionItem">
              카테고리 통계
            </button>
          </h2>
          <div id="levelTableAccordionItem" class="accordion-collapse collapse">
            <div class="accordion-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>구분</th>
                    <th>숨김</th>
                    <th>광고 없음</th>
                    <th>광고 요청</th>
                    <th>광고중(가중치)</th>
                    <th>광고중(베스트)</th>
                    <th style="width: 100px;"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                  <tr>
                    <td>
                      <p>
                        {{ category.name }}
                        <a href="javascript: document.getElementById('subCategoryParent').value = '{{ category.id }}'; new bootstrap.Modal(document.getElementById('addCategoryModal')).show()"
                          class="btn btn-success p-1 px-2 small ms-2">
                          <i class="fi fi-rr-plus"></i> 하위 카테고리 추가
                        </a>
                      </p>
                    </td>
                    <td>{{ category.writing_count }}</td>
                    <td>{{ category.active_count }}</td>
                    <td>{{ category.pending_count }}</td>
                    <td>{{ category.weight_ad_count }}</td>
                    <td>{{ category.status_ad_count }}</td>
                    <td class="text-center" style="width: 100px;">
                      <!-- 게시판 수정 -->
                      <a
                        href="javascript: new bootstrap.Modal(document.getElementById('{{ category.id }}CategoryEditModal')).show()">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                      {% with to_modify_category=category %}
                      {% include 'components/modal/supervisor/update_category.html' %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% if category.children|length > 0 %}
                  {% for child in category.children %}
                  <tr>
                    <td>
                      <p class="ms-2">
                        {{ child.name }}
                        <a href="javascript: document.getElementById('subCategoryParent').value = '{{ child.id }}'; new bootstrap.Modal(document.getElementById('addCategoryModal')).show()"
                          class="btn btn-success p-1 px-2 small ms-2">
                          <i class="fi fi-rr-plus"></i> 하위 카테고리 추가
                        </a>
                      </p>
                    </td>
                    <td>{{ child.writing_count }}</td>
                    <td>{{ child.active_count }}</td>
                    <td>{{ child.pending_count }}</td>
                    <td>{{ child.weight_ad_count }}</td>
                    <td>{{ child.status_ad_count }}</td>
                    <td class="text-center">
                      <!-- 게시판 수정 -->
                      <a
                        href="javascript: new bootstrap.Modal(document.getElementById('{{ child.id }}CategoryEditModal')).show()">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                      {% with to_modify_category=child %}
                      {% include 'components/modal/supervisor/update_category.html' %}
                      {% endwith %}
                    </td>
                    {% if child.children|length > 0 %}
                    {% for grandchild in child.children %}
                  <tr>
                    <td>
                      <p class="ms-4">
                        {{ grandchild.name }}
                        <a href="javascript: document.getElementById('subCategoryParent').value = '{{ grandchild.id }}'; new bootstrap.Modal(document.getElementById('addCategoryModal')).show()"
                          class="btn btn-success p-1 px-2 small ms-2">
                          <i class="fi fi-rr-plus"></i> 하위 카테고리 추가
                        </a>
                      </p>
                    </td>
                    <td>{{ grandchild.writing_count }}</td>
                    <td>{{ grandchild.active_count }}</td>
                    <td>{{ grandchild.pending_count }}</td>
                    <td>{{ grandchild.weight_ad_count }}</td>
                    <td>{{ grandchild.status_ad_count }}</td>
                    <td class="text-center">
                      <!-- 게시판 수정 -->
                      <a
                        href="javascript: new bootstrap.Modal(document.getElementById('{{ grandchild.id }}CategoryEditModal')).show()">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                      {% with to_modify_category=grandchild %}
                      {% include 'components/modal/supervisor/update_category.html' %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% if grandchild.children|length > 0 %}
                  {% for grandgrandchild in grandchild.children %}
                  <tr>
                    <td>
                      <span class="ms-6">{{ grandgrandchild.name }}</span>
                    </td>
                    <td>{{ grandgrandchild.writing_count }}</td>
                    <td>{{ grandgrandchild.active_count }}</td>
                    <td>{{ grandgrandchild.pending_count }}</td>
                    <td>{{ grandgrandchild.weight_ad_count }}</td>
                    <td>{{ grandgrandchild.status_ad_count }}</td>
                    <td class="text-center">
                      <!-- 게시판 수정 -->
                      <a
                        href="javascript: new bootstrap.Modal(document.getElementById('{{ grandgrandchild.id }}CategoryEditModal')).show()">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                      {% with to_modify_category=grandgrandchild %}
                      {% include 'components/modal/supervisor/update_category.html' %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 검색 -->
    <div class="rounded border p-3 my-4 shadow">
      <p>
        <i class="fi fi-rr-search"></i> 검색
      </p>
      <form id="postSearchForm" method="get" action="{{SUPERVISOR_URL}}/supervisor/travel">
        <div class="row">
          <div class="row mb-4">
            <div class="form-group col-6">
              <label>게시판</label>
              <select class="form-select" name="board_id">
                <option value="">전체</option>
                {% for board in travel_boards %}
                <option value="{{ board.id }}" {% if board.id == request.GET.board_id %}selected{% endif %}>{{ board.name }}</option>
                {% if board.children|length > 0 %}
                {% for child in board.children %}
                <option value="{{ child.id }}" {% if child.id == request.GET.board_id %}selected{% endif %}>- {{ child.name }}</option>
                {% if child.children|length > 0 %}
                {% for grandchild in child.children %}
                <option value="{{ grandchild.id }}" {% if grandchild.id == request.GET.board_id %}selected{% endif %}>
                  -- {{ grandchild.name }}</option>
                {% if grandchild.children|length > 0 %}
                {% for grandgrandchild in grandchild.children %}
                <option value="{{ grandgrandchild.id }}" {% if grandgrandchild.id == request.GET.board_id %}selected{% endif %}>--- {{ grandgrandchild.name }}</option>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-6">
              <label>카테고리</label>
              <select class="form-select" name="board_id">
                <option value="">전체</option>
                {% for board in categories %}
                <option value="{{ board.id }}" {% if board.id == request.GET.board_id %}selected{% endif %}>{{ board.name }}</option>
                {% if board.children|length > 0 %}
                {% for child in board.children %}
                <option value="{{ child.id }}" {% if child.id == request.GET.board_id %}selected{% endif %}>- {{ child.name }}</option>
                {% if child.children|length > 0 %}
                {% for grandchild in child.children %}
                <option value="{{ grandchild.id }}" {% if grandchild.id == request.GET.board_id %}selected{% endif %}>
                  -- {{ grandchild.name }}</option>
                {% if grandchild.children|length > 0 %}
                {% for grandgrandchild in grandchild.children %}
                <option value="{{ grandgrandchild.id }}" {% if grandgrandchild.id == request.GET.board_id %}selected{% endif %}>--- {{ grandgrandchild.name }}</option>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group mb-4 col-12">
            <label>제목</label>
            <input class="form-control" name="post_title" placeholder="게시글 제목" value="{{request.GET.post_title}}">
          </div>
          <div class="row mb-4">
            <div class="form-group {% if request.GET.tab == 'noAdTab' %}col-8{% else %}col-12{% endif %}">
              <label>작성자 아이디 또는 닉네임 또는 파트너 이름</label>
              <input class="form-control" name="author" placeholder="작성자 아이디 또는 닉네임"
                value="{{request.GET.author}}">
            </div>
            {% if request.GET.tab == 'noAdTab' %}
            <div class="form-group col-4">
              <label>여행지 게시글 상태</label>
              <select class="form-select" name="place_status">
                <option value="">전체</option>
                <option value="writing">숨김</option>
                <option value="active">일반</option>
                <option value="pending">광고 요청</option>
              </select>
            </div>
            {% endif %}
          </div>
          <div class="form-group mb-4 col-12">
            <label>여행지 주소</label>
            <input class="form-control" name="address" placeholder="여행지 주소">
          </div>
        </div>
      </form>

      <p class="text-end mt-3 mb-2">
        <a class="btn btn-primary" href="javascript: document.getElementById('postSearchForm').submit()">
          <i class="fi fi-rr-search"></i> 검색
        </a>
      </p>
    </div>

    <!-- 버튼 -->
    <div class="p-3 my-4 text-end">
      <a href="javascript: openExportDataPage();" class="btn btn-sm btn-success">
        <i class="fi fi-rr-file-excel"></i> 다운로드
      </a>
    </div>

    <!-- 검색 결과 -->
    <div class="row p-3 my-4">

      {% if posts|length  ==  0 %}
      <p>
        게시글이 없습니다.
      </p>
      {% endif %}
      <div class="row">
      {% for post in posts %}
        <div class="col-6 col-xl-4 p-1 p-lg-2">
          <a class="text-dark text-decoration-none" href="{{MAIN_URL}}/post/post_view?post_id={{post.id}}&board_ids={{post.board_ids}}" target="_blank">
            <div class="card hover-scale overflow-hidden shadow-sm" style="min-height: 460px;">
              <div class="hover-scale-in blog-card-ratio ratio ratio-4x3">
                  {% if post.place_info.status == 'ad' %}
                  <span
                      class="bg-primary px-3 py-1 position-absolute top-0 start-0 w-auto h-auto z-1 mt-2 ms-2 text-white fs-sm text-center"
                      style="line-height: 16px;">
                      베스트<br>업체
                  </span>
                  {% endif %}
                  <img class="blog-card-ratio-img card-img-top" src="{{post.image}}">
              </div>
              <div class="card-body">
                <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                  <div style="display: inline-block; text-align: left;">
                    <!-- 카테고리 및 게시판  -->
                    <p class="text-black-50 mb-2" style="font-size: 12px;">
                      <span class="me-2">
                        {% for board in post.boards %}
                        {{ board.name }} {% if not forloop.last %} > {% endif %}
                        {% endfor %}
                      </span>
                      {% for category in post.place_info.categories %}
                      {{ category.name }} {% if not forloop.last %} > {% endif %}
                      {% endfor %}
                    </p>
                    <!-- 제목 -->
                    <p class="text-black-50 mb-1" style="font-size: 12px;">
                      {{ post.author.partner_name }}
                    </p>
                  </div>
                  <div style="display: inline-block; text-align: right;">
                    <p class="m-0">
                      {% if post.place_info.status == 'ad' %}
                      <span class="badge bg-primary">광고중</span>
                      {% elif post.place_info.status == 'active' %}
                      <span class="badge bg-secondary">광고 없음</span>
                      {% elif post.place_info.status == 'blocked' %}
                      <span class="badge bg-danger">숨김</span>
                      {% elif post.place_info.status == 'writing' %}
                      <span class="badge bg-warning">작성중</span>
                      {% elif post.place_info.status == 'pending' %}
                      <span class="badge bg-info">광고 승인대기</span>
                      {% endif %}
                      <a href="javascript: new bootstrap.Modal(document.getElementById('{{post.id}}Modal')).show()"
                        class="text-primary small">
                        <i class="fi fi-rr-edit"></i>
                      </a>
                    </p>
                  </div>
                </div>
                <h6 class="mb-3 text-black-60">
                    {{ post.title }}
                    <a href="{{SUPERVISOR_URL}}/supervisor/travel/edit?post_id={{ post.id }}"
                      class="text-primary">
                      <i class="fi fi-rr-edit"></i>
                    </a>
                </h6>
                <p class="text-black-50 small mb-2">
                  가중치: {{post.search_weight}}
                </p>
                <p class="small text-black-50">
                  광고 시작 일시: {{post.place_info.ad_start_at}}<br>
                  광고 종료 일시: {{post.place_info.ad_end_at}}<br>
                </p>
              </div>
            </div>
          </a>
        </div>
        {% include 'components/modal/supervisor/update_place_info.html' %}
      {% endfor %}
      </div>

    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>

<!-- Modal -->
<!-- 카테고리 추가 모달 -->
{% include 'components/modal/supervisor/create_category.html' %}

<script>

  window.addEventListener('load', (event) => {

    // Tab
    tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{SUPERVISOR_URL}}/supervisor/travel?tab=noAdTab';
    }

    // Page
    var searchPostTItle = '{{request.GET.postTitle}}';
    var searchPostBoard = '{{request.GET.postBoard}}';
    console.log('{{request.GET.page}} | {{last_page}}');
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{SUPERVISOR_URL}}/supervisor/travel?post_title=${searchPostTItle}&board_id=${searchPostBoard}`);

  });

  // 토글
  toggleAll = (name, checked) => {
    var checkboxes = document.querySelectorAll(`input[id^='${name}']`);
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = checked;
    }
  }

  // 카테고리 정보 수정
  updateCategory = async (category_id) => {
    var categoryName = document.getElementById(category_id + 'CategoryName').value;
    var categoryWeight = document.getElementById(category_id + 'CategoryWeight').value;
    console.log(category_id, categoryName, categoryWeight);
    var formData = new FormData();
    formData.append('category_id', category_id);
    formData.append('name', categoryName);
    formData.append('display_weight', categoryWeight);

    // 수정 요청
    await fetch('{{SUPERVISOR_URL}}/supervisor/travel?category=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken,
      },
    })
      .then(response => response.json())
      .then(async data => {
        console.log(data);
        if (data.result  ==  'success') {
          await showAlert('수정 성공', '카테고리가 수정되었습니다.', 'success');
          location.reload();
        } else {
          await showAlert('수정 실패', '카테고리 수정에 실패했습니다.', 'danger');
        }
      });
  }

  // 여행지 게시글 광고 설정
  updateAd = async (post_id) => {
    var adStatus = document.getElementById(post_id + 'adStatus').value;
    var adWeight = document.getElementById(post_id + 'adWeight').value;
    var adStartAt = document.getElementById(post_id + 'adStart').value;
    var adEndAt = document.getElementById(post_id + 'adEnd').value;
    var adNote = document.getElementById(post_id + 'adNote').value;

    var formData = new FormData();
    formData.append('post_id', post_id);
    formData.append('place_status', adStatus);
    formData.append('search_weight', adWeight);
    formData.append('ad_start_at', adStartAt);
    formData.append('ad_end_at', adEndAt);
    formData.append('note', adNote);

    // 수정 요청
    await fetch('{{SUPERVISOR_URL}}/supervisor/travel', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken,
      },
    })
      .then(response => response.json())
      .then(async data => {
        console.log(data);
        if (data.result  ==  'success') {
          await showAlert('수정 성공', '광고 설정이 수정되었습니다.', 'success');
          location.reload();
        } else {
          await showAlert('수정 실패', '광고 설정 수정에 실패했습니다.', 'danger');
        }
      });
  }

</script>

{% endblock %}