<div>

    <!-- 계정 타입 -->
    <a href="{{MAIN_URL}}/profile" class="text-dark">

        {% if account.account_type == 'partner' %}
        <span class="text-black-50 me-1" style="font-size: 14px;">파트너</span>
        {% elif account.account_type == 'supervisor' %}
        <span class="text-black-50 me-1" style="font-size: 14px;">관리자</span>
        {% elif account.account_type == 'subsupervisor' %}
        <span class="text-black-50 me-1" style="font-size: 14px;">부관리자</span>
        {% else %}
        <span class="text-black-50 me-1" style="font-size: 12px;">
            {% if account.account_type == 'user' %}
            일반 회원
            {% elif account.account_type == 'dame' %}
            여성 회원
            {% endif %}
        </span> 
        {% include 'components/other/level_badge.html' with level=account.level %}
        {% endif %}
        <p class="text-black-60">
            {{account.nickname}}
        </p>
    </a>

    <!-- 포인트, 쿠폰, 쪽지 -->
    {% if account.account_type not in 'supervisor,subsupervisor' %}
    <div class="border p-2 small">

        {% if account.account_type in 'user,dame' %}
        <!-- 포인트 -->
        <div>
            <a class="text-black-60" href="{{MAIN_URL}}/activity">
                마일리지
                <span class="text-black-50">
                    <i class="fi fi-ss-coins text-secondary"></i> <span class="numberComma">{{account.mileage}}</span>
                </span>
            </a>
        </div>
        <!-- 쿠폰 수 -->
        <div>
            <a class="text-black-60" href="{{MAIN_URL}}/coupon">
                내 쿠폰:
                <span class="text-black-50">
                    <i class="fi fi-rr-ticket"></i> {{coupons_preview|length}}
                </span>
            </a>
        </div>
        {% endif %}

        <!-- 읽지 않은 쪽지 갯수 -->
        <div>
            <a class="text-black-60" href="{{MAIN_URL}}/messenge">
                읽지 않은 쪽지:
                <span class="text-black-50">
                    <i class="fi fi-rr-envelope"></i> {{unread_messages|length}}
                </span>
            </a>
        </div>
    </div>
    {% endif %}

    <!-- 로그아웃 -->
    <div class="text-end mt-3">

        <!--
        <a href="javascript: logout();" class="btn btn-secondary btn-sm small">
            <i class="fi fi-rr-exit"></i> 로그아웃
        </a>-->

        {% if account.account_type == 'partner' %}
        <a href="{{PARTNER_URL}}" class="btn btn-success btn-sm small ms-1" target="_blank">
            <i class="fi fi-rr-settings"></i>
        </a>
        {% elif account.account_type in 'supervisor,subsupervisor' %}
        <a href="{{SUPERVISOR_URL}}" class="btn btn-success btn-sm small ms-1" target="_blank">
            <i class="fi fi-rr-settings"></i>
        </a>
        {% endif %}
    </div>

</div>