<div>
    <label>
        {{ label }}
    </label>
    <div id="{{id}}Preview" class="mb-3"></div>
    <a href="javascript: document.getElementById('{{id}}').click();" class="btn btn-success btn-sm small">
        <i class="fi fi-rr-picture"></i> 이미지 등록
    </a>
    <input type="file" class="d-none" id="{{id}}" multiple name="image">
</div>
<script>
    // 대표 이미지 추가
    document.getElementById('{{id}}').addEventListener('change', async (e) => {
        const files = e.target.files;

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();
            reader.onload = (e) => {
                const imagePath = e.target.result;
                document.getElementById('{{id}}Preview').innerHTML = `
        <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('${imagePath}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw; cursor: pointer;" onclick="deleteImage(this)"></div>
        `;
            }
            reader.readAsDataURL(file);
        }
    });

    // 이미지 삭제
    deleteImage = (element) => {
        element.remove();
        document.getElementById('{{id}}').value = '';
    }
</script>