{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/left_aside_main.html' %}
</aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- title -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}
    <h5 class="mt-5">
      출석체크
    </h5>
    <p class="small">
      출석체크를 통해 포인트를 적립하고, 쿠폰을 획득하세요.
    </p>
  </div>

  <!-- 캘린더 -->
  <div class="container mt-5">
    <div id="calendar-widget">
      <div id="head-wrapper" class="d-flex align-items-center justify-content-center">
        <h3 id="month" class="mx-3 text-black"></h3>
      </div>
      <div id="calendar-wrapper">
        <div id="table-wrapper">
          <h3 id="week"></h3>
          <table id="calendar-table">
            <thead>
              <tr>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th>일</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- 출석체크 컨테이너 -->
  <div class="mt-5 mb-3 pb-3 border-bottom">
    <p class="text-dark">
      출석 한마디
    </p>
    {% if not is_attended %}
    <textarea id="commentInput" class="form-control" rows="3" onkeyup="event.keyCode == 13 ? writeComment() : null"
      placeholder="풀석체크 한마디를 작성해주세요."></textarea>
    <button class="btn btn-primary mt-4" onclick="writeComment()">출석체크</button>
    {% else %}
    <textarea id="commentInput" class="form-control" rows="3" disabled
      placeholder="출석체크는 하루에 한 번만 가능합니다."></textarea>
    <button class="btn btn-primary mt-4" disabled>출석체크</button>
    {% endif %}
  </div>

  <!-- 댓글 목록 -->
  <ul class="list-unstyled mt-5">
    {% if comments|length < 1 %} <li>
      <p>
        아직 출석체크한 사용자가 없습니다.
      </p>
      </li>
      {% else %}
      {% for comment in comments %}
      <li>
        <div class="mb-4">
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
              {% if forloop.counter == 1 %}
              <span class="text-secondary me-3">
                <i class="fi fi-rr-ranking-podium"></i> 1등
              </span>
              {% elif forloop.counter == 2 %}
              <span class="me-3 text-black-50">
                <i class="fi fi-rr-ranking-podium"></i> 2등
              </span>
              {% elif forloop.counter == 3 %}
              <span class="me-3" style="color: #8B4513;">
                <i class="fi fi-rr-ranking-podium"></i> 3등
              </span>
              {% endif %}
            </div>
            <div style="display: inline-block; text-align: right;">
              {% if forloop.counter == 1 %}
              <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-ss-coins text-secondary"></i> +100
              </span>
              {% elif forloop.counter == 2 %}
              <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-ss-coins text-secondary"></i> +50
              </span>
              {% elif forloop.counter == 3 %}
              <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-ss-coins text-secondary"></i> +30
              </span>
              {% endif %}
            </div>
          </div>
          <div class="d-flex w-100">
            <div class="d-flex w-100 ">

              <!-- 댓글 작성자 이름. 파트너 이름 또는 사용자 닉네임 -->
              {% if comment.author.partner_name %}
              <h6 class="mt-0 mb-1">{{ comment.author.partner_name }}</h6>
              {% else %}
              <h6 class="mt-0 mb-1">{{ comment.author.nickname }}</h6>
              {% endif %}

            </div>
            <div class="d-flex w-100 flex-row-reverse">
              <small class="mb-2">{{ comment.created_at }}</small>
            </div>
          </div>
          <p class="text-black-50">
            {{ comment.content }}
          </p>
      </li>
      {% endfor %}
      {% endif %}
  </ul>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/right_aside_main.html' %}
</aside>

<script>

  document.addEventListener("DOMContentLoaded", () => {
    CalendarWidget.init();
  });

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    {% for day in attend_days %}
    document.querySelector('[data-day="{{ day }}"]').classList.add('bg-success', 'text-white');
    {% endfor %}
  }

  writeComment = async () => {
    const comment = document.getElementById('commentInput').value;
    if (comment == '') {
      await showAlert('메세지 작성', '출석체크 메세지를 작성해주세요.', 'error');
      return;
    }

    // 댓글 작성 요청
    var formdata = new FormData();
    formdata.append('post_id', '{{ post.id }}');
    formdata.append('content', comment);
    var result = await fetch('/api/write_comment', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      },
      body: formdata
    })
    .then((response) => response.json())
    .then(async (data) => {
      console.log(data); // fetch 요청 결과 출력
      return data.result;
    });

    if (result == 'success') {
      await showAlert('출석체크', '출석체크가 완료되었습니다.', 'success');
      location.reload();
    } else {
      await showAlert('출석체크', '출석체크에 실패했습니다.', 'error');
    }
  }

</script>

{% endblock %}