{% extends 'base/base.html' %}
{% block content %}
<main class="container" style="display: flex; align-items: flex-start;">

  <!-- 왼쪽 사이드바 -->
  {% include 'components/aside/aside_left.html' %}

  <div class="main-section px-5" style="flex: 1;">

    <div style="min-height: 300px;">

      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      {% include 'components/main/title_section.html' with title='출석체크' subtitle='출석체크를 통해 포인트를 적립하고, 쿠폰을 획득하세요.' %}

      <!-- 캘린더 -->
      <div class="text-center py-5 border-bottom">
        <div id="calendar-widget">
          <div id="head-wrapper" class="d-flex align-items-center justify-content-center">
            <h3 id="month" class="mx-3 text-black"></h3>
          </div>
          <div id="calendar-wrapper">
            <div id="table-wrapper">
              <h3 id="week"></h3>
              <table id="calendar-table">
                <thead>
                  <tr>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                    <th>일</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 댓글 작성 폼 -->
      {% with commentable=true comment_form_title='출석 한마디' placeholder='출석체크 한마디를 작성해주세요.' button_text='<i class="fi fi-rr-edit"></i> 출석체크' commentable=commentable %}
      {% include 'components/main/post_view/comment/comment_form.html' %}
      {% endwith %}

      <!-- 댓글 목록 -->
      <ul class="list-unstyled mt-3">
        {% for comment in comments %}
        <li class="border-bottom pb-3 mb-3">
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
              <p class="text-black mb-1">
                <span class="me-2">{{comment.author.nickname}}</span>{% include 'components/other/level_badge.html' with level=comment.author.level %}
              </p>
            </div>
            <div style="display: inline-block; text-align: right;">
              {% if forloop.counter == 1 %}
              <span class="me-1 small" style="white-space: nowrap;">
                <span class="me-2">
                  <i class="fi fi-rr-ranking-podium text-secondary"></i> 1등
                </span>
                <i class="fi fi-ss-coins text-secondary"></i> {{ attend_point.first }}
              </span>
              {% elif forloop.counter == 2 %}
              <span class="me-1 small" style="white-space: nowrap;">
                <span class="me-2">
                  <i class="fi fi-rr-ranking-podium text-black-50"></i> 2등
                </span>
                <i class="fi fi-ss-coins text-secondary"></i> {{ attend_point.second }}
              </span>
              {% elif forloop.counter == 3 %}
              <span class="me-1 small" style="white-space: nowrap;">
                <span class="me-2">
                  <i class="fi fi-rr-ranking-podium text-warning"></i> 3등
                </span>
                <i class="fi fi-ss-coins text-secondary"></i> {{ attend_point.third }}
              </span>
              {% endif %}
            </div>
          </div>
          <p class="small">
            {{ comment.content }}
          </p>
          <p class="text-black-50 m-0" style="font-size: 12px;">
            {{ comment.created_at }}
          </p>
        </li>
        {% endfor %}
      </ul>

    </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

  <!-- 오른쪽 사이드바 -->
  {% include 'components/aside/aside_right.html' %}

</main>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    CalendarWidget.init();
  });

  window.addEventListener('load', () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    {% for day in attend_days %}
    document.querySelector('[data-day="{{ day }}"]').classList.add('bg-success', 'text-white');
    {% endfor %}
  });

  writeComment = async () => {
    const comment = document.getElementById('commentInput').value;
    if (comment == '') {
      await showAlert('메세지 작성', '출석체크 메세지를 작성해주세요.', 'error');
      return;
    }

    // 댓글 작성 요청
    var formdata = new FormData();
    formdata.append('post_id', '{{ post.id }}');
    formdata.append('content', comment);
    var result = await fetch('/api/comment', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      },
      body: formdata
    })
      .then((response) => response.json())
      .then(async (data) => {
        console.log(data); // fetch 요청 결과 출력
        return data.result;
      });

    if (result == 'success') {
      await showAlert('출석체크', '출석체크가 완료되었습니다.', 'success');
      location.reload();
    } else {
      await showAlert('출석체크', '출석체크에 실패했습니다.', 'error');
    }
  }

</script>

{% endblock %}