{% extends 'base/base.html' %}
{% block content %}
<main class="container" style="display: flex; align-items: flex-start;">

  <!-- 왼쪽 사이드바 -->
  {% include 'components/aside/aside_left.html' %}

  <div class="main-section px-5" style="flex: 1;">

    <div style="min-height: 300px;">

      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      {% include 'components/main/title_section.html' with title='가입인사' subtitle='가입인사를 남겨주세요.' %}

      <!-- 댓글 작성 폼 -->
      {% include 'components/main/post_view/comment/comment_form.html' with commentable=true comment_form_title='가입인사' placeholder='가입인사 한마디를 작성해주세요.' button_text='가입인사 작성' %}

      <!-- 댓글 목록 -->
      {% include 'components/main/post_view/comment/comment_list.html' %}

    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

  <!-- 오른쪽 사이드바 -->
  {% include 'components/aside/aside_right.html' %}

</main>

<script>

  window.addEventListener('load', () => {

    // pagination
    // 만약 contexts에서 lastpage를 받았고, pagination 컴포넌트가 있다면, 페이지네이션을 생성합니다.
    if ('{{last_page}}' && document.querySelector('#pageButton')) {
      makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/post/greeting?search=`);
    }

  });

  writeComment = async () => {
    const comment = document.getElementById('commentInput').value;
    if (comment == '') {
      await showAlert('메세지 작성', '출석체크 메세지를 작성해주세요.', 'error');
      return;
    }

    // 댓글 작성 요청
    var formdata = new FormData();
    formdata.append('post_id', '{{ post.id }}');
    formdata.append('content', comment);
    var result = await fetch('/api/comment', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      },
      body: formdata
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    if (result == 'success') {
      await showAlert('가입인사', '가입인사를 작성했습니다.', 'success');
      location.reload();
    } else {
      await showAlert('가입인사', '가입인사 작성에 실패했습니다.', 'error');
    }
  }

</script>

{% endblock %}