{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/left_aside_main.html' %}
</aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}

    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
      <div style="display: inline-block; text-align: left;">
        <p class="mt-5">
          {% for board in post.boards %}
          {{ board }} {% if forloop.counter < post.boards|length  %} &gt; {% endif %}
          {% endfor %}
        </p>
        <h5>
          {{post.title}}
          {% if account.id == post.author.id %}
          <a href="#"
            class="text-black-50 small">
            <i class="fi fi-rr-edit"></i>
          </a>
          {% endif %}
        </h5>
        <p class="small mt-1">
          <span>
            <i class="fi fi-rr-calendar"></i> {{ post.created_at }}
          </span>
          <span class="ms-3">
            <i class="fi fi-rr-user"></i> {{ post.author.nickname }} 
            {% if account.account_type == 'user' %}
            <span class="badge user-level-badge" style="color: {{account.level.text_color}}; background-color: {{account.level.background_color}};">{{ account.level.name }}</span>
            {% endif %}
          </span>
        </p>
      </div>
      <div style="display: inline-block; text-align: right;">
        <p class="m-0 text-end text-black-50" style="font-size: 14px;">
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-eye"></i> {{ post.views|length }}
          </span>
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-comment-alt-dots"></i> {{ post.comments|length }}
          </span>
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-social-network"></i> {{ post.bookmarks|length }}
          </span>
        </p>
      </div>
    </div>
  </div>

  <!-- 게시글 내용 -->
  <div class="my-4">
    <div style="min-height: 200px;">
      <div id="viewer"></div>
    </div>
  </div>

  <!-- 댓글 작성 -->
  <div class="mt-5 mb-3 pb-3 border-bottom">
    <p class="text-dark">
      댓글
    </p>
    <textarea id="commentInput" class="form-control" rows="3"
      placeholder="건전한 인터넷 문화 조성을 위해 댓글 작성 시 주의해주세요.">
    </textarea>
    {% if commentable %}
    <button class="btn btn-primary mt-4" onclick="writeComment('{{ post.id }}', document.getElementById('commentInput').value);">
      댓글 작성
    </button>
    {% else %}
    <button class="btn btn-primary mt-4" disabled>댓글 작성</button>
    {% endif %}

  </div>

  <!-- 댓글 목록 -->
  <ul class="list-unstyled mt-5">
    {% if comments|length < 1 %} <li>
      <p>
        댓글이 없습니다.
      </p>
      </li>
      {% else %}
      {% for comment in comments %}
      <li>
        <div class="mb-4">
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
              <h6 class="mt-0 mb-1">{{ comment.author.nickname }}</h6>
              <small class="mb-2">{{ comment.created_at }}</small>
            </div>
            <div style="display: inline-block; text-align: right;">
              {% if account.id == comment.author.id %}
              <a class="small text-black-50" href="javascript: deleteComment('{{ comment.id }}');">
                <i class="fi fi-rr-trash"></i> 댓글 삭제
              </a>
              {% endif %}
            </div>
          </div>
          <div>
            {{ comment.content }}
          </div>
        </div>
      </li>
      {% endfor %}
      {% endif %}
  </ul>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/right_aside_main.html' %}
</aside>

<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);
  }

  const viewer = new toastui.Editor.factory({
    el: document.querySelector('#viewer'),
    viewer: true,
    height: '500px',
    initialValue: `{{ post.content }}`,
  });

</script>

{% endblock %}