{% extends 'base/base.html' %}
{% block content %}
<main class="container" style="display: flex; align-items: flex-start;">

  <!-- 왼쪽 사이드바 -->
  {% include 'components/aside/aside_left.html' %}

  <div class="main-section px-5" style="flex: 1;">

    <div style="min-height: 300px;">

      <!-- 상단 배너 영역 -->
      {% include 'components/main/banner.html' with banners=banners bannerCaouselName='post' %}

      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      <div class="mb-5 pb-2 border-bottom">
        <div style="display: flex; justify-content: space-between; white-space: nowrap;">

          <!-- 게시글 정보 -->
          <div style="display: inline-block; text-align: left;">
            <p class="small text-black-50 mb-2">
              {% for board in post.boards %}
              {{ board.name }} {% if forloop.counter < post.boards|length %} &gt; {% endif %} {% endfor %}
            </p>
            <h5 class="text-black-60">
              {{post.title}}
            </h5>
          </div>

          <!-- 게시글 메뉴 -->
          <div style="display: inline-block; text-align: right;">
            <p class="text-end text-black-50" style="font-size: 14px;">
              <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-rr-eye"></i> {{ post.view_count }}
              </span>
              <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-rr-social-network"></i> {{ post.like_count }}
              </span>
              <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-rr-comment-alt-dots"></i> {{ comments|length }}
              </span>
            </p>
            {% if account.id == post.author.id or 'post' in account.supervisor_permissions %}
            <a class="btn btn-success btn-sm small p-1 px-2 me-2" href="/post/rewrite_post?post_id={{ post.id }}&board_ids={{ request.GET.board_ids }}">
              <i class="fi fi-rr-edit"></i> 게시글 수정
            </a>
            <a class="btn btn-danger btn-sm small p-1 px-2" href="javascript: deletePost();">
              <i class="fi fi-rr-trash"></i> 게시글 삭제
            </a>
            {% else %}
            {% if request.user.is_authenticated and likeable %}
            <a class="btn btn-success btn-sm p-1 px-2" href="javascript: likePost();">
              <i class="fi fi-rr-social-network"></i> 
              {% if board.board_type == 'travel' %}
              추천
              {% else %}
              좋아요
              {% endif %}
            </a>
            {% elif request.user.is_authenticated and not likeable %}
            <a class="btn btn-success btn-sm p-1 px-2" href="javascript: likePost();">
              <i class="fi fi-rr-social-network"></i> 
              {% if board.board_type == 'travel' %}
              추천 취소
              {% else %}
              좋아요 취소
              {% endif %}
            </a>
            {% endif %}
            {% endif %}
            {% if board.board_type == 'travel' %}
            <a href="/post/review?board_ids=37&related_post_id={{post.id}}"
              class="btn btn-sm btn-secondary p-1 px-2">
              <i class="fi fi-rr-star"></i> 후기검색
            </a>
            {% if account.account_type in 'user,dame' %}
            <a href="/post/write_post?review_post_id={{ post.id }}"
              class="btn btn-sm btn-secondary p-1 px-2">
              <i class="fi fi-rr-comment-alt-dots"></i> 후기 작성
            </a>
            {% endif %}
            {% endif %}
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; white-space: nowrap;" class="mt-4">
          <div style="display: inline-block; text-align: left;">
            <p class="text-black">
              {% if board.board_type == 'anonymous' %}
              익명 사용자
              {% else %}
              <span class="me-2">{{post.author.nickname}}</span>
              {% if post.author.account_type in 'user,dame' %}
              {% include 'components/other/level_badge.html' with level=post.author.level %}
              {% endif %}
              {% endif %}
            </p>
          </div>
          <div style="display: inline-block; text-align: right;">
              <small class="text-black-50">
                {{post.created_at}}
              </small>
          </div>
      </div>
      </div>

      <!-- 게시글 내용 -->
      <div class="my-4">
        <div style="min-height: 200px;">
          {{post.content|safe}}
        </div>
      </div>

      <!-- 쿠폰 정보 -->
      <div class="my-4">
        {% if post.include_coupons|length > 0 %}
        {% with coupon=post.include_coupons.0 %}
        <div class="p-3 border shadow" style="cursor: pointer;" onclick="{% if account.account_type in 'user,dame' %}receiveCoupon('{{post.id}}'){% endif %}">
          <div style="display: flex; justify-content: space-between; white-space: nowrap;">
              <div style="display: inline-block; text-align: left;">
                  <span class="text-black-60 mb-4 h6">
                      {{coupon.name}} 
                      {% if coupon.status == 'active' %}
                      <span class="badge bg-success">
                        {{post.include_coupons|length}}개 남음
                      </span>
                      {% endif %}
                  </span>
                  <a href="/post/post_view?post_id={{coupon.related_post.id}}&board_ids={{coupon.related_post.board_ids}}">
                    <p class="text-black-50 small m-0">
                      여행지: {{coupon.related_post.title}}
                    </p>
                  </a>
                  <p class="text-black-50 small">
                      사용기간: {{coupon.expire_at}}까지
                  </p>
              </div>
              <div style="display: inline-block; text-align: right;">
                  <p class="text-black-50">
                      <i class="fi fi-ss-coins"></i> <span class="numberComma">
                          {{coupon.required_mileage}}
                      </span> 마일리지 필요
                  </p>
              </div>
          </div>
        </div>
        {% endwith %}
        {% endif %}
      </div>

      <!-- 댓글 작성 폼 -->
      {% if board.board_type == 'qna' %}
      {% if commentable %}
      {% with commentable=true comment_form_title='답변' placeholder='답변을 작성해주세요.' button_text='<i class="fi fi-rr-edit"></i> 답변 작성' commentable=commentable %}
      {% include 'components/main/post_view/comment/comment_form.html' %}
      {% endwith %}
      {% else %}
      <div class="border-bottom my-4"></div>
      {% endif %}
      {% elif board.board_type != 'travel' %}
      {% with commentable=true comment_form_title='댓글' placeholder='댓글을 작성해주세요.' button_text='<i class="fi fi-rr-edit"></i> 댓글 작성' commentable=commentable %}
      {% include 'components/main/post_view/comment/comment_form.html' %}
      {% endwith %}
      {% endif %}

      <!-- 댓글 목록 -->
      {% if comments|length == 0 and board.board_type != 'travel' %}
      <p>
        {% if board.board_type == 'qna' %}
        아직 답변이 없습니다.
        {% else %}
        아직 댓글이 없습니다.
        {% endif %}
      </p>
      {% endif %}
      <ul class="list-unstyled mt-3">
        {% for comment in comments %}
        {% include 'components/main/post_view/comment/comment_list.html' %}
        {% endfor %}
      </ul>

      <!-- 맨 위로 가기 버튼 -->
      <div class="text-end">
        {% include 'components/main/top_button.html' %}
      </div>

    </div>

  </div>

  <!-- 오른쪽 사이드바 -->
  {% include 'components/aside/aside_right.html' %}

</main>

<script>

receiveCoupon = async (post_id) => {
  var formData = new FormData();
  formData.append('post_id', post_id);

  var success = await fetch('/api/api_coupon_receive', {
    method: 'POST',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    body: formData
  })
  .then((response) => response.json())
  .then(data => data.success);

  if (success) {
    await showAlert('쿠폰 수령 성공', '쿠폰 수령이 완료되었습니다.', 'success');
    location.reload();
  } else {
    await showAlert('쿠폰 수령 실패', '쿠폰 수령에 실패했습니다. 쿠폰이 없거나 마일리지가 부족합니다.', 'error');
  }
}

  likePost = async () => {
    var formData = new FormData();
    formData.append('post_id', '{{ post.id }}');

    await fetch('/api/post', {
      method: 'PATCH',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: formData
    })
    location.reload();
  }

  deletePost = async () => {


    // 댓글 삭제 확인
    var isDelete = await Swal.fire({
      html: `
            <div>
                <div class="text-center py-4">
                    <h1 class="text-dark">
                        게시글 삭제
                    </h1>
                </div>
                <diV class="text-center">
                    <p class="text-black-50">
                        게시글을 삭제하시겠습니까?
                    </p>
                </div>
            </div>`,
      icon: `warning`,
      showConfirmButton: true,
      confirmButtonText: `삭제하기`,
      confirmButtonColor: `#f25767`,
      showCancelButton: true,
      cancelButtonText: `취소`,
      cancelButtonColor: `#929ea8`
    })
      .then((result) => {
        if (result.isConfirmed) {
          return true;
        }
        return false;
      });
    if (!isDelete) {
      return;
    }

    await fetch('/api/delete_post?post_id={{ post.id }}')
    .then((response) => response.json())
    .then(data => console.log(data));

    await showAlert('삭제 성공', '게시글 삭제가 완료되었습니다.', 'success');

    location.href = '/post?board_ids={{ request.GET.board_ids }}';
  }

</script>

{% endblock %}