{% extends 'base/base.html' %}
{% block content %}
<main class="container" style="display: flex; align-items: flex-start;">

  <!-- 왼쪽 사이드바 -->
  {% include 'components/aside/aside_left.html' %}

  <div class="main-section px-5" style="flex: 1;">

    <div style="min-height: 300px;">

      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      {% include 'components/main/title_section.html' with title='후기' subtitle='여행 후기를 작성해보세요.' %}


      <!-- best reviews -->
      <div class="row mb-5 border rounded p-3">
        <div class="col-4 col-lg-4">
          <div style="border-bottom: 1px solid gainsboro;" class="mb-3">
            <h6 class="text-black-60">
              오늘의 베스트 후기
            </h6>
          </div>
          <h6 class="mb-3 text-black-60"></h6>
          {% if today_reviews|length == 0 %}
          <p>오늘의 추천 후기가 없습니다.</p>
          {% else %}
          {% for post in today_reviews %}
          {% include 'parts/simplified_board_type.html' %}
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-12 col-lg-4">
          <div style="border-bottom: 1px solid gainsboro;" class="mb-3">
            <h6 class="text-black-60">
              이번주 베스트 후기
            </h6>
          </div>
          {% if weekly_reviews|length == 0 %}
          <p>오늘의 추천 후기가 없습니다.</p>
          {% else %}
          {% for post in weekly_reviews %}
          {% include 'parts/simplified_board_type.html' %}
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-12 col-lg-4">
          <div style="border-bottom: 1px solid gainsboro;" class="mb-3">
            <h6 class="text-black-60">
              이번달 베스트 후기
            </h6>
          </div>
          {% if monthly_reviews|length == 0 %}
          <p>오늘의 추천 후기가 없습니다.</p>
          {% else %}
          {% for post in monthly_reviews %}
          {% include 'parts/simplified_board_type.html' %}
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <!-- 게시글 목록 -->
      <div class="row">

        {% if posts|length == 0 %}
        <p>
          아직 게시글이 없습니다.
        </p>
        {% endif %}
        {% for post in posts %}
        {% include 'components/main/post_list/post_list_normal.html' %}
        {% endfor %}

      </div>

    </div>

    <!-- 검색 영역 -->
    {% include 'components/main/search_bar.html' %}

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

  <!-- 오른쪽 사이드바 -->
  {% include 'components/aside/aside_right.html' %}

</main>

<script>

  window.addEventListener('load', () => {

    // pagination
    // 만약 contexts에서 lastpage를 받았고, pagination 컴포넌트가 있다면, 페이지네이션을 생성합니다.
    if ('{{last_page}}' && document.querySelector('#pageButton')) {
      makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/post/review?search=`);
    }
  });

</script>

{% endblock %}