{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/left_aside_main.html' %}
</aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}

    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
      <div style="display: inline-block; text-align: left;">
        <p class="mt-5">
          {% for board in post.boards %}
          {{ board.name }} {% if forloop.counter < post.boards|length  %} &gt; {% endif %}
          {% endfor %}
        </p>
        <h5>
          {{post.title}}
          {% if account.id == post.author.id %}
          <a href="/partner/rewrite_post" class="text-black-50 small">
            <i class="fi fi-rr-edit"></i>
          </a>
          {% endif %}
        </h5>
        <p class="small mt-1">
          <span>
            <i class="fi fi-rr-calendar"></i> {{ post.created_at }}
          </span>
          <span class="ms-3">
            <i class="fi fi-rr-user"></i> {{ post.author.partner_name }}
          </span>
        </p>
      </div>
      <div style="display: inline-block; text-align: right;">
        <p class="m-0 text-end text-black-50" style="font-size: 14px;">
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-eye"></i> {{ post.view_count }}
          </span>
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-comment-alt-dots"></i> {{ post.comments|length }}
          </span>
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-social-network"></i> {{ post.like_count }}
          </span>
        </p>
        {%  if post.author.id != account.id %}
        {% if bookmarkable %}
        <a href="javascript: bookmark()"
          class="btn btn-sm btn-success mt-2 p-1 px-2">
          <i class="fi fi-rr-star"></i> 즐겨찾기
        </a>
        {% else %}
        <a href="javascript: bookmark()"
          class="btn btn-sm btn-success mt-2 p-1 px-2">
          <i class="fi fi-rr-star-filled"></i> 즐겨찾기 해제
        </a>
        {% endif %}
        <a href="/post/write_post?review_post_id={{ post.id }}"
          class="btn btn-sm btn-primary mt-2 p-1 px-2">
          <i class="fi fi-rr-comment-alt-dots"></i> 리뷰 작성
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- 게시글 내용 -->
  <div class="my-4">
    <div style="min-height: 200px;">
      <div id="viewer"></div>
    </div>
  </div>

  <!-- 댓글 작성 -->
  <div class="mt-5 mb-3 pb-3 border-bottom">
    <div class="d-flex w-100">
      <div class="d-flex w-100">
        <p class="text-dark">
          댓글
        </p>
      </div>
      <div class="d-flex w-100 flex-row-reverse">
        <p class="m-0 text-end text-black-50" style="font-size: 14px;">
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-eye"></i> {{ post.view_count }}
          </span>
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-comment-alt-dots"></i> {{ post.comments|length }}
          </span>
          <span class="me-1" style="white-space: nowrap;">
            <i class="fi fi-rr-social-network"></i> {{ post.like_count }}
          </span>
        </p>
      </div>
    </div>
    <textarea id="commentInput" class="form-control" rows="3"
      placeholder="건전한 인터넷 문화 조성을 위해 댓글 작성 시 주의해주세요.">
    </textarea>
    {% if commentable %}
    <button class="btn mt-4 pastel-pink-background text-dark fw-semibold" onclick="writeComment('{{ post.id }}', document.getElementById('commentInput').value);">
      댓글 작성
    </button>
    {% else %}
    <button class="btn btn-primary mt-4" disabled>댓글 작성</button>
    {% endif %}

  </div>

  <!-- 댓글 목록 -->
  <ul class="list-unstyled mt-5">
    {% if comments|length < 1 %} <li>
      <p>
        댓글이 없습니다.
      </p>
      </li>
      {% else %}
      {% for comment in comments %}
      {% include 'parts/comment_list.html' %}
      {% endfor %}
      {% endif %}
  </ul>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;">
  {% include 'parts/right_aside_main.html' %}
</aside>

<script src="https://cdn.jsdelivr.net/npm/xzoom/dist/xzoom.min.js"></script>
<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);
  }

  const viewer = new toastui.Editor.factory({
    el: document.querySelector('#viewer'),
    viewer: true,
    height: '500px',
    initialValue: `{{ post.content }}`,
  });

  bookmark = async () => {
    // 북마크 토글 요청
    await fetch('/api/like_post?post_id={{post.id}}')
    .then(response => response.json())
    .then(data => {
      console.log(data);
    });
    location.reload();
  }
</script>

{% endblock %}