<div class="row mb-3">
    <div class="d-none d-lg-block">
        {% for banner in banners %}
        <div class="p-1 {%if banner.size == 'full' %}col-12{% else %}col-6{% endif %}">
            <a href="{{ banner.link }}" target="_blank">
                <img class="w-100 shadow-sm" src="{{ banner.image }}">
            </a>
        </div>
        {% endfor %}
    </div>

    <div id="{{bannerCaouselName}}" data-ride="carousel" class="carousel slide d-lg-none">
        <ol class="carousel-indicators">
            {% for banner in banners %}
            <li data-bs-target="#{{bannerCaouselName}}" data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="w-100 shadow-sm" src="{{ banner.image }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#{{bannerCaouselName}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#{{bannerCaouselName}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

</div>