<!--
    top_button.html
    이 컴포넌트는 페이지의 최상단으로 이동하는 버튼을 표시하는 컴포넌트 입니다.
    페이지의 최상단으로 이동하는 버튼을 표시합니다.
-->

<div class="row mb-3">
    <div class="col-12 p-1">
        <a href="{{ banner.link }}" target="_blank">
            <div class="w-100 shadow-sm"
                style="height: 150px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
        </a>
    </div>
    <div class="col-12 col-md-6 p-1">
        <a href="{{ banner.link }}" target="_blank">
            <div class="w-100 shadow-sm"
                style="height: 150px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
        </a>
    </div>
    <div class="col-12 col-md-6 p-1">
        <a href="{{ banner.link }}" target="_blank">
            <div class="w-100 shadow-sm"
                style="height: 150px; background: black url('{{ banner.image }}') center/cover no-repeat;"></div>
        </a>
    </div>
</div>