
<textarea id="{{id}}"></textarea>
<script>
    // 아래 기능만 메뉴에 활성화
    // 폰트 사이즈, 볼드, 이탤릭, 밑줄, 정렬, 테이블, 이미지, 구분선
    $(document).ready(function () {
        $('#{{id}}').summernote({
            tabsize: 2,
            height: parseInt('{{ height }}'),
            toolbar: [
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['para', ['paragraph']],
                ['table', ['table']],
                ['insert', ['hr', 'picture']],
            ]
        });
        $('#{{id}}').summernote({
            callbacks: {
                onImageUpload: function(files) {
                let index = 0;

                function uploadNext() {
                    if (index < files.length) {
                    let file = files[index];
                    let reader = new FileReader();
                    reader.onload = function(e) {
                        $('#summernote').summernote('insertImage', e.target.result);
                        index++;
                        uploadNext(); // 순차적으로 이미지 삽입
                    };
                    reader.readAsDataURL(file);
                    }
                }
                uploadNext(); // 첫 번째 이미지 업로드 시작
                }
            }
        });
    });

</script>