
<textarea id="{{id}}"></textarea>
<script>
    $(document).ready(function () {
        $('#{{id}}').summernote({
            tabsize: 2,
            height: 500,
            toolbar: [
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['para', ['paragraph']],
                ['table', ['table']],
                ['insert', ['hr', 'picture']],
            ],
            callbacks: {
                onImageUpload: function(files) {
                    let index = 0;

                    function uploadNext() {
                        if (index < files.length) {
                            let file = files[index];
                            let reader = new FileReader();

                            reader.onload = function(e) {
                                let imgNode = $('<img>').attr('src', e.target.result).css({
                                    'display': 'block',
                                    'width': '100%',
                                    'height': 'auto',
                                });

                                $('#content').summernote('insertNode', imgNode[0]);

                                index++;
                                uploadNext(); // 순차적으로 이미지 삽입
                            };

                            reader.readAsDataURL(file);
                        }
                    }

                    uploadNext(); // 첫 번째 이미지 업로드 시작
                }
            }
        });
    });
</script>
