
<textarea id="content"></textarea>
<script>
    // 아래 기능만 메뉴에 활성화
    // 폰트 사이즈, 볼드, 이탤릭, 밑줄, 정렬, 테이블, 이미지, 구분선
    $(document).ready(function () {
        $('#content').summernote({
            tabsize: 2,
            height: parseInt('{{ height }}'),
            toolbar: [
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['para', ['paragraph']],
                ['table', ['table']],
                ['insert', ['hr', 'picture']],
            ]
        });
    });
</script>