<!--
    pagination.html
    이 컴포넌트는 페이지네이션을 표시하는 컴포넌트 입니다.

    페이지네이션은 자동으로 생성됩니다.
-->

<div id="pageButton"></div>

<script>
    // 페이지 버튼 생성(pagenation)
    // 페이지네이션이 필요한 페이지에서 사용
    makePaegeButton = (page, lastPage, url) => {
        if (page == '') {
            page = 1;
        } else {
            page = parseInt(page);
        }
        nowPage = page;
        lastPage = parseInt(lastPage);

        pageButtonsBox = document.getElementById('pageButton');
        html = '';
        pages = [
            page - 2,
            page - 1,
            page,
            page + 1,
            page + 2
        ];
        html += '<ul class="pagination mt-6 justify-content-center">';
        if (pages[0] > 1) {
            html += `<li class="page-item">
      <a class="page-link" href="${url}&page=1">처음</a>
    </li>`;
        }
        for (var i = 0; i < pages.length; i++) {
            page = pages[i];
            if (page < 1 || page > lastPage) {
                continue;
            } else if (nowPage == page) {
                html += `<li class="page-item active">
        <a class="page-link" href="#">${page}</a>
      </li>`;
            } else {
                html += `<li class="page-item">
        <a class="page-link" href="${url}&page=${page}">${page}</a>
      </li>`;
            }
        }
        if (page < lastPage) {
            html += `<li class="page-item">
      <a class="page-link" href="${url}&page=${lastPage}">마지막</a>
    </li>`;
        }
        html += '</ul>';

        pageButtonsBox.innerHTML = html;
    }
</script>