<div class="border p-3 mb-5 shadow">
    <a href="/profile?profile_id={{profile_id}}" class="text-dark text-decoration-none">
        <div style="display: flex; justify-content: space-between; white-space: nowrap;">
            <div style="display: inline-block; text-align: left;">
                <span class="text-black-50 me-1" style="font-size: 14px;">
                    {% if 'supervisor' in profile.account_type %}
                    관리자
                    {% elif 'subsupervisor' in profile.account_type %}
                    하위 관리자
                    {% elif 'partner' in profile.account_type %}
                    파트너
                    {% elif 'dame' in profile.account_type %}
                    여성회원
                    {% else %}
                    일반회원
                    {% endif %}
                </span>
                <p>
                    {{profile.nickname}}
                </p>
            </div>
            <div style="display: inline-block; text-align: right;">
                <p class="m-0 text-end text-black-50">
                    {% if profile.status == 'active' %}
                    <span class="badge bg-success">정상</span>
                    {% elif profile.status == 'pending' %}
                    <span class="badge bg-warning">대기</span>
                    {% elif profile.status == 'blocked' %}
                    <span class="badge bg-danger">정지</span>
                    {% elif profile.status == 'deleted' %}
                    <span class="badge bg-secondary">탈퇴</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </a>
    {% if profile.account_type in 'user,dame' %}
    <div class="row mt-4">
        <div class="col-6">
            <p class="text-dark">
                경험치 
                {% if 'user' in  account.subsupervisor_permissions %}
                <a class="text-black-50" href="javascript: new bootstrap.Modal(document.getElementById('updateExpModal')).show();">
                    <i class="fi fi-rr-edit"></i>
                </a>
                {% endif %}
            </p>
            <p class="text-black-50">
                <i class="fi fi-ss-coins"></i>
                <span class="numberComma">
                    {{profile.exp}}
                </span> Exp
                {% include 'components/other/level_badge.html' with level=profile.level %}
            </p>
        </div>
        <div class="col-6">
            <p class="text-dark">
                마일리지 
                {% if 'user' in  account.subsupervisor_permissions %}
                <a class="text-black-50" href="javascript: new bootstrap.Modal(document.getElementById('updateMileageModal')).show();">
                    <i class="fi fi-rr-edit"></i>
                </a>
                {% endif %}
            </p>
            <p class="text-black-50">
                <i class="fi fi-ss-coins text-secondary"></i>
                <span class="numberComma">
                    {{profile.mileage}}
                </span> <small class="me-2">마일리지</small>
            </p>
        </div>
    </div>
    <div class="alert alert-info small">
        <i class="fi fi-rr-info"></i> 포인트는 게시글 또는 댓글 작성, 출석 체크 등 활동에 따라 적립되며, 사용자 등급 상승 및 쿠폰 구매에 사용됩니다.
    </div>
    {% endif %}

</div>
