<!--
    title_section.html
    이 컴포넌트는 페이지의 제목을 표시하는 컴포넌트 입니다.

    페이지의 제목과 부제목이 있는 경우, 부제목도 함께 표시합니다.

    외부에서 제목과 부제목을 받아서 표시합니다.
-->

<div class="mb-5 pb-2 border-bottom">
    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
        <div style="display: inline-block; text-align: left;">
            <h5 class="text-black-60">
                {{ title }}
            </h5>
            <p class="small text-black-50">
                {{ subtitle }}
            </p>
        </div>
        <div style="display: inline-block; text-align: right;">
            <!-- 뒤로가기 버튼을 표시할까 말까 -->
            {% if back_url %}
            <a href="{{ back_url }}" class="btn btn-outline-primary">
                <i class="fi fi-rr-arrow-left"></i>
                뒤로가기
            </a>
            {% endif %}
        </div>
    </div>
</div>