<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
<link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<div class="form-group">
    <label>내용</label>
    <i class="fi fi-rr-align-left"></i>
    <i class="fi fi-rr-align-center"></i>
    <i class="fi fi-rr-align-right"></i>
    <div id="{{editor_id}}Edit"></div>
    <div class="d-none" id="{{editor_id}}View"></div>
</div>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#{{editor_id}}Edit'),
        height: '{{editor_height}}px',
        initialEditType: 'wysiwyg',
        initialValue: '{{editor_initial_value}}',
        previewStyle: 'vertical',
        hideModeSwitch: true,
        language: 'ko-KR'
    });
</script>