<div class="modal fade" id="{{ to_modify_category.id }}CategoryEditModal" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ to_modify_category.name }} 수정</h5>
                <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">

                <!-- 게시판 이름 -->
                <div class="form-group mb-4">
                    <label>새 이름</label>
                    <input class="form-control" id="{{ to_modify_category.id }}CategoryName"
                        value="{{ to_modify_category.name }}">
                </div>

                <!-- 표시 가중치 -->
                <div class="form-group mb-2">
                    <label>표시 가중치</label>
                    <input type="number" class="form-control" id="{{ to_modify_category.id }}CategoryWeight"
                        value="{{ to_modify_category.display_weight }}">
                </div>

                <div class="alert alert-info small mt-2">
                    <i class="fi fi-rr-info"></i> 카테고리 수정 시 일부 페이지에 카테고리가 표시되지 않을 수 있습니다. 모바일 페이지와 백엔드 설정을 업데이트해주세요.
                </div>

            </div>
            <div class="modal-footer">
                <button  class="btn btn-primary me-2"
                    onclick="updateCategory('{{ to_modify_category.id }}');" data-bs-dismiss="modal">
                    <i class="fi fi-rr-edit"></i> 수정하기</button>
                <button  class="btn btn-danger me-2"
                    onclick="deleteCategory('{{ to_modify_category.id }}');" data-bs-dismiss="modal">
                    <i class="fi fi-rr-trash"></i> 삭제하기</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>