<div class="modal fade" id="editLevel{{level.level}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    레벨 정책 수정
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">

                <form id="editLevelForm{{level.level}}">
                    {% csrf_token %}

                    <input type="hidden" name="level" value="{{ level.level }}">

                    <!-- 대표 이미지 -->
                    <div class="mb-4">
                        <label>
                            레벨 이미지 {{level}}
                        </label>
                        <div id="imageInput{{ level.level }}Preview" class="mb-3">
                            <div class="mb-2 me-2 shadow-sm text-end p-2"
                                style="min-width: 150px; width: 12vw; background: url('{{ level.image }}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw; cursor: pointer;">
                            </div>
                        </div>
                        <a href="javascript: document.getElementById('imageInput{{ level.level }}').click();" class="btn btn-success btn-sm small">
                            <i class="fi fi-rr-picture"></i> 이미지 등록
                        </a>
                        <input type="file" class="d-none" id="imageInput{{ level.level }}" name="image">
                        <div class="alert alert-info small mt-2">
                            <i class="fi fi-rr-info"></i> 레벨 뱃지 이미지를 업로드하면 텍스트는 표시되지 않습니다.
                        </div>
                    </div>
                    <script>
                        // 대표 이미지 추가
                        document.getElementById('imageInput{{ level.level }}').addEventListener('change', async (e) => {
                            const files = e.target.files;

                            for (let i = 0; i < files.length; i++) {
                                const file = files[i];
                                const reader = new FileReader();
                                reader.onload = (e) => {
                                    const imagePath = e.target.result;
                                    document.getElementById('imageInput{{ level.level }}Preview').innerHTML = `
                            <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('${imagePath}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw; cursor: pointer;"></div>
                            `;
                                }
                                reader.readAsDataURL(file);
                            }
                        });
                    </script>

                    <!-- 레벨 텍스트 및 필요 경험치량 -->
                    <div class="row mb-4">
                        <div class="form-group col-6">
                            <label>레벨 텍스트</label>
                            <input class="form-control" placeholder="레벨 텍스트를 입력하세요." id="levelText{{level.level}}" name="text" value="{{ level.text }}">
                        </div>
                        <div class="form-group col-6">
                            <label>필요 경험치</label>
                            <input type="number" class="form-control" placeholder="필요 경험치를 입력하세요." id="levelExp{{level.level}}" name="exp" value="{{ level.required_exp }}">
                        </div>
                    </div>

                    <!-- 레벨 텍스트 색상 -->
                    <div class="form-group mb-4">
                        <label>레벨 텍스트 색상</label>
                        <input class="form-control" placeholder="레벨 텍스트 색상을 입력하세요." id="levelTextColor{{level.level}}"
                            name="text_color" value="{{ level.text_color }}">
                    </div>

                    <!-- 레벨 배경 색상 -->
                    <div class="form-group mb-4">
                        <label>레벨 배경 색상</label>
                        <input class="form-control" placeholder="레벨 배경 색상을 입력하세요." id="levelBackgroundColor{{level.level}}"
                            name="background_color" value="{{ level.background_color }}">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="editLevel('{{ level.level }}');">
                    <i class="fi fi-rr-edit"></i> 수정하기
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>