<!--
    view_coupon.html
    이 컴포넌트는 쿠폰을 보여주는 모달을 표시하는 컴포넌트 입니다.

    쿠폰을 보여주는 모달은 쿠폰의 정보를 보여줍니다.
    - 쿠폰 이미지
    - 쿠폰 코드
    - 쿠폰 이름
    - 쿠폰 정보
    - 쿠폰 필요 포인트
    - 쿠폰 사용 가능 기간
    - 쿠폰 대상 여행지 게시글 제목과 링크

    coupon = {
        'id': '쿠폰 아이디',
        'image': '쿠폰 이미지 String.',
        'code': '쿠폰 코드 String.',
        'name': '쿠폰 이름 String.',
        'content': '쿠폰 정보 String. Toastful 에디터로 작성된 HTML.',
        'point': '쿠폰 필요 포인트 Integer.',
        'expired_at': '쿠폰 사용 가능 기간 String(YYYY-MM-DD HH:MM).',
        'post': { # 쿠폰 대상 여행지 게시글 정보.
            'id': '쿠폰 대상 여행지 게시글 아이디 Integer.',
            'title': '쿠폰 대상 여행지 게시글 제목 String.',
        },
    }
-->