{% extends 'base/main_base.html' %}
{% block content %}
<!-- 왼쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<!-- 중앙 섹션 -->
<section class="main-section px-5 px-lg-1" style="flex: 1; min-height: 100vh;">

  <!-- 제목 -->
  <div class="mt-4 mb-5">
    {% include 'parts/goback.html' %}
    <h5 class="mt-5">
      사용자 활동
    </h5>
    <p>
      사용자의 활동 내역을 확인할 수 있습니다.
    </p>
  </div>

  <!-- 제목 -->
  <div class="btn-group w-100 mb-4">
    <div class="w-100 d-flex justify-content-center rounded-2 pastel-pink-background">
      <a class="w-100 btn text-dark fw-semibold" href="/profile?profile_id={{ profile.id }}" id="profileTab">
        프로필
      </a>
    </div>
    <span class="divider"></span>
    <div class="w-100 d-flex justify-content-center rounded-2 pastel-beige-background">
      <a class="w-100 btn" href="/activity?profile_id={{ profile.id }}" id="activityTab">
        활동 기록
      </a>
    </div>
  </div>

  <!-- 프로필 카드 -->
  {% include 'parts/profile_card.html' %}

  <!-- 통계 -->
  <div class="rounded border p-3 my-5 shadow">
    <p>
      <i class="fi fi-rr-stats"></i> 통계
    </p>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>출석체크</th>
          <th>후기 작성</th>
          <th>게시글 작성</th>
          <th>댓글 작성</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{status.total_attend}} 회</td>
          <td>{{status.review_count}} 회</td>
          <td>{{status.post_count}} 회</td>
          <td>{{status.comment_count}} 회</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% if activities|length == 0 %}
  <p>
    사용자 활동 내역이 없습니다.
  </p>
  {% else %}
  {% for act in activities %}
  <!-- 활동 내역. 일시, 메세지, 포인트 변동 표시 -->
  <div class="col-12 p-2 mb-2 pb-3 border-bottom">

    <span class="text-black-50" style="font-size: 12px;">
      {{ act.created_at }}<br>
    </span>
    <p class="mb-2 text-dark">
      {{ act.message }}
    </p>
    <span class="text-black-50" style="font-size: 12px;">
      {% if act.mileage_change > 0 %}
      <i class="fi fi-ss-coins"></i> <span class="numberComma">{{ act.mileage_change }}</span> 마일리지
      <span class="me-2"></span>
      {% endif %}
      {% if act.exp_change > 0 %}
      <i class="fi fi-ss-coins text-secondary"></i> <span class="numberComma">{{ act.exp_change }}</span> Exp
      {% endif %}
    </span>

  </div>
  {% endfor %}
  {% endif %}

  <!-- 페이지 버튼 -->
  <div id="pageButton"></div>

  <!-- 맨 위로 버튼 -->
  <div class="text-end">
    <button class="btn text-white m-0" id="topBtn" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" style="background-color: rgb(184, 184, 184);">
      Top <i class="fi fi-rr-arrow-up"></i>
    </button>
  </div>

</section>

<!-- 오른쪽 사이드바 -->
<aside class="d-none d-lg-block" style="width: 320px;"></aside>

<script>

  window.onload = () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Page
    console.log('{{request.GET.page}} | {{last_page}}');
    makePaegeButton('{{request.GET.page}}', '{{last_page}}', `/activity?search=`);
  }

</script>

{% endblock %}