<!DOCTYPE html>
<html lang="ko" data-bs-theme="light">
{% load static %}
{% csrf_token %}

<head>

  <meta name="robots" content="noindex, nofollow">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>로그인</title>

  <!-- FAVICON
  ================================================== -->
  <link rel="icon" type="image/png" href="{{server.favicon}}">

  <!-- CSS
  ================================================== -->
  <link href="/static/travelertalk/css/style.css" rel="stylesheet">
  <link href="/static/travelertalk/css/custom.css" rel="stylesheet">
  <link rel='stylesheet' href='/static/travelertalk/css/calendarwidget.css'>
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

  <!-- JS
  ================================================== -->
  <script src="/static/travelertalk/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/travelertalk/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/travelertalk/vendor/timezz/timezz.js"></script>
  <script src="/static/travelertalk/js/theme.js"></script>
  <script src="/static/travelertalk/js/color-modes.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/travelertalk/js/custom.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/static/travelertalk/js/calendarwidget.js"></script>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>

</head>

<body style="word-break: keep-all;" class="theme-light bg-white">

  <!-- PAGE LOADING -->
  {% include 'parts/preloader.html' %}

  <!-- MAIN WRAPPER
  ================================================== -->
  <div class="wrapper">

    <div class="d-none">
      {% include 'parts/header_main.html' %}
    </div>

    <!-- MAIN SECTION
    ================================================== -->
    <main class="mt-2" style="display: flex; align-items: center; justify-content: center;">

      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
          <div class="col-12 col-lg-8 border shadow p-5">
            <div class="container">
              <div class="my-5">
                <h4 class="mt-4">관리자 페이지</h4>
                <p>
                  관리자 계정 확인을 위해 한번 더 로그인해주세요.
                </p>
              </div>
              <div class="row" onkeyup="if(event.keyCode == 13) tryLogin();">
                <div class="col-12 mb-2">
                  <div class="form-group text-start">
                    <label>
                      아이디
                    </label>
                    <input class="form-control accountLoginId" placeholder="아이디를 입력해주세요">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group text-start">
                    <label>
                      비밀번호
                    </label>
                    <input type="password" class="form-control accountLoginPassword" placeholder="비밀번호를 입력해주세요">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 mb-5 center">
                  <button onclick="tryLogin();" class="btn btn-primary">
                    로그인
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

  </div>
  <script>

  </script>

</body>

</html>