<!--
    create_coupon.html
    이 컴포넌트는 쿠폰을 생성하는 모달을 표시하는 컴포넌트 입니다.

    쿠폰을 생성하기 위한 입력창을 제공합니다.
    - 쿠폰 대상 여행지 게시글 아이디
    - 쿠폰 코드(랜덤 코드 생성 버튼을 클릭하면 자동으로 코드를 생성할 수 있음)
    - 쿠폰 이름
    - 쿠폰 정보(wysiwyg 에디터)
    - 쿠폰 필요 포인트(쿠폰을 사용하기 위해 필요한 포인트)
    - 쿠폰 사용 가능 기간(시작일, 종료일)

    쿠폰 생성 API를 호출하여 쿠폰을 생성합니다.
    /api/coupon POST 요청을 보내어 쿠폰을 생성합니다.
-->
<div class="modal fade" id="writeCouponModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    새 쿠폰 생성하기
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="couponWriteForm">
                    {% csrf_token %}

                    <!-- 대표 이미지 -->
                    <div class="mb-4">
                        {% include 'components/other/upload_image.html' with label='이미지 첨부' id='imageInput' %}
                    </div>

                    <!-- 여행지 게시글 선택 -->
                    <div class="row mb-4">
                        <div class="form-group col-8">
                            <label for="newPostId">여행지 아이디</label> <small id="postConfirmText"></small>
                            <input type="number" class="form-control" placeholder="여행지 게시글 아이디" id="newPostId" name="post_id" oninput="checkPostId(this)">
                        </div>
                        <div class="form-group col-4">
                            <label for="couponCount">쿠폰 수량</label>
                            <input class="form-control" placeholder="쿠폰 수량" name="count" value="1" type="number" id="couponCount" oninput="checkCouponCount(this)">
                        </div>
                        <div class="form-group">
                            <div class="alert alert-info small mt-2">
                                <i class="fi fi-rr-info"></i> 쿠폰을 발급한 게시글의 개시글 아이디를 입력해주세요.(url에서 확인 가능). 쿠폰 수량이 여러개인 경우, 코드는 자동으로 생성됩니다.
                            </div>
                        </div>
                    </div>

                    <!-- code -->
                    <div class="form-group mb-4" id="couponCodeInput">
                        <label for="post_id">쿠폰 코드</label>
                        <a href="javascript: codeRoll();">
                            <i class="fi fi-rr-refresh"></i>
                        </a>
                        <small id="codeConfirmText"></small>
                        <input class="form-control" placeholder="쿠폰 코드를 입력해주세요." id="newCouponCode" name="code">
                    </div>

                    <!-- name -->
                    <div class="form-group mb-4">
                        <label>쿠폰 이름</label>
                        <input class="form-control" placeholder="쿠폰 이름을 입력해주세요." id="newCouponName" name="name"
                            required>
                    </div>

                    <!-- content -->
                    <div class="form-group mb-4">
                        <label>쿠폰 설명</label>
                        <textarea class="form-control" rows="5" placeholder="쿠폰 설명을 입력해주세요." id="newCouponContent"
                            name="content" required></textarea>
                    </div>

                    <!-- 필요 포인트 및 만료일 -->
                    <div class="row mb-2">
                        <div class="form-group col-6">
                            <label>필요 포인트</label>
                            <input class="form-control" placeholder="필요 포인트를 입력해주세요." name="required_mileage" id="newCouponRequirePoint"
                                required>
                        </div>
                        <div class="form-group col-6">
                            <label>만료일</label>
                            <input type="date" class="form-control" name="expire_at" id="newCouponExpireAt" required>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary me-2" onclick="createCoupon()">
                    <i class="fi fi-rr-edit"></i> 생성하기
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    // 쿠폰 수량 확인
    checkCouponCount = async (input) => {
        var count = parseInt(input.value);
        if (count == 1) {
            document.getElementById('couponCodeInput').classList.remove('d-none');
        } else {
            document.getElementById('couponCodeInput').classList.add('d-none');
        }
    }

    // 게시글 유효성 확인
    checkPostId = async (postIdInput) => {
        var postId = postIdInput.value;
        if (postId.length > 0) {
            const data = await fetch('/api/post?post_id=' + postId)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                return data.data;
            });
            if (data.place_info) {
                document.getElementById('postConfirmText').innerHTML = data.title + ' 여행지 확인';
                document.getElementById('postConfirmText').classList.remove('text-danger');
                document.getElementById('postConfirmText').classList.add('text-success');
                return
            }
        }
        document.getElementById('postConfirmText').innerHTML = '게시글을 확인해주세요.';
        document.getElementById('postConfirmText').classList.remove('text-success');
        document.getElementById('postConfirmText').classList.add('text-danger');
    }

    // 새 쿠폰 번호 생성
    // 16자리의 랜덤 숫자를 생성하여 새 쿠폰 생성 모달의 쿠폰 코드 입력창에 채워넣음
    codeRoll = async () => {
        var randomNumber16 = '';
        for (var i = 0; i < 16; i++) {
            if (i % 4 == 0 && i != 0) {
                randomNumber16 += '-';
            }
            randomNumber16 += Math.floor(Math.random() * 10);
        }
        document.getElementById('newCouponCode').value = randomNumber16;
        document.getElementById('codeConfirmText').innerHTML = '사용 가능한 코드입니다.';
        document.getElementById('codeConfirmText').classList.remove('text-danger');
        document.getElementById('codeConfirmText').classList.add('text-success');
        codeOk = true;
    }

    var codeOk = false;
    document.querySelector('#newCouponCode').addEventListener('input', async () => {
        var code = document.getElementById('newCouponCode').value;
        if (code.length > 15) {
            await fetch('/api/search_coupon?code=' + code)
                .then(response => response.json())
                .then(data => {
                    var exist = data.result;
                    if (exist == 'not_exist') {
                        document.getElementById('codeConfirmText').innerHTML = '사용 가능한 코드입니다.';
                        document.getElementById('codeConfirmText').classList.remove('text-danger');
                        document.getElementById('codeConfirmText').classList.add('text-success');
                        codeOk = true;
                    } else {
                        document.getElementById('codeConfirmText').innerHTML = '이미 사용중인 코드입니다.';
                        document.getElementById('codeConfirmText').classList.remove('text-success');
                        document.getElementById('codeConfirmText').classList.add('text-danger');
                        codeOk = false;
                    }
                });
        } else {
            document.getElementById('codeConfirmText').innerHTML = '16자리 이상 입력해주세요.';
            document.getElementById('codeConfirmText').classList.remove('text-success');
            document.getElementById('codeConfirmText').classList.remove('text-danger');
            codeOk = false;
        }
    });

    // 쿠폰 생성
    createCoupon = async () => {
        var post_id = document.getElementById('newPostId').value;
        var code = document.getElementById('newCouponCode').value;
        var name = document.getElementById('newCouponName').value;
        var content = document.getElementById('newCouponContent').value;
        var required_mileage = document.getElementById('newCouponRequirePoint').value;
        var expire_at = document.getElementById('newCouponExpireAt').value;
        var count = document.getElementById('couponCount').value;

        // 쿠폰 코드 확인
        if (!codeOk && count == 1) {
            await showAlert('쿠폰 생성', '쿠폰 코드를 확인해주세요.', 'error');
            return;
        }
        if (name == '' | content == '' | expire_at == '' | required_mileage == '') {
            await showAlert('쿠폰 생성', '쿠폰 이름, 설명, 만료일, 필요 포인트는 필수 입력 사항입니다.', 'error');
            return;
        }

        showAlert('쿠폰 생성', '쿠폰을 생성중입니다. 완료될 때까지 기다려주세요.', 'info');

        // 쿠폰 생성 요청
        var craetedCoupons = 0;
        for(var i = 0; i < count; i++) {
            var formData = new FormData(document.getElementById('couponWriteForm'));
            if (count > 1) {
                codeRoll();
                formData.set('code', document.getElementById('newCouponCode').value);
            }
            console.log(document.getElementById('newCouponCode').value + ' 쿠폰 생성');
            var success = await fetch('/api/coupon', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                return data.success;
            });
            if (success) {
                craetedCoupons++;
            }
        }

        // 결과에 따른 처리
        await showAlert('쿠폰 생성', craetedCoupons + '개의 쿠폰이 생성되었습니다.', 'info');
        location.reload();

    }

    rewriteCoupon = async (couponCode) => {
        var name = document.getElementById('rewriteCouponName' + couponCode).value;
        var content = document.getElementById('rewriteCouponContent' + couponCode).value;
        var required_mileage = document.getElementById('rewriteCouponRequireMileage' + couponCode).value;
        var expire_at = document.getElementById('rewriteCouponExpireAt' + couponCode).value;

        if (name == '' | content == '' | expire_at == '' | required_mileage == '') {
            await showAlert('쿠폰 생성', '쿠폰 이름, 설명, 만료일, 필요 포인트는 필수 입력 사항입니다.', 'error');
            return;
        }

        // 쿠폰 수정 요청
        var form = document.getElementById('couponRewriteForm');
        var formData = new FormData(form);

        var success = await fetch('/api/coupon', {
            method: 'PATCH',
            headers: {
                'X-CSRFToken': csrftoken
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                return data.success;
            });

        // 결과에 따른 처리
        if (success) {
            await showAlert('쿠폰 수정', '쿠폰이 수정되었습니다.', 'success');
            location.reload();
        } else {
            await showAlert('쿠폰 수정 실패', '쿠폰 수정에 실패했습니다.', 'error');
        }

    }

    // 쿠폰 수정(상태)
    rewriteCouponStatus = async (couponCode) => {

        // 쿠폰 수정 요청
        var form = document.getElementById('couponStatusRewriteForm' + couponCode);
        var formData = new FormData(form);

        var data = await fetch('/api/coupon', {
            method: 'PATCH',
            headers: {
                'X-CSRFToken': csrftoken
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                return data;
            });

        // 결과에 따른 처리
        if (data.success) {
            await showAlert('쿠폰 수정', '쿠폰이 수정되었습니다.', 'success');
            location.reload();
        } else if (data.status == 401) {
            await showAlert('사용 처리 실패', '사용자가 충분한 포인트를 가지고 있지 않습니다.', 'error');
        } else {
            await showAlert('쿠폰 수정 실패', '쿠폰 수정에 실패했습니다.', 'error');
        }

    }

    // 쿠폰 회수
    retrieveCoupon = async (code) => {

        var formData = new FormData();
        formData.append('code', code);
        formData.append('own_account_id', '');

        // API 호출
        var success = await fetch('/api/coupon', {
        method: 'PATCH',
        body: formData,
        headers: {
            'X-CSRFToken': csrftoken
        }
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            return data.success;
        });

        // 결과 처리
        if (success) {
            await showAlert('쿠폰 회수', '쿠폰 회수가 완료되었습니다.', 'success');
            location.reload();
        } else {
            await showAlert('쿠폰 회수', '쿠폰 회수에 실패했습니다.', 'danger');
        }
    }

</script>