<!--
    view_coupon.html
    이 컴포넌트는 쿠폰을 보여주는 모달을 표시하는 컴포넌트 입니다.

    쿠폰을 보여주는 모달은 쿠폰의 정보를 보여줍니다.
    - 쿠폰 이미지
    - 쿠폰 코드
    - 쿠폰 이름
    - 쿠폰 정보
    - 쿠폰 필요 포인트
    - 쿠폰 사용 가능 기간
    - 쿠폰 대상 여행지 게시글 제목과 링크

    coupon = {
        'id': '쿠폰 아이디',
        'image': '쿠폰 이미지 String.',
        'code': '쿠폰 코드 String.',
        'name': '쿠폰 이름 String.',
        'content': '쿠폰 정보 String. Toastful 에디터로 작성된 HTML.',
        'point': '쿠폰 필요 포인트 Integer.',
        'expired_at': '쿠폰 사용 가능 기간 String(YYYY-MM-DD HH:MM).',
        'post': { # 쿠폰 대상 여행지 게시글 정보.
            'id': '쿠폰 대상 여행지 게시글 아이디 Integer.',
            'title': '쿠폰 대상 여행지 게시글 제목 String.',
        },
    }
-->
<div class="modal fade" id="couponModal{{coupon.code}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-60">
                    {{coupon.name}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- 쿠폰 정보 -->
                <div class="row">
                    {% if coupon.image %}
                    <div class="col-6">
                        <img src="{{coupon.image}}" class="w-100 shadow">

                    </div>
                    {% endif %}
                    <div class="{% if coupon.image %}col-6{% else %}col-12{% endif %}">
                        <p class="text-black-50 m-0">
                            <span style="font-size: 12px;">
                                <u>
                                    {{coupon.code}}
                                </u>
                                <a href="javascript: navigator.clipboard.writeText('{{coupon.code}}'); showAlert('클립보드 복사', '쿠폰 코드가 복사되었습니다.', 'success');"
                                    class="text-black-50">
                                    <i class="fi fi-rr-clipboard"></i>
                                </a>
                            </span>
                        </p>
                        <p class="text-dark">
                            {{coupon.name}}
                        </p>
                        <p class="text-black-50">
                            {{coupon.content}}
                        </p>
                        <p class="text-black-50" style="font-size: 12px;">
                            <i class="fi fi-rr-marker"></i>
                            <a href="/post/travel_view?post={{coupon.related_post.id}}" target="_blank" class="text-black-50"
                                style="text-decoration: underline;">{{coupon.related_post.title}}
                            </a>
                        </p>
                        <p class="text-black-50 small">
                            사용기한: {{coupon.expire_at}} 까지
                        </p>
                        {% if coupon.required_mileage != 0 %}
                        <div class="alert alert-info small">
                            <i class="fi fi-ss-coins"></i> <span class="numberComma">{{coupon.required_mileage}}</span>
                            마일리지 필요
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!-- 사용자 표시(쿠폰 생성자만 확인 가능) -->
                {% if account.id == coupon.create_account.id %}
                <div class="row mt-3">
                    <div class="col-12">
                        <p class="text-black-60">
                            쿠폰 소유자
                        </p>
                        <div class="my-2">
                            {% if not coupon.own_account %}
                            <p class="text-black-50">
                                쿠폰을 보유한 사용자가 없습니다.
                            </p>
                            {% else %}
                            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                                <div style="display: inline-block; text-align: left;">
                                    <a class="text-black-60" href="{{PARTNER_URL}}/partner/profile?account_id={{account.id}&tab=profileTab}" target="_blank">
                                        {{coupon.own_account.nickname}} <small>({{coupon.own_account.id}})</small>
                                    </a>
                                </div>
                                <div style="display: inline-block; text-align: right;">
                                    {% if coupon.status == 'active' %}
                                    <button type="button" class="btn btn-danger small p-1 px-2" onclick="retrieveCoupon('{{coupon.code}}');">
                                        <i class="fi fi-rr-trash"></i> 회수
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="modal-footer">
                <!-- 쿠폰 수정 버튼(쿠폰 생성자만 확인 가능) -->
                {% if account.id == coupon.create_account.id and coupon.status == 'active' %}
                <button type="button" class="btn btn-primary me-2" data-bs-dismiss="modal"
                    onclick="new bootstrap.Modal(document.getElementById('rewriteCouponModal{{coupon.code}}')).show();">
                    <i class="fi fi-rr-edit"></i> 수정하기
                </button>
                <button type="button" class="btn btn-success me-2" data-bs-dismiss="modal"
                    onclick="new bootstrap.Modal(document.getElementById('rewriteCouponStatusModal{{coupon.code}}')).show();">
                    <i class="fi fi-rr-rotate-right"></i> 상태 변경
                </button>
                {% endif %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    닫기
                </button>
            </div>
        </div>
    </div>
</div>