.pastel-pink-background {
    background-color: #ffbbd3;
}

.pastel-beige-background {
    background-color: #FFF9F0;
}

.pastel-gray-background {
    background-color: #808080;
}

.pastel-white-background {
    background-color: white;
}

.divider {
    width: 16px;
    height: 100%;
    background-color: white;
}

/* 에디터 전체 박스 스타일 변경 */
.note-editor {
    border-radius: 0px;
    background-color: white;
}
/* note-modal 안에 type=file 인 input 태그의 스타일 변경 */
.note-modal input[type=file] {
    border: 1px solid #e3e9ef;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

/*
main {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-bottom: 80px;
}
*/