<!--
    post_list_coupon.html
    이 컴포넌트는 일반 게시글 목록을 표시하는 컴포넌트 입니다.
    리스트 내에서는 게시글 제목, 작성자, 작성 시간, 조회수, 좋아요 수, 댓글 수, 게시판 이름을 보여줍니다.
    추가로 리뷰 게시글일 경우, 리뷰 대상 게시글 제목을 같이 보여줍니다.

    게시글의 요약 정보는 보통 다음과 같은 정보를 포함합니다:
    post = {
        'id': 'post id Integer.',
        'boards': [{ # 게시글이 속한 게시판 리스트.
            'id': 'board id Integer.',
            'name': 'board name String.',
        }],
        'title': 'post title String.',
        'author': { # 게시글 작성자 정보. 만약 여행지 게시글일 경우, partner_name으로 표시해야함.
            'nickname': 'author nickname String.',
            'partner_name': 'author partner name String.',
        },
        'created_at': 'post created time String(YYYY-MM-DD HH:MM).',
        'view_count': 'post view count Integer.',
        'like_count': 'post like count Integer.',
        'comment_count': 'post comment count Integer.',
        'place_info': { # 여행지 게시글일 경우, 여행지 정보를 포함. 아닐 경우 None.
            'categories': [{ # 여행지 게시글이 속한 카테고리 리스트.
                'id': 'category id Integer.',
                'name': 'category name String.',
            }],
            'location_info': 'location info String.', # 간단한 위치 안내.
            'status': 'place status String.', # 상태가 ad일 경우, 광고 뱃지 표시.
        },
        'related_post': { # 리뷰 게시글일 경우, 리뷰 대상 게시글 정보를 포함. 아닐 경우 None.
            'id': 'place post id Integer.',
            'title': 'place post title String.',
        }
    }
-->
<a href="#" class="text-dark text-decoration-none">
    <div style="display: flex; white-space: nowrap;" class="mb-3 pb-3 border-bottom">
        <div style="display: inline-block; text-align: left;">
            <img src="/media/default.png" class="img-fluid rounded img-web shadow m-1"
                style="width: 6vw; min-width: 80px; max-width: 100px;">
        </div>
        <div style="display: inline-block; text-align: left; flex: 1;">
            <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                <div style="display: inline-block; text-align: left;">
                    <div class="ps-3">
                        <p class="text-black-50 small mb-1">
                            <span class="me-2">글 작성자 닉네임</span>
                            {% include 'components/other/level_badge.html' %}
                        </p>
                        <p>
                            게시글 제목
                        </p>
                        <p class="text-black-50 small m-0">
                            2021-01-01 12:00
                        </p>
                    </div>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <p class="m-0 text-end text-black-50" style="font-size: 12px;">
                        <span class="me-1" style="white-space: nowrap;">
                            <i class="fi fi-rr-eye"></i> 100
                        </span>
                        <span class="me-1" style="white-space: nowrap;">
                            <i class="fi fi-rr-social-network"></i> 100
                        </span>
                        <span style="white-space: nowrap;">
                            <i class="fi fi-rr-comment-dots"></i> 100
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>