<!--
    post_list_simplified.html
    이 컴포넌트는 간단하게 게시글 목록을 표시하는 컴포넌트 입니다.
    리스트 내에서는 게시글 제목, 작성자, 작성 시간, 조회수, 좋아요 수, 댓글 수를 표시합니다.

    게시글의 요약 정보는 보통 다음과 같은 정보를 포함합니다:
    post = {
        'id': 'post id Integer.',
        'title': 'post title String.',
        'author': { # 게시글 작성자 정보. 만약 여행지 게시글일 경우, partner_name으로 표시해야함.
            'nickname': 'author nickname String.',
            'partner_name': 'author partner name String.',
        },
        'created_at': 'post created time String(YYYY-MM-DD HH:MM).',
        'view_count': 'post view count Integer.',
        'like_count': 'post like count Integer.',
        'comment_count': 'post comment count Integer.',
    }
-->
<a class="text-dark text-decoration-none" href="/post/post_view?post_id={{post.id}}&board_ids={{request.GET.board_ids}}">
    <div class="mb-3 pb-3 border-bottom">
        <p class="text-black-50 small m-0">
            {% for board in post.boards %}
            {{ board.name }} {% if not forloop.last %} > {% endif %}
            {% endfor %}
        </p>
        <p>
            {{post.title}}<br>
            <span class="text-black-50 small">
                {{post.author.nickname}}
            </span>
        </p>
        <p class="m-0 text-end text-black-50" style="font-size: 12px;">
            <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-rr-eye"></i> {{post.view_count}}
            </span>
            <span class="me-1" style="white-space: nowrap;">
                <i class="fi fi-rr-social-network"></i> {{post.like_count}}
            </span>
            <span style="white-space: nowrap;">
                <i class="fi fi-rr-comment-dots"></i> {{post.comment_count}}
            </span>
        </p>
    </div>
</a>