{% extends 'base/base_partner.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <!-- 페이지 타이틀 -->
    {% with title='쿠폰 관리' subtitle='쿠폰 발급 및 관리. 쿠폰 사용 내역 확인' %}
    {% include 'components/main/title_section.html' %}
    {% endwith %}

    <!-- 선택지 버튼 그룹 -->
    <div class="btn-group w-100 d-flex">
      {% include 'components/main/page_tab.html' with tab_name='쿠폰' tab_id='couponTab' tab_link='/partner/coupon?tab=couponTab' %}
      <span class="divider"></span>
      {% include 'components/main/page_tab.html' with tab_name='쿠폰 사용 내역' tab_id='historyTab' tab_link='/partner/coupon?tab=historyTab' %}
    </div>

    <!-- 검색 -->
    <div class="rounded border p-3 my-5 shadow">
      <p>
        <i class="fi fi-rr-search"></i> 검색
      </p>
      <form id="couponSearchForm" method="GET" action="{{supervisor_url}}/supervisor/coupon">
        <input type="hidden" name="tab" value="coupon">
        <div class="row">
          <div class="form-group mt-4 col-12">
            <label>이름</label>
            <input class="form-control" name="coupon_name" placeholder="쿠폰 이름">
          </div>
          <div class="form-group mt-4 col-12">
            <label>코드</label>
            <input class="form-control" name="coupon_code" placeholder="쿠폰 코드">
          </div>
        </div>
      </form>
      <p class="text-end pt-5">
        <a class="btn btn-success" href="javascript: document.getElementById('couponSearchForm').submit()">
          <i class="fi fi-rr-search"></i> 검색
        </a>
      </p>
    </div>

    <!-- 쿠폰 -->
    <div class="mt-4">

      <!-- 버튼 -->
      {% if request.GET.tab == 'couponTab' %}
      <div class="p-3 mb-5 text-end">
        <a href="javascript: new bootstrap.Modal(document.getElementById('writeCouponModal')).show();"
          class="btn btn-success btn-sm small">
          <i class="fi fi-rr-plus"></i> 새 쿠폰 등록
        </a>
      </div>
      {% endif %}

      <!-- 쿠폰 목록 -->
      <div class="mb-5" style="min-height: 300px;">
        <h6 class="text-black-60 mb-3 pb-3 border-bottom">
          쿠폰
        </h6>
        {% if coupons|length == 0 %}
        <p>
          쿠폰이 없습니다.
        </p>
        {% endif %}
        {% for coupon in coupons %}
        <a href="#" class="text-dark">
          <div class="p-2 mb-2 pb-3 border-bottom">
              <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                  <div style="display: inline-block; text-align: left;">
                      <h6 class="text-black-60 mb-4">
                          {{coupon.name}}
                      </h6>
                      <p class="text-black-50 small m-0">
                          여행지: {{coupon.related_post.title}}
                      </p>
                      <p class="text-black-50 small">
                          사용기간: {{coupon.expire_at}}까지
                      </p>
                  </div>
                  <div style="display: inline-block; text-align: right;">
                      <p class="text-black-50">
                          <i class="fi fi-ss-coins"></i> <span class="numberComma">1000</span> 마일리지 필요
                      </p>
                  </div>
              </div>
          </div>
        </a>
        {% endfor %}
      </div>

    </div>

    <!-- 안내 메세지 -->
    <div class="alert alert-info small">
      <i class="fi fi-rr-info"></i> 쿠폰은 상세보기를 통해 쿠폰 코드를 확인하고 사용할 수 있습니다. 쿠폰을 다른 사용자에게 전달하려면 쪽지 기능을 이용해주세요.
    </div>

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>

<!-- 쿠폰 생성 -->
{% include 'components/modal/coupon/create_coupon.html' %}

<script>

  window.addEventListener('load', (event) => {

    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // Tab
    var tab = '{{request.GET.tab}}';
    if (tab == '') {
      location.href = '{{PARTNER_URL}}/partner/coupon?tab=couponTab';
    }

    // pagination
    if ('{{last_page}}' && document.querySelector('#pageButton')) {
      var tab = '{{request.GET.tab}}';
      makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{PARTNER_URL}}/partner/coupon?tab=${tab}`);
    }
  });

  // 쿠폰 만료 처리(삭제)
  changeCouponStatusExpire = async (code) => {

    var formData = new FormData();
    formData.append('code', code);
    formData.append('status', 'deleted');

    // API 호출
    var response = await fetch('/api/coupon?patch=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    // 결과 처리
    if (response == 'success') {
      await showAlert('쿠폰 만료 처리', '쿠폰이 만료 처리되었습니다.', 'success');
      location.reload();
    } else {
      await showAlert('쿠폰 만료 처리', '쿠폰 만료 처리에 실패했습니다.', 'danger');
    }
  }

  // 쿠폰 사용 처리
  useCoupon = async (code, account_id) => {

    var formData = new FormData();
    formData.append('code', code);
    formData.append('account', account_id);

    // API 호출
    var response = await fetch('/api/coupon_user?use=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    // 결과 처리
    if (response == 'success') {
      await showAlert('쿠폰 사용 처리', '쿠폰 사용 처리가 완료되었습니다.', 'success');
      location.reload();
    } else {
      await showAlert('쿠폰 사용 처리', '쿠폰 사용 처리에 실패했습니다.', 'danger');
    }
  }

  // 쿠폰 회수
  deleteCoupon = async (code, account_id) => {

    var formData = new FormData();
    formData.append('code', code);
    formData.append('account', account_id);

    // API 호출
    var response = await fetch('/api/coupon_user?retrieve=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    // 결과 처리
    if (response == 'success') {
      await showAlert('쿠폰 회수', '쿠폰 회수가 완료되었습니다.', 'success');
      location.reload();
    } else {
      await showAlert('쿠폰 회수', '쿠폰 회수에 실패했습니다.', 'danger');
    }
  }

  // 쿠폰 사용 취소
  cancelUseCoupon = async (code, account_id) => {

    var formData = new FormData();
    formData.append('code', code);
    formData.append('account', account_id);

    // API 호출
    var response = await fetch('/api/coupon_user?cancel=y', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        return data.result;
      });

    // 결과 처리
    if (response == 'success') {
      await showAlert('쿠폰 사용 취소', '쿠폰 사용 취소가 완료되었습니다.', 'success');
      location.reload();
    } else {
      await showAlert('쿠폰 사용 취소', '쿠폰 사용 취소에 실패했습니다.', 'danger');
    }
  }

</script>

{% endblock %}