{% extends 'base/base_partner.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: 300px;">

      <!-- 페이지 타이틀 -->
      {% with title='여행지 관리' subtitle='여행지 게시글과 광고 확인' %}
      {% include 'components/main/title_section.html' %}
      {% endwith %}

      <!-- 게시글 -->
      <div class="my-5">

        <!-- 버튼 -->
        <div class="p-3 mb-5 text-end">

          <a class="btn btn-primary btn-sm me-2" href="{{PARTNER_URL}}/partner/write_post">
            <i class="fi fi-rr-edit"></i> 글 작성
          </a>

        </div>

        <!-- 검색 결과 -->
        {% if posts|length  ==  0 %}
        <p>
          게시글이 없습니다.
        </p>
        {% endif %}

        {% for post in posts %}
        <div style="display: flex; justify-content: space-between; white-space: nowrap;">
          <div class="col-6 col-lg-4 p-2">
            <a class="text-dark text-decoration-none" href="{{PARTNER_URL}}/partner/rewrite_post?post_id={{post.id}}">
                <div class="card hover-scale overflow-hidden shadow-sm">
                    <div class="hover-scale-in blog-card-ratio ratio ratio-4x3">

                        <!-- 여행지 정보 상태가 'ad'인 경우, 베스트 업체로 표시 -->
                        {% if post.place_info.status == 'ad' %}
                        <span
                            class="bg-primary px-3 py-1 position-absolute top-0 start-0 w-auto h-auto z-1 mt-2 ms-2 text-white fs-sm text-center"
                            style="line-height: 16px;">
                            베스트<br>업체
                        </span>
                        {% endif %}

                        <img class="blog-card-ratio-img card-img-top" src="{{post.image}}">
                    </div>
                    <div class="card-body">

                        <!-- 카테고리 -->
                        <span class="text-black-50" style="font-size: 12px;">
                            {% for category in post.place_info.categories %}
                            {{ category.name }} {% if not forloop.last %} > {% endif %}
                            {% endfor %}
                        </span>

                        <!-- 제목 -->
                        <h6 class="mb-4">
                            {{ post.title }}
                        </h6>

                        <!-- 주소 -->
                        <p class="small text-black-50 mb-1">
                            <i class="fi fi-rr-marker"></i> {{ post.place_info.location_info }}
                        </p>

                        <!-- 오픈 정보 -->
                        <p class="small text-black-50 mb-1">
                            <i class="fi fi-rr-info"></i> {{ post.place_info.open_info }}
                        </p>

                    </div>
                    <div class="card-footer">

                        <!-- 댓글보기, 후기 검색, 정보 보기 버튼 -->
                        <span
                            class="btn btn-sm btn-outline-secondary small p-1 px-2">
                            <i class="fi fi-rr-eye"></i> 상세
                        </span>
                        <span
                            class="btn btn-sm btn-outline-secondary small p-1 px-2">
                            <i class="fi fi-rr-star"></i> 후기
                        </span>
                        <span
                            class="btn btn-sm btn-outline-secondary small p-1 px-2">
                            <i class="fi fi-rr-comment"></i> 댓글
                        </span>

                    </div>
                </div>
            </a>
        </div>
          <div style="flex: 1; padding-left: 10px;">
            <div class="border rounded p-3 mt-2">
              <p>
                <span class="h5 text-black-60 me-2">
                  광고 설정
                </span>
                <a href="javascript: new bootstrap.Modal(document.getElementById('{{post.id}}Modal')).show()"
                  class="text-black-50">
                  <i class="fi fi-rr-edit"></i>
                </a>
              </p>
              <p>
                광고 상태:
                {% if post.place_info.status == 'ad' %}
                <span class="badge bg-primary">광고중</span>
                {% elif post.place_info.status == 'active' %}
                <span class="badge bg-secondary">광고 없음</span>
                {% elif post.place_info.status == 'blocked' %}
                <span class="badge bg-danger">숨김</span>
                {% elif post.place_info.status == 'writing' %}
                <span class="badge bg-warning">작성중</span>
                {% elif post.place_info.status == 'pending' %}
                <span class="badge bg-info">광고 승인대기</span>
                {% endif %}
              </p>
              <p class="small text-black-50">
                광고 시작 일시: {{post.place_info.ad_start_at}}<br>
                광고 종료 일시: {{post.place_info.ad_end_at}}<br>
              </p>
            </div>
          </div>
        </div>
        <div class="modal fade" id="{{post.id}}Modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">
                          {{ post.title }} 광고 설정
                      </h5>
                      <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                      <!-- 광고 상태 -->
                      <div class="form-group mb-4">
                          <label>광고 상태</label>
                          <select class="form-control" id="{{ post.id }}adStatus">
                            <option value="pending" {% if post.place_info.status == 'pending' %}selected{% endif %}>광고 요청</option>
                            <option value="active" {% if post.place_info.status == 'active' %}selected{% endif %}>게시</option>
                            <option value="writing" {% if post.place_info.status == 'writing' %}selected{% endif %}>숨김</option>
                          </select>
                          <div class="alert alert-info small mt-2">
                            <i class="fi fi-rr-info"></i> 한번에 하나의 게시글만 게시할 수 있습니다.
                          </div>
                      </div>

                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary me-2" onclick="updateAd('{{ post.id }}');"
                          data-bs-dismiss="modal">
                          <i class="fi fi-rr-edit"></i> 수정하기</button>
                          <button class="btn btn-secondary" data-bs-dismiss="modal">
                              취소
                          </button>
                  </div>
              </div>
          </div>
      </div>
        {% endfor %}

      </div>

    </div>

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end mb-5">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>
<script>

  // 여행지 게시글 광고 설정
  updateAd = async (post_id) => {
    var adStatus = document.getElementById(post_id + 'adStatus').value;

    var formData = new FormData();
    formData.append('place_status', adStatus);

    // 수정 요청
    await fetch('{{PARTNER_URL}}/partner/partner?post_id=' + post_id, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': csrftoken,
      },
    })
      .then(response => response.json())
      .then(async data => {
        console.log(data);
        if (data.result  ==  'success') {
          await showAlert('수정 성공', '광고 설정이 수정되었습니다.', 'success');
          location.reload();
        } else {
          await showAlert('수정 실패', '광고 설정 수정에 실패했습니다.', 'danger');
        }
      });
  }

</script>

{% endblock %}