{% extends 'base/base_partner.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: calc(100vh - 160px);">

      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}
      {% include 'components/main/title_section.html' with title='쪽지' subtitle='쪽지 수신 및 발신 내역을 확인하고 쪽지를 보낼 수 있습니다.' %}

      <!-- 선택지 버튼 그룹 -->
      <div class="btn-group w-100 d-flex">
        <div class="w-100 d-flex justify-content-center">
          <a class="w-100 btn" href="{{PARTNER_URL}}/partner/message?tab=inboxTab" id="inboxTab">
            받은 쪽지함
          </a>
        </div>
        <script>
            window.addEventListener('load', () => {
                if ('{{request.GET.tab}}' == 'inboxTab') { // 해당 탭이 선택 되었을 경우,
                    document.getElementById('inboxTab').classList.add('pastel-pink-background');
                    document.getElementById('inboxTab').classList.add('text-white');
                } else { // 해당 탭이 선택 되지 않았을 경우,
                    document.getElementById('inboxTab').classList.add('pastel-beige-background');
                }
            });
        </script>
        <span class="divider"></span>
        <div class="w-100 d-flex justify-content-center">
          <a class="w-100 btn" href="{{PARTNER_URL}}/partner/message?tab=outboxTab" id="outboxTab">
            보낸 쪽지함
          </a>
        </div>
        <script>
            window.addEventListener('load', () => {
                if ('{{request.GET.tab}}' == 'outboxTab') { // 해당 탭이 선택 되었을 경우,
                    document.getElementById('outboxTab').classList.add('pastel-pink-background');
                    document.getElementById('outboxTab').classList.add('text-white');
                } else { // 해당 탭이 선택 되지 않았을 경우,
                    document.getElementById('outboxTab').classList.add('pastel-beige-background');
                }
            });
        </script>
      </div>

      <!-- 쪽지 목록 -->
      <div class="mt-4">

        <!-- 쪽지 목록 -->
        <div class="mb-5" style="min-height: 300px;">
          <h6 class="text-black-60 mb-3 pb-3 border-bottom">
            쪽지
          </h6>
          {% if messages|length == 0 %}
          <p>
            쪽지가 없습니다.
          </p>
          {% endif %}
          {% for message in messages %}
          {% include 'components/main/message_list.html' %}
          {% include 'components/modal/message/view_message.html' %}
          {% endfor %}
        </div>

        <!-- 안내 메세지 -->
        <div class="alert alert-info small">
          <i class="fi fi-rr-info"></i> 쿠폰은 상세보기를 통해 쿠폰 코드를 확인하고 사용할 수 있습니다. 사용 기간이 있는 경우, 기간 내에 사용해주세요.
        </div>

      </div>

    </div>

    <!-- 버튼 -->
    {% if account.account_type == 'partner' %}
    <div class="text-end">
      <a class="btn btn-success" href="javascript: new bootstrap.Modal(document.getElementById('newMessageModal')).show();">
        <i class="fi fi-rr-edit"></i> 쪽지 쓰기
      </a>
    </div>
    {% endif %}

    <!-- 페이지네이션 영역 -->
    {% include 'components/main/pagination.html' %}

    <!-- 맨 위로 가기 버튼 -->
    <div class="text-end">
      {% include 'components/main/top_button.html' %}
    </div>

  </div>

</main>

<!-- 쪽지 작성 모달 -->
{% include 'components/modal/message/create_message.html' %}

<script>

  // 페이지 로드 시 탭 선택 확인
  window.addEventListener('load', () => {
    const tab = '{{request.GET.tab}}';
    if (!tab) {
      location.href = '{{PARTNER_URL}}/partner/message?tab=inboxTab';
    }
  });

  window.addEventListener('load', () => {
    console.log(`Window loaded at ${getNowDatetimeString()}`);

    // pagination
    // 만약 contexts에서 lastpage를 받았고, pagination 컴포넌트가 있다면, 페이지네이션을 생성합니다.
    if ('{{last_page}}' && document.querySelector('#pageButton')) {
      makePaegeButton('{{request.GET.page}}', '{{last_page}}', `{{PARTNER_URL}}/partber/message?search=&tab={{request.GET.tab}}`);
    }

    // to
    var to = '{{request.GET.to}}';
    if (to != '') {
      new bootstrap.Modal(document.getElementById('newMessageModal')).show();
      var html = `
            <div style="display: flex; justify-content: space-between; white-space: nowrap;" id="${nowAccountId}">
                <div style="display: inline-block; text-align: left;">
                    <p class="text-black-60 mb-1">
                        ${to}
                    </p>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="javascript: deleteUser('${to}');" class="small text-danger">
                        삭제
                    </a>
                </div>
            </div>
        `;
        receiverList.innerHTML += html;
        receiverConfirmMessage.innerHTML = '사용자를 추가했습니다.';
        receiverConfirmMessage.classList.add('text-success');
        receiverConfirmMessage.classList.remove('text-danger');
        receiverId.value = nowAccountId + ',';
    }

  });


  // 쪽지 답장
  replyMessage = (receiverId, messageTitle) => {
    document.getElementById('messageTitle').value = '답장: ' + document.getElementById('messageTitle').value;
    document.getElementById('messageContent').value = `[${messageTitle}]\n답장: `;
    new bootstrap.Modal(document.getElementById('newMessageModal')).show();

    var html = `
            <div style="display: flex; justify-content: space-between; white-space: nowrap;" id="${receiverId}">
                <div style="display: inline-block; text-align: left;">
                    <p class="text-black-60 mb-1">
                        ${receiverId}
                    </p>
                </div>
                <div style="display: inline-block; text-align: right;">
                    <a href="javascript: deleteUser('${receiverId}');" class="small text-danger">
                        삭제
                    </a>
                </div>
            </div>
        `;
    receiverList.innerHTML += html;
    receiverConfirmMessage.innerHTML = '사용자를 추가했습니다.';
    receiverConfirmMessage.classList.add('text-success');
    receiverConfirmMessage.classList.remove('text-danger');
    receiverId.value = receiverId + ',';
  }

</script>

{% endblock %}