{% extends 'base/base_partner.html' %}
{% block content %}
<main class="container">

  <div class="main-section">

    <div style="min-height: calc(100vh - 160px);">


      <!-- 페이지 타이틀 -->
      {% include 'components/main/breadcrumbs.html' %}

      <!-- 여행지 정보 -->
      {% with subtitle=post.title %}
      {% include 'components/main/title_section.html' with title='여행지 정보 생성' subtitle='새 여행지 정보를 입력해주세요.' %}
      {% endwith %}

      <!-- 여행지 정보 수정 폼 -->
      <!-- 게시글 작성 폼 -->
      <div class="mt-4">

        <!-- 게시판 및 카테고리 선택 -->
        <div class="my-4 row">
          <div class="form-group col-6">
            <label>게시판</label>
            <select class="form-select" id="board_id">
              {% for board in boards %}
              <option value="{{ board.id }}" {% if board.id == request.GET.board_id %}selected{% endif %}>{{ board.name }}</option>
              {% if board.children|length > 0 %}
              {% for child in board.children %}
              <option value="{{ board.id }},{{ child.id }}" {% if child.id == request.GET.board_id %}selected{% endif %}>- {{ child.name }}</option>
              {% if child.children|length > 0 %}
              {% for grandchild in child.children %}
              <option value="{{ board.id }},{{ child.id }},{{ grandchild.id }}" {% if grandchild.id == request.GET.board_id %}selected{% endif %}>
                -- {{ grandchild.name }}</option>
              {% if grandchild.children|length > 0 %}
              {% for grandgrandchild in grandchild.children %}
              <option value="{{ board.id }},{{ child.id }},{{ grandchild.id }},{{ grandgrandchild.id }}" {% if grandgrandchild.id == request.GET.board_id %}selected{% endif %}>--- {{ grandgrandchild.name }}</option>
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-6">
            <label>카테고리</label>
            <select class="form-select" id="category_id">
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}

              {% for category in categories %}
              <option value="{{ category.id }}" {% if category.id == request.GET.category_id %}selected{% endif %}>{{ category.name }}</option>
              {% if category.children|length > 0 %}
              {% for child in category.children %}
              <option value="{{ category.id }},{{ child.id }}" {% if child.id == request.GET.category_id %}selected{% endif %}>- {{ child.name }}</option>
              {% if child.children|length > 0 %}
              {% for grandchild in child.children %}
              <option value="{{ category.id }},{{ child.id }},{{ grandchild.id }}" {% if grandchild.id == request.GET.category_id %}selected{% endif %}>
                -- {{ grandchild.name }}</option>
              {% if grandchild.children|length > 0 %}
              {% for grandgrandchild in grandchild.children %}
              <option value="{{ category.id }},{{ child.id }},{{ grandchild.id }},{{ grandgrandchild.id }}" {% if grandgrandchild.id == request.GET.category_id %}selected{% endif %}>--- {{ grandgrandchild.name }}</option>
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- 위치정보 및 영업정보 -->
        <div class="row my-4">
          <div class="form-group col-6">
            <label>위치정보</label>
            <input type="text" class="form-control" id="location_info" placeholder="위치정보를 입력해 주세요." maxlength="30">
          </div>
          <div class="form-group col-6">
            <label>영업정보</label>
            <input type="text" class="form-control" id="open_info" placeholder="영업정보를 입력해 주세요." maxlength="30">
          </div>
        </div>

        <!-- 주소 address, addressDetail -->
        <div class="my-4">
          {% include 'components/main/input_address.html' %}
        </div>

      </div>

      <!-- 게시글 정보 -->
      {% with subtitle=post.title %}
      {% include 'components/main/title_section.html' with title='게시글 정보 생성' %}
      {% endwith %}

      <!-- 게시글 정보 수정 폼 -->
      <div class="mt-4">

        <!-- 대표 이미지 -->
        <div class="my-4">
          <div>
            <label>
                썸네일 이미지
            </label>
            <div id="imageInputPreview" class="mb-3">
              <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('{{ post.image }}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw;"></div>
            </div>
            <a href="javascript: document.getElementById('imageInput').click();" class="btn btn-success btn-sm small">
                <i class="fi fi-rr-picture"></i> 이미지 등록
            </a>
            <input type="file" class="d-none" id="imageInput" multiple>
        </div>
        <script>
            // 대표 이미지 추가
            document.getElementById('imageInput').addEventListener('change', async (e) => {
                const files = e.target.files;

                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const imagePath = e.target.result;
                        document.getElementById('imageInputPreview').innerHTML = `
                <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('${imagePath}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw; cursor: pointer;" onclick="deleteImage(this)"></div>
                `;
                    }
                    reader.readAsDataURL(file);
                }
            });

            // 이미지 삭제
            deleteImage = (element) => {
                element.remove();
                document.getElementById('imageInput').value = '';
            }
        </script>
        </div>

        <!-- 제목 -->
        <div class="my-4">
          <div class="form-group">
            <label>제목</label>
            <input class="form-control" id="title" placeholder="제목을 입력해 주세요." value="{{ post.title }}">
          </div>
        </div>

        <!-- wysiwig 에디터 -->
        <div class="my-4">
          <div class="form-group">
            <label>내용 편집기</label>
            <textarea id="content">
              {{ post.content|safe }}
            </textarea>
            <script>
                // 아래 기능만 메뉴에 활성화
                // 폰트 사이즈, 볼드, 이탤릭, 밑줄, 정렬, 테이블, 이미지, 구분선
                $(document).ready(function () {
                    $('#content').summernote({
                        tabsize: 2,
                        height: 500,
                        toolbar: [
                            ['fontsize', ['fontsize']],
                            ['font', ['bold', 'italic', 'underline', 'clear']],
                            ['para', ['paragraph']],
                            ['table', ['table']],
                            ['insert', ['hr', 'picture']],
                        ]
                    });
                });
            </script>
          </div>
        </div>

        <!-- 작성하기 -->
        <div class="my-5 text-end">
          <a class="btn btn-primary me-2" href="javascript: writePost()">
            <i class="fi fi-rr-edit"></i> 글 작성
          </a>
        </div>

      </div>

    </div>

  </div>

</main>
<script>

  // 대표 이미지 추가
  document.getElementById('imageInput').addEventListener('change', async (e) => {
    const files = e.target.files;

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();
      reader.onload = (e) => {
        const imagePath = e.target.result;
        document.getElementById('imagePreview').innerHTML = `
        <div class="mb-2 me-2 shadow-sm text-end p-2" style="min-width: 150px; width: 12vw; background: url('${imagePath}') center/cover no-repeat; display: inline-block; min-height: 150px; height: 12vw;"></div>
        `;
      }
      reader.readAsDataURL(file);
    }
  });

  // 게시글 작성
  writePost = async () => {
    const title = document.querySelector('#title').value;
    const content = $('#content').summernote('code');

    if (title.length < 2) {
      showAlert('제목 오류', '제목이 너무 짧습니다. 2자 이상 작성해주세요.', 'error');
      return;
    }
    if (content.length < 10) {
      showAlert('내용 오류', '내용이 너무 짧습니다. 10자 이상 입력해주세요.', 'error');
      return;
    }

    var formData = new FormData();
    formData.append('title', title);
    formData.append('content', content);
    formData.append('board_ids', document.getElementById('board_id').value);
    formData.append('category_ids', document.getElementById('category_id').value);
    formData.append('location_info', document.getElementById('location_info').value);
    formData.append('open_info', document.getElementById('open_info').value);
    formData.append('address', document.getElementById('address').value + ' ' + document.getElementById('addressDetail').value);
    if (document.getElementById('imageInput')) {
      formData.append('image', document.getElementById('imageInput').files[0]); // 대표 이미지
    }

    await fetch('{{PARTNER_URL}}/partner/write_post', {
      method: 'POST',
      headers: {
        'X-CSRFToken': csrftoken
      },
      body: formData,
    })
      .then(response => response.json())
      .then(async (data) => {
        if (data.result == 'success') {
          await showAlert('게시글 작성 완료', '게시글이 성공적으로 작성되었습니다.', 'success');
          window.location.href = '{{PARTNER_URL}}/partner/partner';
        } else {
          showAlert('게시글 작성 실패', '게시글 작성 중 오류가 발생했습니다. 잠시 후 다시 시도해주세요.', 'error');
        }
      });
  }

</script>

{% endblock %}